@use 'sass:math';
@use '../../variables';
@use '../../../../styles/mixins';
@use '../variables.scss' as file-preview-css-variables;

$block: '.#{variables.$ns}file-preview-actions';

$desktopButtonSize: 24px;
$mobileActionsGap: 2px;

#{$block} {
    --_-mobile-actions-menu-size: 28px;

    &__desktop-actions,
    &__mobile-actions-menu {
        position: absolute;
        z-index: 1;
    }

    &__mobile-actions-menu {
        height: $desktopButtonSize;
        width: $desktopButtonSize;
        padding: 0;

        inset-block-start: file-preview-css-variables.$verticalCardPadding + $mobileActionsGap;
        inset-inline-end: math.div(
                file-preview-css-variables.$cardWidth -
                    file-preview-css-variables.$imagePreviewWidth,
                2
            ) +
            $mobileActionsGap;

        &::before {
            box-shadow: none;
        }
    }

    &__desktop-actions {
        inset-block-start: -1 * math.div($desktopButtonSize, 2);
        inset-inline-end: -1 * math.div($desktopButtonSize, 2);
        opacity: 0;
        display: flex;
        gap: var(--g-spacing-1);
    }

    &__desktop-action-button {
        width: $desktopButtonSize;
        height: $desktopButtonSize;
        justify-content: center;
        align-items: center;
    }

    &__action-icon-wrapper {
        display: flex;
    }

    &__mobile-list-item {
        display: flex;
        gap: var(--g-spacing-2);
        align-items: center;
        padding: 0 var(--g-spacing-4);

        & > svg {
            width: var(--_-mobile-icon-size);
            height: var(--_-mobile-icon-size);
        }
    }

    &__mobile-sheet {
        --_-mobile-icon-size: 18px;
        --g-sheet-content-padding: var(--g-spacing-1) 0;
    }
}
