@use '../variables';

#{variables.$footerBlock} {
    padding: 28px var(--_--side-padding);
    display: flex;
    align-items: center;
    justify-content: flex-end;

    &__bts-wrapper {
        display: flex;
        gap: 10px;
    }

    &__children {
        flex-grow: 1;
        height: 100%;
        align-items: center;
        display: flex;
    }

    &__button {
        min-width: 128px;
        position: relative;
    }

    &__error {
        padding: 10px;
        color: var(--g-color-text-danger);
    }

    &_mobile {
        padding-block: 12px;
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-start;
    }

    &_mobile &__bts-wrapper {
        flex-direction: column-reverse;
    }

    &_mobile &__children {
        flex-grow: 0;
        height: auto;
    }
}
