@use '../../variables';

$block: '.#{variables.$ns}dialog-footer';

#{$block} {
    padding: 28px var(--_--side-padding);
    display: flex;
    align-items: center;

    &__bts-wrapper {
        display: flex;
        gap: 10px;
    }

    &__children {
        flex-grow: 1;
        height: 100%;
        align-items: center;
        display: flex;
    }

    &__button {
        min-width: 128px;
        position: relative;
    }

    &__error {
        padding: 10px;
        color: var(--g-color-text-danger);
    }
}
