@use '../../../styles/mixins';
@use '../variables';

$block: '.#{variables.$ns}popover';

#{$block} {
    display: inline-block;
    position: relative;

    &:not(&_disabled) {
        cursor: pointer;
    }

    &__handler {
        display: inline-block;
    }

    $class: &;

    &__tooltip {
        $tooltip_block: &;

        --yc-popover-padding: 16px;
        --yc-popover-close-margin: 8px;
        --yc-popover-close-size: 24px;

        $buttonGap: 5px;

        &-popup-content {
            box-sizing: border-box;
            min-height: 40px;
            max-width: var(--yc-popover-max-width);
            padding: var(--yc-popover-padding);
            cursor: default;
        }

        &-title {
            @include mixins.text-subheader-3();
            display: inline-flex;
            margin: 0 0 12px;
        }

        &-buttons {
            display: flex;
            flex-wrap: wrap;
            // giving additional -5 margin
            // this is taking into account the margins of buttons
            // to imitate the `gap` property for flexbox
            margin: (20px - $buttonGap) (-$buttonGap) (-$buttonGap);

            $buttonClass: #{$class}__tooltip-button;
        }

        &-button {
            margin: $buttonGap;
            flex: 1;
        }

        &-close {
            position: absolute;
            inset-block-start: var(--yc-popover-close-margin);
            inset-inline-end: var(--yc-popover-close-margin);
        }

        &-content {
            @include mixins.text-body-1();
            overflow-wrap: break-word;

            &_secondary {
                opacity: 0.7;
            }
        }

        &-links > * {
            margin-block-start: 8px;

            &:first-child {
                margin-block-start: 0;
            }
        }

        &-content + &-links > * {
            &:first-child {
                margin-block-start: 12px;
            }
        }

        &-link {
            @include mixins.text-body-1();
            display: inline-block;
        }

        &_theme {
            &_info,
            &_announcement {
                // Increasing specificity for overrides
                &#{&} {
                    color: var(--g-color-text-primary);
                }

                #{$class}__tooltip-content a:not(.yc-button) {
                    @at-root #{$tooltip_block}_force-links-appearance#{&} {
                        text-decoration: none;
                        color: var(--g-color-text-link);

                        &:hover {
                            color: var(--g-color-text-link-hover);
                        }
                    }
                }
            }

            &_announcement {
                --g-popup-background-color: var(--g-color-base-simple-hover-solid);
                --g-popup-border-color: var(--g-color-base-simple-hover-solid);
            }

            &_special {
                --g-popup-background-color: var(--g-color-base-brand);
                --g-popup-border-color: var(--g-color-base-brand);
                color: var(--g-color-text-light-primary);

                #{$class}__tooltip-content a:not(.yc-button) {
                    @include mixins.text-accent;
                    color: var(--g-color-text-light-primary);

                    &:hover {
                        color: var(--g-color-text-light-secondary);
                    }
                }

                .yc-link {
                    color: var(--g-color-text-light-primary);

                    &:hover {
                        color: var(--g-color-text-light-secondary);
                    }
                }
            }
        }

        &_size {
            &_l {
                --yc-popover-padding: 24px;

                #{$class}__tooltip-title {
                    @include mixins.text-header-1();
                }

                #{$class}__tooltip-content {
                    @include mixins.text-body-2();
                }
            }
        }

        &_with-close {
            #{$class}__tooltip-title,
            #{$class}__tooltip-content {
                padding-inline-end: calc(
                    var(--yc-popover-close-margin) + var(--yc-popover-close-size) -
                        var(--yc-popover-padding)
                );
            }
        }
    }
}

.g-root {
    --yc-popover-max-width: 300px;
}
