@use '../variables';

$block: '.#{variables.$ns-new}pagination';

#{$block} {
    display: flex;

    &__pagination-item {
        margin-inline-end: 4px;
    }

    &__input,
    &__page-sizer {
        margin: 0 4px;
    }
}
