@use '../variables' as variables;

$block: '.#{variables.$ns}color-text';

$textColorMap: (
    'primary' var(--yc-color-text-primary),
    'complementary' var(--yc-color-text-complementary),
    'secondary' var(--yc-color-text-secondary),
    'hint' var(--yc-color-text-hint),
    'info' var(--yc-color-text-info),
    'positive' var(--yc-color-text-positive),
    'warningMedium' var(--yc-color-text-warning-medium),
    'warningHeavy' var(--yc-color-text-warning-heavy),
    'danger' var(--yc-color-text-danger),
    'utility' var(--yc-color-text-utility),
    'misc' var(--yc-color-text-misc),
    'special' var(--yc-color-text-special),
    'link' var(--yc-color-text-link),
    'linkHover' var(--yc-color-text-link-hover),
    'yandexRed' var(--yc-color-text-yandex-red),
    'darkPrimary' var(--yc-color-text-dark-primary),
    'darkComplementary' var(--yc-color-text-dark-complementary),
    'darkSecondary' var(--yc-color-text-dark-secondary),
    'lightPrimary' var(--yc-color-text-light-primary),
    'lightComplementary' var(--yc-color-text-light-complementary),
    'lightSecondary' var(--yc-color-text-light-secondary),
    'lightHint' var(--yc-color-text-light-hint),
    'invertedPrimary' var(--yc-color-text-inverted-primary),
    'invertedComplementary' var(--yc-color-text-inverted-complementary),
    'invertedSecondary' var(--yc-color-text-inverted-secondary),
    'invertedHint' var(--yc-color-text-inverted-hint)
);

#{$block} {
    @each $mod, $value in $textColorMap {
        &_color_#{$mod} {
            color: $value;
        }
    }
}
