@mixin yc-colors-line-dark {
    --yc-color-line-generic: var(--yc-color-private-white-150);
    --yc-color-line-generic-hover: var(--yc-color-private-white-250);
    --yc-color-line-generic-active: var(--yc-color-private-white-300);
    --yc-color-line-generic-accent: var(--yc-color-private-white-150);
    --yc-color-line-generic-accent-hover: var(--yc-color-private-white-300);
    --yc-color-line-solid: var(--yc-color-private-white-150-solid);
    --yc-color-line-selection-hover: var(--yc-color-brand-light);
    --yc-color-line-selection-active: var(--yc-color-brand-normal);
    --yc-color-line-link: var(--yc-color-brand-normal);

    --yc-color-line-info: var(--yc-color-private-blue-450);
    --yc-color-line-positive: var(--yc-color-private-green-450);
    --yc-color-line-warning: var(--yc-color-private-yellow-150);
    --yc-color-line-danger: var(--yc-color-private-red-450);
    --yc-color-line-misc: var(--yc-color-private-cool-grey-450);
    --yc-color-line-hint: var(--yc-color-private-blue-550);

    --yc-color-line-light: var(--yc-color-private-white-500);
}
