@use '../../../styles/mixins';

.typography-demo {
    $block: &;

    min-height: calc(100vh - 1px);
    padding: 50px;

    &__description {
        @include mixins.text-body-2();
        margin-bottom: 25px;
    }

    &__header {
        @include mixins.text-subheader-1();
        margin-bottom: 20px;
        text-transform: uppercase;
        color: var(--yc-color-text-primary);
    }

    &__block + &__block {
        margin-top: 80px;
    }

    &__block_type {
        &_font-sizes {
            #{$block}__item + #{$block}__item {
                margin-top: 24px;
            }
        }

        &_text-contrasts,
        &_font-families {
            @include mixins.text-body-2();

            #{$block}__item + #{$block}__item {
                margin-top: 12px;
            }
        }
    }

    &__value {
        display: inline;
    }

    &__caption {
        @include mixins.text-body-1();
        display: inline-block;
        width: 180px;
        color: var(--yc-color-text-secondary);
        text-transform: uppercase;
    }

    &__item {
        cursor: copy;
    }

    &__item_name {
        // font-families
        &_monospace #{$block}__value {
            font-family: var(--yc-font-family-monospace);
        }
    }

    &__item_deprecated {
        text-decoration: line-through;
    }
}
