@import '../../../styles/mixins';

.typography-demo {
    $block: &;

    min-height: calc(100vh - 1px);
    padding: 50px;

    &__description {
        @include text-body-2();
        margin-bottom: 25px;
    }

    &__header {
        @include text-subheader-1();
        margin-bottom: 20px;
        text-transform: uppercase;
        color: var(--yc-color-text-primary);
    }

    &__block + &__block {
        margin-top: 80px;
    }

    &__block_type {
        &_font-sizes {
            #{$block}__item + #{$block}__item {
                margin-top: 24px;
            }
        }

        &_text-contrasts,
        &_font-families {
            @include text-body-2();

            #{$block}__item + #{$block}__item {
                margin-top: 12px;
            }
        }
    }

    &__value {
        display: inline;
    }

    &__caption {
        @include text-body-1();
        display: inline-block;
        width: 180px;
        color: var(--yc-color-text-secondary);
        text-transform: uppercase;
    }

    &__item {
        cursor: copy;
    }

    &__item_name {
        // variants
        &_body-1 #{$block}__value {
            @include text-body-1();
        }

        &_body-2 #{$block}__value {
            @include text-body-2();
        }

        &_body-3 #{$block}__value {
            @include text-body-3();
        }

        &_body-short #{$block}__value {
            @include text-body-short();
        }

        &_caption-1 #{$block}__value {
            @include text-caption-1();
        }

        &_caption-2 #{$block}__value {
            @include text-caption-2();
        }

        &_header-1 #{$block}__value {
            @include text-header-1();
        }

        &_header-2 #{$block}__value {
            @include text-header-2();
        }

        &_subheader-1 #{$block}__value {
            @include text-subheader-1();
        }

        &_subheader-2 #{$block}__value {
            @include text-subheader-2();
        }

        &_subheader-3 #{$block}__value {
            @include text-subheader-3();
        }

        &_display-1 #{$block}__value {
            @include text-display-1();
        }

        &_display-2 #{$block}__value {
            @include text-display-2();
        }

        &_display-3 #{$block}__value {
            @include text-display-3();
        }

        &_display-4 #{$block}__value {
            @include text-display-4();
        }

        &_code-1 #{$block}__value {
            @include text-code-1();
        }

        &_code-inline-1 #{$block}__value {
            @include text-code-inline-1();
        }

        &_code-2 #{$block}__value {
            @include text-code-2();
        }

        &_code-inline-2 #{$block}__value {
            @include text-code-inline-2();
        }

        &_code-3 #{$block}__value {
            @include text-code-3();
        }

        &_code-inline-3 #{$block}__value {
            @include text-code-inline-3();
        }

        // font-families
        &_monospace #{$block}__value {
            font-family: var(--yc-font-family-monospace);
        }
    }

    &__item_deprecated {
        text-decoration: line-through;
    }
}
