@use '../../variables';
@use '../sliderVariables';
@use '../../../../styles/mixins';

$block: '.#{variables.$ns-new}slider-tooltip';

#{$block} {
    position: absolute;
    top: -#{sliderVariables.$slider-tooltip-offset};
    transform: translate(-50%, -100%);
    cursor: default;

    $base-background-color: var(--g-color-base-background);

    &__card {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        padding: 4px 4px 2px;
        background-color: #{sliderVariables.$slider-color};
        @include mixins.text-body-1;
        color: #{sliderVariables.$handle-center-color};

        &_size {
            &_xl {
                @include mixins.text-body-2;
            }
        }
    }

    &__pin {
        display: flex;
        position: absolute;
        bottom: -5px;
        left: 0;
        right: 0;
        justify-content: center;
        color: #{sliderVariables.$slider-color};
    }

    &_error &__card {
        background-color: #{sliderVariables.$slider-error-color};
    }

    &_disabled &__card {
        background-color: #{sliderVariables.$slider-disabled-color};
    }

    //use this element to prevent crossing effect
    &_disabled &__card::after {
        content: '';
        position: absolute;
        inset: 0;
        border-radius: 4px;
        background-color: $base-background-color;
        z-index: -1;
    }

    &_error &__pin {
        color: #{sliderVariables.$slider-error-color};
    }

    &_disabled &__pin {
        color: #{sliderVariables.$slider-disabled-color};
        &_background {
            color: $base-background-color;
        }
    }
}
