@use '../../../styles/lib/animation';
@import '../variables';

$block: '.#{$ns}radio';
$discMarginMSize: 5px;
$discMarginLSize: 6px;

#{$block} {
    display: inline-flex;
    font-family: var(--yc-text-body-font-family);
    font-weight: normal;
    color: var(--yc-color-text-primary);
    user-select: none;
    touch-action: manipulation;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    cursor: pointer;

    &__indicator {
        flex-shrink: 0;
        display: inline-block;
        position: relative;
        cursor: inherit;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;

            background-color: transparent;
            border: 1px solid var(--yc-color-line-generic-accent);
            border-radius: 50%;
            transition: background animation.get-timing(0.1s) linear;
        }

        &::after {
            content: '\00a0';
            visibility: hidden;
        }
    }

    &__disc::before {
        content: '';
        position: absolute;

        border: none;
        background-color: var(--yc-my-color-brand-text-contrast);
        border-radius: 50%;
        opacity: 0;
        transform: scale(0.1);
        transition: opacity animation.get-timing(0.1s), transform animation.get-timing(0.2s);
    }

    &__control {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        opacity: 0;
        background: none;
        border: none;
        outline: none;
        cursor: inherit;
    }

    &__outline {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: none;
        pointer-events: none;
        border-radius: 50%;
    }

    &__control:focus + &__outline {
        box-shadow: 0 0 0 2px var(--yc-color-line-misc);
    }

    &__control:focus:not(:focus-visible) + &__outline {
        box-shadow: none;
    }

    &__text {
        white-space: normal;
    }

    &_size {
        &_m {
            font-size: 13px;
            line-height: 15px;

            #{$block}__indicator {
                width: 14px;
                height: 14px;
            }

            #{$block}__text {
                margin-left: 5px;
            }

            #{$block}__disc::before {
                top: $discMarginMSize;
                left: $discMarginMSize;
                right: $discMarginMSize;
                bottom: $discMarginMSize;
            }
        }

        &_l {
            font-size: 15px;
            line-height: 18px;

            #{$block}__indicator {
                width: 17px;
                height: 17px;
            }

            #{$block}__text {
                margin-left: 7px;
            }

            #{$block}__disc::before {
                top: $discMarginLSize;
                left: $discMarginLSize;
                right: $discMarginLSize;
                bottom: $discMarginLSize;
            }
        }
    }

    &:hover {
        #{$block}__indicator {
            &::before {
                border-color: var(--yc-color-line-generic-accent-hover);
            }
        }
    }

    &_checked {
        #{$block}__indicator {
            &::before {
                background-color: var(--yc-color-base-special);
                border: transparent;
            }

            #{$block}__disc::before {
                opacity: 1;
                transform: scale(1);
            }
        }
    }

    &_disabled {
        cursor: default;
        pointer-events: none;

        #{$block}__text {
            opacity: 0.6;
        }

        #{$block}__indicator {
            &::before {
                background-color: var(--yc-color-base-generic-accent-disabled);
                border: transparent;
            }
        }

        &#{$block}_checked {
            #{$block}__indicator {
                &::before {
                    background-color: var(--yc-color-base-special);
                    opacity: 0.5;
                }
            }
        }
    }
}
