@use '../variables';

$block: '.#{variables.$ns}radio';
$discMarginMSize: 5px;
$discMarginLSize: 6px;

#{$block} {
    &__indicator {
        display: inline-block;
        position: relative;
        cursor: inherit;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;

            background-color: transparent;
            border: 1px solid var(--g-color-line-generic-accent);
            border-radius: 50%;
            transition: background 0.1s linear;
        }

        &::after {
            content: '\00a0';
            visibility: hidden;
        }
    }

    &__disc::before {
        content: '';
        position: absolute;

        border: none;
        background-color: var(--g-color-text-brand-contrast);
        border-radius: 50%;
        opacity: 0;
        transform: scale(0.1);
        transition: opacity 0.1s, transform 0.2s;
    }

    &__control {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        opacity: 0;
        background: none;
        border: none;
        outline: none;
        cursor: inherit;
    }

    &__outline {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: none;
        pointer-events: none;
        border-radius: 50%;
    }

    &__control:focus + &__outline {
        box-shadow: 0 0 0 2px var(--g-color-line-generic-focus);
    }

    &__control:focus:not(:focus-visible) + &__outline {
        box-shadow: none;
    }

    &_size {
        &_m {
            #{$block}__indicator {
                width: 14px;
                height: 14px;
            }

            #{$block}__disc::before {
                top: $discMarginMSize;
                left: $discMarginMSize;
                right: $discMarginMSize;
                bottom: $discMarginMSize;
            }
        }

        &_l {
            #{$block}__indicator {
                width: 17px;
                height: 17px;
            }

            #{$block}__disc::before {
                top: $discMarginLSize;
                left: $discMarginLSize;
                right: $discMarginLSize;
                bottom: $discMarginLSize;
            }
        }
    }

    &:hover {
        #{$block}__indicator {
            &::before {
                border-color: var(--g-color-line-generic-accent-hover);
            }
        }
    }

    &_checked {
        #{$block}__indicator {
            &::before {
                background-color: var(--g-color-base-brand);
                border: transparent;
            }

            #{$block}__disc::before {
                opacity: 1;
                transform: scale(1);
            }
        }
    }

    &_disabled {
        #{$block}__indicator {
            &::before {
                background-color: var(--g-color-base-generic-accent-disabled);
                border: transparent;
            }
        }

        &#{$block}_checked {
            #{$block}__indicator {
                &::before {
                    background-color: var(--g-color-base-brand);
                    opacity: 0.5;
                }
            }
        }
    }
}
