@use '../variables';

.#{variables.$ns}form-row {
    --yc-form-row-label-width: 172px;
    --yc-form-row-field-height: 28px;

    margin-bottom: 20px;
    align-items: flex-start;
    display: flex;

    &__left {
        display: flex;
        flex-flow: row;
        min-height: var(--yc-form-row-field-height);
        box-sizing: border-box;
        flex-shrink: 0;
        width: var(--yc-form-row-label-width);
        padding-right: 8px;
    }

    &__field-name {
        align-self: center;
    }

    &__required-mark {
        margin-left: 2px;
        line-height: 0;
        color: var(--yc-color-text-danger);
    }

    &__help-popover {
        margin-left: 4px;
        height: var(--yc-form-row-field-height);
        display: flex;
        align-items: center;
    }

    &__right {
        flex-grow: 1;
    }

    &__field-description {
        margin: 10px 0 0;
        color: var(--yc-color-text-secondary);
        word-break: break-word;
    }
}
