@use '../variables';

.#{variables.$ns}form-row {
    margin-bottom: 20px;
    align-items: flex-start;
    display: flex;

    &__left {
        display: flex;
        flex-flow: row;
        min-height: 28px;
        box-sizing: border-box;
        flex-shrink: 0;
        width: 172px;
        padding-right: 8px;
    }

    &__field-name {
        align-self: center;
    }

    &__required-mark {
        margin-left: 2px;
        line-height: 0;
        color: var(--yc-color-text-danger);
    }

    &__right {
        flex-grow: 1;
    }
}
