@use '../../../../styles/mixins';

.label-showcase {
    .grid {
        display: grid;
        gap: 30px;
    }

    .header {
        @include mixins.text-header-1;
    }

    .section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        & > * {
            width: min-content;
            margin-inline-start: unset;
        }
    }
}
