.label-stories {
    display: flex;
    .yc-label {
        margin-inline-start: 10px;
    }
    .grid {
        display: grid;
        // grid-template-columns: from js
        gap: 30px;
    }
    .section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        & > * {
            width: min-content;
            margin-inline-start: unset;
        }
    }
}
