@use '../../variables' as table;

#{table.$block} {
    // чтобы высота кнопки не влияла на высоту строки
    &__settings {
        height: table.$tableLineHeight;
        display: flex;
        align-items: center;

        &-button {
            // stylelint-disable declaration-no-important
            color: var(--yc-color-text-secondary) !important;
        }
    }
}
