@import '../variables';

$block: '.#{$ns}stories';

@mixin story-content {
    width: auto;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

#{$block} {
    background-color: var(--yc-color-base-background);
    border-radius: 20px;
    max-width: 1280px;
    max-height: 640px;
    min-width: 800px;
    min-height: 480px;
    width: 100%;
    height: 100%;

    &__modal {
        div[aria-modal='true'] {
            border-radius: 20px;
        }
    }

    &__wrap {
        height: calc(100vh - 48px);
        width: calc(100vw - 40px);
        display: flex;
        border-radius: 20px;
        max-width: 1280px;
        max-height: 640px;
        background-color: var(--yc-color-base-selection);
    }

    &__container {
        display: flex;
        justify-content: center;
        background-color: var(--yc-color-base-selection);
        box-shadow: 0 8px 20px var(--yc-color-sfx-shadow);
        border-radius: 20px;
        position: relative;

        width: 100%;
        height: 100%;
    }

    &__left-pane {
        width: 40%;
        margin-left: 8px;
        margin-top: 8px;
        margin-bottom: 8px;
        background-color: var(--yc-color-base-background);
        border-radius: 17px;
        padding: 32px;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        box-sizing: border-box;
    }

    &__right-pane {
        width: 60%;
        padding: 8px;
        display: flex;
        align-items: center;
        box-sizing: border-box;
    }

    &__counter {
        font-size: var(--yc-text-body-2-font-size);
        line-height: var(--yc-text-body-2-line-height);
        color: var(--yc-color-text-secondary);
    }

    &__text-block {
        display: flex;
        flex-grow: 1;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 8px;
    }

    &__text-header {
        font-size: var(--yc-text-display-2-font-size);
        line-height: var(--yc-text-display-2-line-height);
        color: var(--yc-color-text-primary);
    }

    &__text-content {
        font-size: var(--yc-text-body-2-font-size);
        line-height: var(--yc-text-body-2-line-height);
        color: var(--yc-color-text-complementary);

        #{$block}__text-header + & {
            margin-top: 16px;
        }
    }

    &__story-link-block {
        margin-top: 16px;
    }

    &__controls-block {
        display: flex;
        justify-content: space-between;

        button {
            width: calc(50% - 8px);
        }
    }

    &__media-block {
        position: relative;
        display: flex;
        width: 100%;
        height: 100%;
    }
}
