@use '../../../components/variables';

$block: '.#{variables.$ns}async-action-handler-demo';

#{$block} {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
}
