{
    "sourceType": "unambiguous",
    "presets": [
        [
            "@babel/preset-react",
            {
                "runtime": "automatic"
            }
        ],
        [
            "@babel/preset-env",
            {
                "targets": {
                    "chrome": 100
                }
            }
        ],
        "@babel/preset-typescript"
    ],
    "plugins": []
}
