{
    "extends": ["@yandex-cloud/eslint-config", "@yandex-cloud/eslint-config/prettier"],
    "root": true,
    "env": {
        "node": true
    },
    "overrides": [
        {
            "files": ["**/__tests__/**/*.[jt]s?(x)", "**/?(*.)+(spec|test).[jt]s?(x)"],
            "extends": ["plugin:testing-library/react"]
        }
    ]
}
