@use '../variables';
@use '../../../styles/mixins';

$block: '.#{variables.$ns}button';
$iconWidth: 16px;

@mixin button-text-color($color, $hoverColor: $color) {
    &,
    &:link,
    &:visited,
    &:active,
    &:focus {
        color: $color;
    }

    &:hover {
        color: $hoverColor;
    }
}

#{$block} {
    --yc-button-background-color: transparent;
    --yc-button-background-color-hover: transparent;
    --yc-button-icon-space: calc(
        var(--yc-button-padding) + var(--yc-button-icon-size) + var(--yc-button-icon-offset)
    );

    @include mixins.button-reset();
    display: inline-block;
    position: relative;
    overflow: visible;
    box-sizing: border-box;
    height: var(--yc-button-height);
    line-height: var(--yc-button-height);
    min-width: var(--yc-button-min-width);
    font-size: var(--yc-button-font-size);
    user-select: none;
    text-align: center;
    white-space: nowrap;
    text-decoration: none;
    background: transparent;
    touch-action: manipulation;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transition: transform 0.1s ease-out, color 0.15s linear;
    transform: scale(1);

    &::before {
        content: '';
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--yc-button-background-color);
        transition: background-color 0.15s linear;
    }

    &:hover::before {
        background-color: var(--yc-button-background-color-hover);
    }

    &:focus::before {
        box-shadow: 0 0 0 2px var(--g-color-line-misc);
    }

    &:focus:not(:focus-visible)::before {
        box-shadow: none;
    }

    &::after {
        content: '';
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transform: scale(1);
        transition: none;
    }

    &:active {
        transition: none;
        transform: scale(0.96);
    }

    &:active::after {
        transform: scale(1.042);
    }

    &_size {
        &_xs {
            --yc-button-height: 20px;
            --yc-button-border-radius: var(--g-border-radius-xs);
            --yc-button-min-width: 32px;
            --yc-button-padding: 6px;
            --yc-button-icon-size: 12px;
            --yc-button-icon-offset: 4px;
            --yc-button-font-size: 13px;
        }

        &_s {
            --yc-button-height: 24px;
            --yc-button-border-radius: var(--g-border-radius-s);
            --yc-button-min-width: 48px;
            --yc-button-padding: 8px;
            --yc-button-icon-size: 16px;
            --yc-button-icon-offset: 4px;
            --yc-button-font-size: 13px;
        }

        &_m {
            --yc-button-height: 28px;
            --yc-button-border-radius: var(--g-border-radius-m);
            --yc-button-min-width: 56px;
            --yc-button-padding: 12px;
            --yc-button-icon-size: 16px;
            --yc-button-icon-offset: 8px;
            --yc-button-font-size: 13px;
        }

        &_l {
            --yc-button-height: 36px;
            --yc-button-border-radius: var(--g-border-radius-l);
            --yc-button-min-width: 64px;
            --yc-button-padding: 16px;
            --yc-button-icon-size: 16px;
            --yc-button-icon-offset: 8px;
            --yc-button-font-size: 13px;
        }

        &_xl {
            --yc-button-height: 44px;
            --yc-button-border-radius: var(--g-border-radius-xl);
            --yc-button-min-width: 80px;
            --yc-button-padding: 24px;
            --yc-button-icon-size: 20px;
            --yc-button-icon-offset: 12px;
            --yc-button-font-size: 15px;
        }
    }

    &_view {
        &_normal {
            --yc-button-background-color: var(--g-color-base-generic);
            --yc-button-background-color-hover: var(--g-color-base-generic-hover);

            @include button-text-color(var(--yc-color-text-primary));
        }

        &_action {
            --yc-button-background-color: var(--g-color-base-special);
            --yc-button-background-color-hover: var(--g-color-base-special-hover);

            @include button-text-color(var(--yc-color-brand-text-contrast));
        }

        &_outlined,
        &_outlined-info,
        &_outlined-danger {
            --yc-button-background-color: transparent;
            --yc-button-background-color-hover: var(--g-color-base-simple-hover);
        }

        &_outlined {
            @include button-text-color(var(--yc-color-text-primary));

            &::before {
                border: 1px solid var(--g-color-line-generic);
            }
        }

        &_outlined-info {
            @include button-text-color(var(--yc-color-text-info));

            &::before {
                border: 1px solid var(--g-color-line-info);
            }
        }

        &_outlined-danger {
            @include button-text-color(var(--yc-color-text-danger));

            &::before {
                border: 1px solid var(--g-color-line-danger);
            }
        }

        &_raised {
            --yc-button-background-color: var(--g-color-base-float);
            --yc-button-background-color-hover: var(--g-color-base-float-hover);

            @include button-text-color(var(--yc-color-text-primary));

            &::before {
                box-shadow: 0 3px 5px var(--g-color-sfx-shadow);
            }

            &:focus:not(:focus-visible)::before {
                box-shadow: 0 3px 5px var(--g-color-sfx-shadow);
            }

            &:active::before {
                box-shadow: 0 1px 2px var(--g-color-sfx-shadow);
            }

            &:active:focus::before {
                box-shadow: 0 0 0 2px var(--g-color-line-misc);
            }

            &:active:focus:not(:focus-visible)::before {
                box-shadow: 0 1px 2px var(--g-color-sfx-shadow);
            }
        }

        &_flat,
        &_flat-info,
        &_flat-danger,
        &_flat-secondary {
            --yc-button-background-color: transparent;
            --yc-button-background-color-hover: var(--g-color-base-simple-hover);
        }

        &_flat {
            @include button-text-color(var(--yc-color-text-primary));
        }

        &_flat-info {
            @include button-text-color(var(--yc-color-text-info));
        }

        &_flat-danger {
            @include button-text-color(var(--yc-color-text-danger));
        }

        &_flat-secondary {
            @include button-text-color(
                var(--yc-color-text-secondary),
                var(--yc-color-text-primary)
            );
        }

        &_normal-contrast {
            --yc-button-background-color: var(--g-color-base-light);
            --yc-button-background-color-hover: var(--g-color-base-light-hover);

            @include button-text-color(var(--yc-color-text-dark-primary));
        }

        &_outlined-contrast {
            --yc-button-background-color: transparent;
            --yc-button-background-color-hover: var(--g-color-base-light-simple-hover);

            @include button-text-color(var(--yc-color-text-light-primary));

            &::before {
                border: 1px solid var(--g-color-line-light);
            }
        }

        &_flat-contrast {
            --yc-button-background-color: transparent;
            --yc-button-background-color-hover: var(--g-color-base-light-simple-hover);

            @include button-text-color(var(--yc-color-text-light-primary));
        }

        &_flat,
        &_flat-info,
        &_flat-danger {
            &#{$block}_disabled:not(#{$block}_loading),
            &#{$block}_disabled:not(#{$block}_loading) {
                --yc-button-background-color: transparent;
                --yc-button-background-color-hover: transparent;

                color: var(--yc-color-text-hint);
            }
        }

        &_flat-contrast {
            &#{$block}_disabled:not(#{$block}_loading),
            &#{$block}_disabled:not(#{$block}_loading) {
                --yc-button-background-color: transparent;
                --yc-button-background-color-hover: transparent;

                color: var(--yc-color-text-light-hint);
            }
        }

        &_normal-contrast,
        &_outlined-contrast {
            &#{$block}_disabled:not(#{$block}_loading),
            &#{$block}_disabled:not(#{$block}_loading) {
                --yc-button-background-color: var(--g-color-base-light-disabled);
                --yc-button-background-color-hover: var(--g-color-base-light-disabled);

                color: var(--yc-color-text-light-secondary);
            }
        }
    }

    &_view {
        &_normal,
        &_action,
        &_outlined,
        &_outlined-info,
        &_raised,
        &_flat,
        &_flat-secondary,
        &_flat-info {
            &#{$block}_selected {
                --yc-button-background-color: var(--g-color-base-selection);
                --yc-button-background-color-hover: var(--g-color-base-selection-hover);

                @include button-text-color(var(--yc-color-brand-text));

                &::before {
                    border: none;
                }
            }
        }

        &_outlined-danger,
        &_flat-danger {
            &#{$block}_selected {
                --yc-button-background-color: var(--g-color-base-danger);
                --yc-button-background-color-hover: var(--g-color-base-danger-hover);

                @include button-text-color(var(--yc-color-text-danger));

                &::before {
                    border: none;
                }
            }
        }
    }

    @include mixins.pin($block, ('::before', '::after'), var(--yc-button-border-radius));

    &__text {
        display: inline-block;
        white-space: nowrap;
        padding: 0 var(--yc-button-padding);
    }

    &__icon {
        display: inline-block;
        position: relative;
        width: var(--yc-button-icon-size);
        height: var(--yc-button-height);
        pointer-events: none;

        &::after {
            content: '\00a0';
            visibility: hidden;
        }

        &-inner {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &_side_left,
        &_side_right {
            position: absolute;
            top: 0;
        }

        &_side_left {
            left: var(--yc-button-padding);

            & ~ #{$block}__text {
                padding-left: var(--yc-button-icon-space);
            }
        }

        &_side_right {
            right: var(--yc-button-padding);

            & ~ #{$block}__text {
                padding-right: var(--yc-button-icon-space);
            }
        }
    }

    &:has(#{$block}__icon:only-child) {
        --yc-button-padding: 0;
        --yc-button-min-width: 0;
        width: var(--yc-button-height);
    }

    &_disabled {
        cursor: default;
        pointer-events: none;

        &:not(#{$block}_loading) {
            --yc-button-background-color: var(--g-color-base-generic-accent-disabled);
            --yc-button-background-color-hover: var(--g-color-base-generic-accent-disabled);

            color: var(--yc-color-text-hint);

            &::before,
            &:hover::before {
                border: none;
            }
        }

        &:active {
            transform: scale(1);
        }
    }

    &_loading::before {
        @include mixins.loading(
            var(--yc-button-background-color),
            var(--yc-button-background-color-hover)
        );
    }

    &_width_auto {
        max-width: 100%;
    }

    &_width_max {
        width: 100%;
    }

    &_width_auto,
    &_width_max {
        #{$block}__text {
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}
