@use '../../../styles/lib/animation';
@import '../variables';
@import '../../../styles/mixins';

$block: '.#{$ns}button';

@mixin button-text-color($color, $hoverColor: $color) {
    &,
    &:link,
    &:visited,
    &:active,
    &:focus {
        color: $color;
    }

    &:hover {
        color: $hoverColor;
    }
}

#{$block} {
    --yc-button-height: 0;
    --yc-button-background-color: transparent;
    --yc-button-background-color-hover: transparent;

    @include button-reset();
    display: inline-block;
    position: relative;
    overflow: visible;
    box-sizing: border-box;
    height: var(--yc-button-height);
    line-height: var(--yc-button-height);
    font-family: var(--yc-text-body-font-family);
    font-weight: normal;
    user-select: none;
    text-align: center;
    white-space: nowrap;
    text-decoration: none;
    background: transparent;
    touch-action: manipulation;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transition: transform animation.get-timing(0.1s) ease-out,
        color animation.get-timing(0.15s) linear;
    transform: scale(1);

    &::before {
        content: '';
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--yc-button-background-color);
        transition: background-color animation.get-timing(0.15s) linear;
    }

    &:hover::before {
        background-color: var(--yc-button-background-color-hover);
    }

    &::after {
        content: '';
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    &:focus::after {
        box-shadow: 0 0 0 2px var(--yc-color-line-misc);
    }

    &:focus:not(:focus-visible)::after {
        box-shadow: none;
    }

    &:active {
        transition: none;
        transform: scale(0.96);
    }

    &_size {
        &_s {
            --yc-button-height: 24px;

            font-size: 13px;

            #{$block}__text {
                margin: 0 10px;
            }

            #{$block}__icon {
                width: var(--yc-button-height);

                &_side_left ~ #{$block}__text {
                    margin-left: 22px;
                }

                &_side_right ~ #{$block}__text {
                    margin-right: 22px;
                }
            }

            --yc-button-border-radius: var(--yc-border-radius-s);
        }

        &_m {
            --yc-button-height: 28px;

            font-size: 13px;

            #{$block}__text {
                margin: 0 13px;
            }

            #{$block}__icon {
                width: var(--yc-button-height);

                &_side_left ~ #{$block}__text {
                    margin-left: 25px;
                }

                &_side_right ~ #{$block}__text {
                    margin-right: 25px;
                }
            }

            --yc-button-border-radius: var(--yc-border-radius-m);
        }

        &_l {
            --yc-button-height: 36px;

            font-size: 13px;

            #{$block}__text {
                margin: 0 18px;
            }

            #{$block}__icon {
                width: var(--yc-button-height);

                &_side_left ~ #{$block}__text {
                    margin-left: 33px;
                }

                &_side_right ~ #{$block}__text {
                    margin-right: 33px;
                }
            }

            --yc-button-border-radius: var(--yc-border-radius-l);
        }

        &_xl {
            --yc-button-height: 44px;

            font-size: 15px;

            #{$block}__text {
                margin: 0 25px;
            }

            #{$block}__icon {
                width: var(--yc-button-height);

                &_side_left ~ #{$block}__text {
                    margin-left: 40px;
                }

                &_side_right ~ #{$block}__text {
                    margin-right: 40px;
                }
            }

            --yc-button-border-radius: var(--yc-border-radius-xl);
        }
    }

    &_view {
        &_normal {
            --yc-button-background-color: var(--yc-color-base-generic);
            --yc-button-background-color-hover: var(--yc-color-base-generic-hover);

            @include button-text-color(var(--yc-color-text-primary));

            &#{$block}_loading {
                --yc-button-loading-color-1: var(--yc-color-base-generic);
                --yc-button-loading-color-2: var(--yc-color-base-generic-hover);
            }

            &#{$block}_selected {
                --yc-button-background-color: var(--yc-color-base-selection);
                --yc-button-background-color-hover: var(--yc-color-base-selection-hover);

                @include button-text-color(var(--yc-color-text-special));
            }
        }

        &_action {
            --yc-button-background-color: var(--yc-color-base-special);
            --yc-button-background-color-hover: var(--yc-color-base-special-hover);

            @include button-text-color(var(--yc-my-color-brand-text-contrast));

            &#{$block}_loading {
                --yc-button-loading-color-1: var(--yc-color-base-special);
                --yc-button-loading-color-2: var(--yc-color-base-special-hover);
            }
        }

        &_outlined,
        &_outlined-info,
        &_outlined-danger {
            --yc-button-background-color: transparent;
            --yc-button-background-color-hover: var(--yc-color-base-simple-hover);

            &#{$block}_loading {
                --yc-button-loading-color-1: transparent;
                --yc-button-loading-color-2: var(--yc-color-base-simple-hover);
            }
        }

        &_outlined {
            @include button-text-color(var(--yc-color-text-primary));

            &::before {
                border: 1px solid var(--yc-color-line-generic-accent);
            }
        }

        &_outlined-info {
            @include button-text-color(var(--yc-color-text-info));

            &::before {
                border: 1px solid var(--yc-color-line-info);
            }
        }

        &_outlined-danger {
            @include button-text-color(var(--yc-color-text-danger));

            &::before {
                border: 1px solid var(--yc-color-line-danger);
            }
        }

        &_raised {
            --yc-button-background-color: var(--yc-color-base-float);
            --yc-button-background-color-hover: var(--yc-color-base-float-hover);

            @include button-text-color(var(--yc-color-text-primary));

            &::before {
                box-shadow: 0 3px 5px var(--yc-color-sfx-shadow);
            }

            &:active::before {
                box-shadow: 0 1px 2px var(--yc-color-sfx-shadow);
            }

            &#{$block}_loading {
                --yc-button-loading-color-1: var(--yc-color-base-float);
                --yc-button-loading-color-2: var(--yc-color-base-float-hover);
            }
        }

        &_flat,
        &_flat-info,
        &_flat-danger,
        &_flat-secondary {
            --yc-button-background-color: transparent;
            --yc-button-background-color-hover: var(--yc-color-base-simple-hover);

            &#{$block}_loading {
                --yc-button-loading-color-1: transparent;
                --yc-button-loading-color-2: var(--yc-color-base-simple-hover);
            }
        }

        &_flat {
            @include button-text-color(var(--yc-color-text-primary));
        }

        &_flat-info {
            @include button-text-color(var(--yc-color-text-info));
        }

        &_flat-danger {
            @include button-text-color(var(--yc-color-text-danger));
        }

        &_flat-secondary {
            @include button-text-color(
                var(--yc-color-text-secondary),
                var(--yc-color-text-primary)
            );
        }

        &_normal-contrast {
            --yc-button-background-color: var(--yc-color-base-light);
            --yc-button-background-color-hover: var(--yc-color-base-light-hover);

            @include button-text-color(var(--yc-color-text-dark-primary));

            &#{$block}_loading {
                --yc-button-loading-color-1: var(--yc-color-base-light);
                --yc-button-loading-color-2: var(--yc-color-base-light-hover);
            }
        }

        &_outlined-contrast {
            --yc-button-background-color: transparent;
            --yc-button-background-color-hover: var(--yc-color-base-light-simple-hover);

            @include button-text-color(var(--yc-color-text-light-primary));

            &::before {
                border: 1px solid var(--yc-color-line-light);
            }

            &#{$block}_loading {
                --yc-button-loading-color-1: transparent;
                --yc-button-loading-color-2: var(--yc-color-base-light-simple-hover);
            }
        }

        &_flat-contrast {
            --yc-button-background-color: transparent;
            --yc-button-background-color-hover: var(--yc-color-base-light-simple-hover);

            @include button-text-color(var(--yc-color-text-light-primary));

            &#{$block}_loading {
                --yc-button-loading-color-1: transparent;
                --yc-button-loading-color-2: var(--yc-color-base-light-simple-hover);
            }
        }

        &_flat,
        &_flat-info,
        &_flat-danger {
            &#{$block}_disabled:not(#{$block}_loading),
            &#{$block}_disabled:not(#{$block}_loading) {
                --yc-button-background-color: transparent;
                --yc-button-background-color-hover: transparent;

                color: var(--yc-color-text-hint);
            }
        }

        &_flat-contrast {
            &#{$block}_disabled:not(#{$block}_loading),
            &#{$block}_disabled:not(#{$block}_loading) {
                --yc-button-background-color: transparent;
                --yc-button-background-color-hover: transparent;

                color: var(--yc-color-text-light-hint);
            }
        }

        &_normal-contrast,
        &_outlined-contrast {
            &#{$block}_disabled:not(#{$block}_loading),
            &#{$block}_disabled:not(#{$block}_loading) {
                --yc-button-background-color: var(--yc-color-base-light-disabled);
                --yc-button-background-color-hover: var(--yc-color-base-light-disabled);

                color: var(--yc-color-text-light-secondary);
            }
        }
    }

    @include pin($block, ('::before', '::after'), var(--yc-button-border-radius));

    &__text {
        display: inline-block;
        white-space: nowrap;
    }

    &__icon {
        display: inline-block;
        position: relative;
        height: 100%;
        pointer-events: none;

        &::after {
            content: '\00a0';
            visibility: hidden;
        }

        &-inner {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &_side_left,
        &_side_right {
            position: absolute;
            top: 0;
        }

        &_side_left {
            left: 0;
        }

        &_side_right {
            right: 0;
        }
    }

    &_disabled {
        cursor: default;
        pointer-events: none;

        &:not(#{$block}_loading) {
            --yc-button-background-color: var(--yc-color-base-generic-accent-disabled);
            --yc-button-background-color-hover: var(--yc-color-base-generic-accent-disabled);

            color: var(--yc-color-text-hint);

            &::before,
            &:hover::before {
                border: none;
            }
        }

        &:active {
            transform: scale(1);
        }
    }

    &_loading::before {
        background-image: repeating-linear-gradient(
            -45deg,
            var(--yc-button-loading-color-1),
            var(--yc-button-loading-color-1) 4px,
            var(--yc-button-loading-color-2) 4px,
            var(--yc-button-loading-color-2) 8px
        );
        background-size: 34px;
        background-clip: padding-box;
        animation: #{$ns}button-loading animation.get-timing(0.5s) linear infinite;
    }

    &_width_auto {
        max-width: 100%;
    }

    &_width_max {
        width: 100%;
    }

    &_width_auto,
    &_width_max {
        #{$block}__text {
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

@keyframes #{$ns}button-loading {
    from {
        background-position: -12px 0;
    }
    to {
        background-position: 0 0;
    }
}
