@use '../../variables';

$block: '.#{variables.$ns}dialog-btn-close';

#{$block} {
    position: absolute;
    inset-block-start: calc(var(--yc-dialog-header-padding-top) - 6px);
    inset-inline-end: calc(var(--yc-dialog-side-padding) - 12px);
    z-index: 1;
}
