@use '../../../../styles/mixins';
@use '../../variables';
@use '../mixins.scss' as control-mixins;

$block: '.#{variables.$ns-new}text-area';

#{$block} {
    --_--text-color: var(--g-color-text-primary);
    --_--placeholder-color: var(--g-color-text-hint);
    --_--background-color: var(--g-color-base-generic-accent-disabled);
    --_--border-color: var(--g-color-line-generic);
    --_--border-width: 1px;
    --_--border-color-hover: var(--g-color-line-generic-hover);
    --_--border-color-active: var(--g-color-line-generic-active);
    --_--border-color-error: var(--g-color-line-danger);

    display: inline-block;
    width: 100%;
    position: relative;

    &__content {
        box-sizing: border-box;
        display: flex;
        width: 100%;
    }

    &__control {
        box-sizing: border-box;
        display: inline-block;
        flex-grow: 1;
        vertical-align: top;
        position: relative;
        margin: 0;
        padding: 0;
        width: 100%;
        font-weight: var(--g-text-body-font-weight);
        font-family: var(--g-text-body-font-family);
        color: var(--g-text-area-text-color, var(--_--text-color));
        background-color: transparent;
        border: none;
        resize: none;
        // fix-bug(firefox): https://bugzilla.mozilla.org/show_bug.cgi?id=33654
        overflow-x: hidden;

        &::placeholder {
            color: var(--g-text-area-placeholder-color, var(--_--placeholder-color));
        }

        &:focus {
            outline: none;
        }

        &[type='number'] {
            appearance: textfield;
        }
    }

    &__clear {
        position: absolute;

        &_size_s,
        &_size_m {
            inset-inline-end: 2px;
            inset-block-start: 2px;
        }

        &_size_l,
        &_size_xl {
            inset-inline-end: 3px;
            inset-block-start: 4px;
        }
    }

    &_size {
        &_s {
            #{$block}__control {
                @include control-mixins.input-control(s);
            }

            &#{$block}_has-clear #{$block}__control {
                padding-inline-end: 26px;
            }

            --_--border-radius: var(--g-border-radius-s);
        }

        &_m {
            #{$block}__control {
                @include control-mixins.input-control(m);
            }

            &#{$block}_has-clear #{$block}__control {
                padding-inline-end: 26px;
            }

            --_--border-radius: var(--g-border-radius-m);
        }

        &_l {
            #{$block}__control {
                @include control-mixins.input-control(l);
            }

            &#{$block}_has-clear #{$block}__control {
                padding-inline-end: 36px;
            }

            --_--border-radius: var(--g-border-radius-l);
        }

        &_xl {
            #{$block}__control {
                @include control-mixins.input-control(xl);
            }

            &#{$block}_has-clear #{$block}__control {
                padding-inline-end: 36px;
            }

            --_--border-radius: var(--g-border-radius-xl);
        }
    }

    &_view {
        &_normal {
            #{$block}__content {
                border-width: var(--g-text-area-border-width, var(--_--border-width));
                border-style: solid;
                border-color: var(--g-text-area-border-color, var(--_--border-color));

                &:hover {
                    border-color: var(
                        --g-text-area-border-color-hover,
                        var(--_--border-color-hover)
                    );
                }

                &:focus-within {
                    border-color: var(
                        --g-text-area-border-color-active,
                        var(--_--border-color-active)
                    );
                }
            }
        }

        &_clear {
            & #{$block}__content {
                border: 1px solid transparent;
                border-inline: 0;
                border-radius: 0;
            }

            & #{$block}__control {
                padding-inline: 0;
            }
        }
    }

    @include mixins.pin(
        $block,
        #{$block}__content,
        var(--g-text-area-border-radius, var(--_--border-radius)),
        $append: false
    );

    &_disabled {
        #{$block}__content {
            background-color: var(--g-text-area-background-color, var(--_--background-color));
            color: var(--g-color-text-hint);
            border-color: transparent;

            &:hover {
                border-color: transparent;
            }
        }

        #{$block}__control {
            color: var(--g-color-text-hint);
        }
    }

    &_has-scrollbar {
        #{$block}__clear {
            inset-inline-end: var(--g-scrollbar-width);
        }
    }

    &_state {
        &_error {
            &#{$block}_view_normal {
                #{$block}__content {
                    &,
                    &:hover,
                    &:focus-within {
                        border-color: var(
                            --g-text-area-border-color-error,
                            var(--_--border-color-error)
                        );
                    }
                }
            }

            &#{$block}_view_clear {
                #{$block}__content {
                    &,
                    &:hover,
                    &:focus-within {
                        border-block-end: 1px solid
                            var(--g-text-area-border-color-error, var(--_--border-color-error));
                    }
                }
            }
        }
    }
}
