@use '../../../styles/mixins';
@use '../variables';

$block: '.#{variables.$ns}menu';

#{$block} {
    box-sizing: border-box;
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: var(--g-text-body-1-font-size);
    color: var(--g-color-text-primary);
    background-color: var(--g-color-base-float);
    user-select: none;
    outline: none;

    &__list-group-item + &__list-group-item,
    &__list-item + &__list-group-item,
    &__list-group-item + &__list-item {
        border-top: 1px solid var(--g-color-line-generic);
    }

    &__item {
        display: flex;
        align-items: center;
        color: var(--g-color-text-primary);
        text-decoration: none;
        outline: none;
        touch-action: manipulation;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

        &-icon {
            display: flex;
        }

        &-icon-end {
            display: flex;
            margin-right: 0;
        }

        &-content {
            flex-grow: 1;
            min-width: 0;
        }

        &_interactive {
            cursor: pointer;

            &:hover,
            &:focus-visible {
                background-color: var(--g-color-base-simple-hover);
            }
        }

        &_selected {
            background-color: var(--g-color-base-simple-hover);
        }

        &_disabled {
            color: var(--g-color-text-secondary);
            cursor: default;
            pointer-events: none;

            &:hover {
                background-color: transparent;
            }
        }

        &_active {
            cursor: default;
            background-color: var(--g-color-base-selection);

            &:hover,
            &:focus-visible {
                background-color: var(--g-color-base-selection-hover);
            }
        }

        &_theme_danger {
            &:not(#{$block}__item_disabled) {
                color: var(--g-color-text-danger);
            }
        }
    }

    &__group-label {
        @include mixins.text-accent();
        color: var(--g-color-text-hint);
    }

    &__group-list {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    &_size {
        &_s {
            line-height: 24px;
            padding: 3px 0;

            #{$block}__item,
            #{$block}__group-label {
                padding: 0 10px;
            }

            #{$block}__item-icon {
                margin-right: 3px;
            }

            #{$block}__item-icon-end {
                margin-left: 3px;
            }

            #{$block}__list-group-item + #{$block}__list-group-item,
            #{$block}__list-item + #{$block}__list-group-item,
            #{$block}__list-group-item + #{$block}__list-item {
                margin-top: 3px;
                padding-top: 3px;
            }
        }

        &_m {
            line-height: 24px;
            padding: 4px 0;

            #{$block}__item,
            #{$block}__group-label {
                padding: 0 13px;
            }

            #{$block}__item-icon {
                margin-right: 4px;
            }

            #{$block}__item-icon-end {
                margin-left: 4px;
            }

            #{$block}__list-group-item + #{$block}__list-group-item,
            #{$block}__list-item + #{$block}__list-group-item,
            #{$block}__list-group-item + #{$block}__list-item {
                margin-top: 4px;
                padding-top: 4px;
            }
        }

        &_l {
            line-height: 28px;
            padding: 5px 0;

            #{$block}__item,
            #{$block}__group-label {
                padding: 0 15px;
            }

            #{$block}__item-icon {
                margin-right: 5px;
            }

            #{$block}__item-icon-end {
                margin-left: 5px;
            }

            #{$block}__list-group-item + #{$block}__list-group-item,
            #{$block}__list-item + #{$block}__list-group-item,
            #{$block}__list-group-item + #{$block}__list-item {
                margin-top: 5px;
                padding-top: 5px;
            }
        }

        &_xl {
            font-size: var(--g-text-body-2-font-size);
            line-height: 36px;
            padding: 6px 0;

            #{$block}__item,
            #{$block}__group-label {
                padding: 0 15px;
            }

            #{$block}__item-icon {
                margin-right: 6px;
            }

            #{$block}__item-icon-end {
                margin-left: 6px;
            }

            #{$block}__list-group-item:not(:first-child) {
                margin-top: 6px;
                padding-top: 6px;
            }

            #{$block}__list-group-item:not(:last-child) {
                margin-bottom: 6px;
                padding-bottom: 6px;
            }
        }
    }
}
