@use '../../../styles/mixins';

.showcase {
    display: flex;
    flex-direction: column;

    &__title {
        @include mixins.text-display-2();
    }

    &__description {
        @include mixins.text-body-3();
        margin-top: 10px;
    }

    &__content {
        flex-grow: 1;
        margin-top: 20px;
    }
}
