@use '../../../styles/mixins';
@use '../variables';

$block: '.#{variables.$ns}user-label';

#{$block} {
    --_--font-size: var(--g-text-body-1-font-size);
    --_--line-height: var(--g-text-body-1-line-height);

    $transitionDuration: 0.1s;
    $transitionTimingFunction: ease-in-out;

    position: relative;
    z-index: 0;
    display: inline-flex;
    max-width: 100%;
    height: 28px;
    border-radius: 20px;

    transition-property: background-color;
    transition-duration: $transitionDuration;
    transition-timing-function: $transitionTimingFunction;

    &_view_outlined {
        &:after {
            position: absolute;
            z-index: -1;
            inset: 0;
            content: '';
            border: 1px solid var(--g-color-line-generic);
            border-radius: 20px;

            transition-property: border-color;
            transition-duration: $transitionDuration;
            transition-timing-function: $transitionTimingFunction;
        }
    }

    &_empty {
        padding-inline-start: 12px;
    }

    &_clickable:hover {
        cursor: pointer;
        background-color: var(--g-color-base-simple-hover);

        &:after {
            border-color: transparent;
        }
    }

    &__main {
        @include mixins.button-reset();

        display: inline-flex;
        align-items: center;
        min-width: 0;
        border-radius: inherit;
        padding-inline-end: 6px;

        #{$block}_closeable & {
            padding-inline-end: 0;
        }

        #{$block}_clickable & {
            outline-offset: -1px;

            &:focus-visible {
                outline: 2px solid var(--g-color-line-focus);
            }
        }
    }

    &__avatar {
        --g-avatar-background-color: var(--g-color-base-generic-accent);
        --g-avatar-color: var(--g-color-text-primary);

        display: flex;
        margin-inline-end: 6px;
    }

    &__text {
        font-size: var(--g-avatar-font-size, var(--_--font-size));
        line-height: var(--g-avatar-line-height, var(--_--line-height));
        min-width: 0;
        margin-inline-end: 6px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    &__close {
        @include mixins.button-reset();

        box-sizing: initial;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 16px;
        cursor: pointer;
        padding-inline-end: 6px;
        color: var(--g-color-text-secondary);

        transition-property: color;
        transition-duration: $transitionDuration;
        transition-timing-function: $transitionTimingFunction;

        &:hover {
            color: var(--g-color-text-primary);
        }
    }

    &__close-icon {
        border-radius: var(--g-focus-border-radius);

        #{$block}__close:focus-visible & {
            outline: 2px solid var(--g-color-line-focus);
        }
    }
}
