.g-suggest {
    position: relative;
    display: block;

    &__popup {
        max-height: 40vh;
        overflow: hidden auto;
    }

    &__loader {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: var(--g-spacing-3);
        min-height: 60px;
    }

    &__list {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
    }

    &__fallback {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: var(--g-spacing-4);
        min-height: 120px;
    }

    &__fallback-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: var(--g-spacing-1);
        max-width: 320px;
    }

    &__fallback-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-block-end: var(--g-spacing-1);
        color: var(--g-color-text-secondary);
    }

    &__fallback-title {
        font-weight: var(--g-text-subheader-font-weight);
        color: var(--g-color-text-primary);
    }

    &__fallback-description {
        color: var(--g-color-text-secondary);
        word-wrap: break-word;
    }

    &__fallback-actions {
        margin-block-start: var(--g-spacing-3);
    }

    &__inline-content {
        box-sizing: border-box;
        width: 100%;
        max-height: 40vh;
        overflow: hidden auto;
    }
}
