@use '../../../variables';

$block: '.#{variables.$ns-new}clear-button';

#{$block} {
    --yc-button-background-color: transparent;
    --yc-button-background-color-hover: transparent;

    margin: auto 0;
    color: var(--g-color-text-hint);

    &:hover {
        color: var(--g-color-text-primary);
    }
}
