@use '../../../variables';

$block: '.#{variables.$ns-new}clear-button';

#{$block} {
    --g-button-text-color: var(--g-color-text-hint);
    --g-button-text-color-hover: var(--g-color-text-primary);
    --g-button-background-color: transparent;
    --g-button-background-color-hover: transparent;

    margin: auto 0;
}
