@use '../../../variables';
@use '../../variables.scss' as select-css-variables;

$block: '.#{variables.$ns}select-counter';

#{$block} {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: auto 2px;
    background-color: var(--g-color-base-generic);
    &_size {
        &_s {
            border-radius: var(--g-border-radius-s);
            height: calc(#{variables.$s-height} - 4px);
            padding-inline: 6px;
        }
        &_m {
            height: calc(#{variables.$m-height} - 4px);
            border-radius: var(--g-border-radius-m);
            padding-inline: 8px;
        }
        &_l {
            height: calc(#{variables.$l-height} - 8px);
            border-radius: var(--g-border-radius-l);
            margin-inline-end: 4px;
            padding-inline: 10px;
        }

        &_xl {
            height: calc(#{variables.$xl-height} - 8px);
            border-radius: var(--g-border-radius-xl);
            margin-inline-end: 4px;
            padding-inline: 14px;
        }
    }
}
