@use '../../../styles/mixins';
@use '../UserAvatar/mixins' as avatarMixins;
@use '../variables';

$block: '.#{variables.$ns-new}avatar-stack';

#{$block} {
    --_--g-avatar-stack-border-width: 1px;

    display: inline-flex;
    justify-content: flex-end;
    flex-direction: row-reverse;

    margin: 0;
    padding: 0;

    &_overlap-size_s {
        --_--g-avatar-stack-overlap: var(--g-spacing-1);
    }

    &_overlap-size_m {
        --_--g-avatar-stack-overlap: var(--g-spacing-2);
    }

    &_overlap-size_l {
        --_--g-avatar-stack-overlap: var(--g-spacing-3);
    }

    &__item {
        display: flex;
        z-index: 0;
        border: solid var(--_--g-avatar-stack-border-width) var(--g-color-line-generic-solid);
        border-radius: 100%;

        &:not(:first-child) {
            margin-inline-end: calc(
                -1 * (var(--_--g-avatar-stack-overlap) + var(--_--g-avatar-stack-border-width))
            );
        }
    }

    &__more-button {
        @include mixins.button-reset;
        @include mixins.focus-outline;

        border-radius: 100%;

        background-color: var(--g-color-base-generic);

        &_size {
            @include avatarMixins.size;

            &_xs {
                font-size: var(--g-text-caption-1-font-size);
            }

            &_s {
                font-size: var(--g-text-caption-2-font-size);
            }

            &_m,
            &_l {
                font-size: var(--g-text-body-1-font-size);
            }

            &_xl {
                font-size: var(--g-text-body-2-font-size);
            }
        }
    }
}
