@use '../../../../../styles/mixins';
@use '../../variables' as table;

#{table.$block} {
    // чтобы высота кнопки не влияла на высоту строки
    &__actions {
        height: table.$tableLineHeight;
        display: flex;
        align-items: center;
    }
}

$popupBlock: '#{table.$block}-action-popup';

#{$popupBlock} {
    &__menu {
        @include mixins.max-height(200px);

        &-item {
            @include mixins.max-text-width(250px);
        }
    }
}
