@use '../../../../../styles/mixins';
@use '../../variables';

#{variables.$block} {
    // button height should not affect line height
    &__actions {
        height: variables.$tableLineHeight;
        display: flex;
        align-items: center;
    }
}

$popupBlock: '#{variables.$block}-action-popup';

#{$popupBlock} {
    &__menu {
        @include mixins.max-height(200px);

        &-item {
            @include mixins.max-text-width(250px);
        }
    }
}
