@use '../../../styles/mixins';

.code-block {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    box-sizing: border-box;
    border-radius: var(--g-border-radius-l);
    padding: var(--g-spacing-3);
    background-color: var(--g-color-base-generic);

    &__code {
        @include mixins.text-code-1();

        margin: 0;
        color: var(--g-color-text-primary);
        white-space: pre-wrap;
    }
}
