@use '../variables';

$block: '.#{variables.$ns}list';

#{$block} {
    --_--item-padding: var(--g-list-item-padding, 0);

    outline: none;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    width: 100%;

    &__filter {
        padding: var(--_--item-padding);
        margin-block-end: 8px;
        flex: 0 0 auto;
    }

    &__items {
        flex: 1 1 auto;
    }

    &__item,
    &__empty-placeholder {
        box-sizing: border-box;
        display: flex;
        align-items: center;
        user-select: none;
        overflow: hidden;
    }

    &__item {
        &_sortable[data-rbd-drag-handle-context-id]:active {
            cursor: grabbing;
        }
    }

    &__empty-placeholder {
        box-sizing: border-box;
        color: var(--g-color-text-hint);
        min-height: 36px;
        padding-block: 8px;
    }

    &__item-sort-icon {
        $icon-width: 12px;
        $space-from-edge: 16px;

        display: flex;
        align-items: center;
        width: $icon-width;
        margin-inline-end: $space-from-edge - $icon-width;
        flex: 0 0 auto;
        color: var(--g-color-text-hint);
    }
}
