@use '../variables';

$block: '.#{variables.$ns}list';

#{$block} {
    outline: none;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    width: 100%;

    &__filter {
        padding: 0 var(--yc-list-margin);
        margin-bottom: 8px;
        flex: 0 0 auto;
    }

    &__items {
        flex: 1 1 auto;

        &_virtualized {
            height: var(--yc-list-height);
        }
    }

    &__item,
    &__empty-placeholder {
        box-sizing: border-box;
        display: flex;
        align-items: center;
        padding: 0 var(--yc-list-margin);
        user-select: none;
        overflow: hidden;
    }

    &__item {
        height: var(--yc-list-item-height);

        &_sortable {
            cursor: move;
        }

        &_sorting {
            z-index: 100001;
            background: var(--yc-color-base-simple-hover-solid);
            padding: 0 var(--yc-list-margin);
            cursor: move;
        }

        &_active {
            background: var(--yc-color-base-simple-hover);
        }

        &_selected {
            background: var(--yc-color-base-selection);
        }

        &_sort-handle-align_right {
            flex-direction: row-reverse;

            #{$block}__item-sort-icon {
                margin-inline-start: 10px;
                margin-inline-end: 0;
            }
        }
    }

    &__empty-placeholder {
        box-sizing: border-box;
        color: var(--yc-color-text-hint);
        min-height: 36px;
        padding-top: 8px;
        padding-bottom: 8px;
    }

    &__item-content {
        flex: 1 1 auto;
        display: flex;
        align-items: center;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 100%;
    }

    &__item-sort-icon {
        display: flex;
        align-items: center;
        width: 6px;
        margin-inline-end: 10px;
        flex: 0 0 auto;
        color: var(--yc-color-text-hint);
    }
}
