@use '../variables';
@use '../../../styles/mixins';

$block: '.#{variables.$ns}tab-list';
$tabBlock: '.#{variables.$ns}tab';
$tabListDdMenuBlock: '.#{variables.$ns}tab-list-dd-menu';

#{$block} {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    box-shadow: inset 0 calc(var(--g-tabs-border-width, 1px) * -1) 0 0 var(--g-color-line-generic);
    overflow: hidden;

    --g-tabs-list-dd-menu-button-height: 28px;

    $tabsItemsGap: var(--g-tabs-item-gap, var(--_--item-gap));

    &_size {
        &_m {
            --_--item-height: 36px;
            --_--item-gap: 24px;
            --_--item-border-width: 2px;

            #{$tabBlock}__title,
            #{$tabBlock}__counter {
                @include mixins.text-body-1();
            }
        }

        &_l {
            --_--item-height: 40px;
            --_--item-gap: 28px;
            --_--item-border-width: 2px;

            #{$tabBlock}__title,
            #{$tabBlock}__counter {
                @include mixins.text-body-2();
            }
        }

        &_xl {
            --_--item-height: 44px;
            --_--item-gap: 32px;
            --_--item-border-width: 3px;

            #{$tabBlock}__title,
            #{$tabBlock}__counter {
                @include mixins.text-subheader-3();
            }
        }
    }

    &_overflow_collapse {
        flex-wrap: nowrap;

        & > *:not(#{$tabListDdMenuBlock}) {
            max-width: calc(100% - var(--g-tabs-list-dd-menu-button-height) - $tabsItemsGap);
        }
    }

    &_overflow_scroll {
        flex-wrap: nowrap;
        overflow-x: auto;
    }

    #{$tabBlock}:not(:last-child) {
        margin-inline-end: $tabsItemsGap;
    }
}
