@import '../variables';

$block: '.#{$ns}tabs';

#{$root} {
    --yc-tabs-space-between: 40px;
}

#{$block} {
    &_direction_horizontal {
        display: flex;
        align-items: flex-end;
        flex-wrap: wrap;
        box-shadow: inset 0 -1px 0 0 var(--yc-color-line-generic);
        overflow: hidden;

        & > * {
            &:not(:last-child) {
                margin-right: var(--yc-tabs-space-between);
            }
        }
    }

    &_direction_vertical {
        display: flex;
        flex-direction: column;
    }
}
