@use '../../../styles/mixins';
@use '../variables';

$block: '.#{variables.$ns}user';

#{$block} {
    display: flex;
    align-items: center;

    &__info {
        @include mixins.text-body-short();
        display: flex;
        flex-direction: column;

        flex: 1;
        max-width: 165px;

        #{$block}__name {
            color: var(--g-color-text-primary);
            @include mixins.overflow-ellipsis();
        }

        #{$block}__description {
            color: var(--g-color-text-secondary);
            @include mixins.overflow-ellipsis();
        }
    }

    &__avatar + &__info {
        margin-inline-start: 12px;
    }

    &_size {
        &_xs {
            #{$block}__avatar + #{$block}__info {
                margin-inline-start: 6px;
            }
        }
    }
}
