@mixin yc-colors-sfx-dark-hc {
    --yc-color-sfx-veil: var(--yc-color-private-black-700);
    --yc-color-sfx-shadow: var(--yc-color-private-black-200);
    --yc-color-sfx-shadow-heavy: var(--yc-color-private-black-400);
    --yc-color-sfx-shadow-light: var(--yc-color-private-black-100);
    --yc-color-sfx-fade: var(--yc-color-private-white-250);
}
