@mixin yc-colors-sfx-dark {
    --yc-color-sfx-veil: var(--yc-color-private-black-600);
    --yc-color-sfx-shadow: var(--yc-color-private-black-200);
    --yc-color-sfx-shadow-heavy: var(--yc-color-private-black-500);
    --yc-color-sfx-fade: var(--yc-color-private-white-250);
}
