@use '../variables';
@use '../../../styles/mixins.scss';

$block: '.#{variables.$ns-new}toc';

#{$block} {
    &__title {
        @include mixins.text-body-2();

        color: var(--g-color-text-primary);
        margin-block-end: 12px;
    }

    &__sections,
    &__subsections {
        padding: 0;
        margin: 0;

        overflow-y: auto;
        overflow-x: hidden;

        list-style: none;
    }
}
