@use '../../../styles/mixins.scss';
@use '../variables';

$block: '.#{variables.$ns}hotkey';

#{$block} {
    padding: 1px 5px;
    border-radius: 4px;

    &,
    kbd {
        @include mixins.text-body-1();
        font-family: var(--g-font-family-sans);
    }

    &_view {
        &_light {
            background-color: var(--g-color-base-generic);

            #{$block}__plus {
                color: var(--yc-color-text-hint);
            }
        }

        &_dark {
            color: var(--yc-color-text-light-complementary);
            background-color: var(--g-color-base-light-simple-hover);

            #{$block}__plus {
                color: var(--yc-color-text-light-hint);
            }
        }
    }
}
