@import '../../variables';

$block: '.#{$ns}toaster';

#{$block} {
    position: fixed;
    bottom: 0;
    right: 10px;
    width: var(--yc-toaster-desktop-width);
    z-index: 100000;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    &_mobile {
        left: 50%;
        transform: translate(-50%);
        width: calc(100% - 20px);
    }
}

.yc-root {
    --yc-toaster-desktop-width: 312px;
}
