@use '../../variables';

$block: '.#{variables.$ns}toaster';

#{$block} {
    position: fixed;
    inset-block-end: 0;
    inset-inline-end: 10px;
    width: var(--g-toaster-width, 312px);
    z-index: 100000;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    &_mobile {
        inset-inline-start: 50%;
        transform: translate(-50%);
        width: calc(100% - 20px);
    }
}
