@use '../../variables';

$block: '.#{variables.$ns}toaster';

#{$block} {
    position: fixed;
    inset-block-end: 0;
    inset-inline-end: 10px;
    width: var(--yc-toaster-desktop-width);
    z-index: 100000;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    &_mobile {
        inset-inline-start: 50%;
        transform: translate(-50%);
        width: calc(100% - 20px);
    }
}

.g-root {
    --yc-toaster-desktop-width: 312px;
}
