@use '../variables';

$block: '.#{variables.$ns}switch';

#{$block} {
    position: relative;

    &__control {
        opacity: 0;
        cursor: pointer;
    }

    &__indicator {
        display: inline-block;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;

            background-color: var(--g-color-base-generic-medium);
            transition: background 0.1s linear;
        }

        &::after {
            content: '\00a0';
            visibility: hidden;
        }
    }

    &__slider {
        position: absolute;
        content: '';
        border-radius: 50%;
        background-color: var(--g-color-base-background);
        transition: transform 0.15s ease-out;
    }

    &__outline {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: none;
        pointer-events: none;
    }

    &__control:focus-visible + &__outline {
        box-shadow: 0 0 0 2px var(--g-color-line-focus);
    }

    &_size {
        &_m {
            #{$block}__indicator,
            #{$block}__indicator::before,
            #{$block}__outline {
                width: 36px;
                height: 20px;
                border-radius: 10px;
            }

            #{$block}__slider {
                top: 2px;
                left: 2px;
                width: 16px;
                height: 16px;
            }

            #{$block}__text {
                margin-top: 3px;
            }
        }

        &_l {
            #{$block}__indicator,
            #{$block}__indicator::before,
            #{$block}__outline {
                width: 42px;
                height: 24px;
                border-radius: 12px;
            }

            #{$block}__slider {
                top: 3px;
                left: 3px;
                width: 18px;
                height: 18px;
            }

            #{$block}__text {
                margin-top: 4px;
            }
        }
    }

    &:hover {
        #{$block}__indicator::before {
            background-color: var(--g-color-base-generic-medium-hover);
        }
    }

    &_checked &__slider {
        transform: translateX(100%);
    }

    &_checked,
    &_checked:hover {
        #{$block}__indicator::before {
            background-color: var(--g-color-base-brand);
        }
    }

    &_disabled {
        #{$block}__indicator::before {
            background-color: var(--g-color-base-generic-accent-disabled);
        }

        &#{$block}_checked {
            #{$block}__indicator::before {
                background-color: var(--g-color-base-brand);
                opacity: 0.5;
            }
        }
    }
}
