@use '../../../variables';

$block: '.#{variables.$ns-new}select-filter';

#{$block} {
    // To prevent border blink when the focus is set frequently (in case of option click)
    & &__input,
    & &__input:hover,
    & &__input:focus {
        border-color: var(--yc-color-line-generic-active);
    }
}
