@use '../../../styles/mixins';

.color-panel {
    position: relative;
    width: min(100%, 1040px);
    box-sizing: border-box;
    border: 1px solid var(--g-color-line-generic);
    border-radius: var(--g-border-radius-l);
    padding: var(--g-spacing-7);
    background-color: var(--g-color-base-background);
    transition: 0.15s linear;
    transition-property: color, background-color;

    &_bg {
        &_brand,
        &_dark {
            border-color: var(--g-color-line-light);

            .color-panel__title,
            .color-panel__description,
            .color-panel__item-title,
            .color-panel__item-description,
            .code-block__code {
                color: var(--g-color-text-light-primary);
            }

            .code-block {
                background-color: var(--g-color-base-light-simple-hover);
            }
        }

        &_brand {
            background-color: var(--g-color-base-brand);
        }

        &_dark {
            background-color: #444;
        }
    }

    &__header {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: var(--g-spacing-4);
        padding-block-end: var(--g-spacing-4);
        border-block-end: 1px solid var(--g-color-line-generic);
    }

    &__header-content {
        display: flex;
        flex-direction: column;
        gap: var(--g-spacing-3);
    }

    &__bg-switcher {
        flex-shrink: 0;
    }

    &__title {
        @include mixins.text-header-1();

        color: var(--g-color-text-primary);
    }

    &__description {
        @include mixins.text-body-1();

        color: var(--g-color-text-primary);
    }

    &:not(:first-of-type) {
        margin-block-start: var(--g-spacing-6);
    }

    &__colors {
        display: flex;
        flex-direction: column;
        gap: var(--g-spacing-7);
        margin-block-start: var(--g-spacing-5);
    }

    &__item {
        display: flex;
        flex-direction: column;
        gap: var(--g-spacing-4);
    }

    &__item-content {
        display: flex;
        align-items: center;
        gap: var(--g-spacing-4);
    }

    &__swatch {
        flex-shrink: 0;
        width: 48px;
        height: 48px;
        border-radius: var(--g-border-radius-l);
        background-clip: padding-box;

        &_bordered {
            box-shadow: inset 0 0 0 1px var(--g-color-line-generic);
        }
    }

    &__item-texts {
        display: flex;
        min-width: 0;
        flex-direction: column;
        justify-content: center;
        gap: var(--g-spacing-2);
    }

    &__item-title {
        @include mixins.text-subheader-3();

        color: var(--g-color-text-primary);
    }

    &__item-description {
        @include mixins.text-body-2();

        color: var(--g-color-text-primary);
    }
}
