.button-showcase {
    &__grid {
        display: inline-grid;
        grid-template-columns: repeat(5, auto);
        justify-items: center;
        align-items: center;
        margin-bottom: 20px;

        &-cell {
            padding: 12px 8px;

            &_head_left {
                white-space: nowrap;
                justify-self: end;
            }
        }
    }
}
