@use '../../../styles/lib/animation';
@import '../variables';

$block: '.#{$ns}popup';

$arrow-size: 18px;
$arrow-offset: 9px;
$arrow-border: 5px;
$arrow-circle-width: 28px;
$arrow-circle-height: 30px;
$transition-distance: 10px;

#{$block} {
    // Может быть переопределено, см. Tooltip
    --yc-popup-background-color: var(--yc-color-base-float);
    --yc-popup-border-color: var(--yc-color-line-solid);
    --yc-popup-border-width: 1px;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    animation-duration: animation.get-timing(0.1s);
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    border-radius: 4px;
    background-color: var(--yc-popup-background-color);
    visibility: hidden;
    box-shadow: 0 8px 20px var(--yc-color-sfx-shadow);
    outline: none;

    &::before {
        content: '';
        position: absolute;
        z-index: -1;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        border-radius: inherit;
        box-shadow: 0 0 0 var(--yc-popup-border-width) var(--yc-popup-border-color);
    }

    // Скругление краев у контента
    & > :first-child:not(&__arrow),
    & > &__arrow + * {
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
    }

    & > :last-child {
        border-bottom-left-radius: inherit;
        border-bottom-right-radius: inherit;
    }

    &_open {
        visibility: visible;
    }

    &[data-popper-placement*='bottom'][data-inited] {
        animation-name: #{$ns}popup-bottom;
    }

    &[data-popper-placement*='top'][data-inited] {
        animation-name: #{$ns}popup-top;
    }

    &[data-popper-placement*='left'][data-inited] {
        animation-name: #{$ns}popup-left;
    }

    &[data-popper-placement*='right'][data-inited] {
        animation-name: #{$ns}popup-right;
    }

    // open state

    &_open[data-popper-placement*='bottom'][data-inited] {
        animation-name: #{$ns}popup-bottom-open;
    }

    &_open[data-popper-placement*='top'][data-inited] {
        animation-name: #{$ns}popup-top-open;
    }

    &_open[data-popper-placement*='left'][data-inited] {
        animation-name: #{$ns}popup-left-open;
    }

    &_open[data-popper-placement*='right'][data-inited] {
        animation-name: #{$ns}popup-right-open;
    }

    // arrow

    &[data-popper-placement*='bottom'] &__arrow {
        top: -$arrow-offset;
    }

    &[data-popper-placement*='top'] &__arrow {
        transform: rotate(180deg);
        bottom: -$arrow-offset;
    }

    &[data-popper-placement*='left'] &__arrow {
        transform: rotate(90deg);
        right: -$arrow-offset;
    }

    &[data-popper-placement*='right'] &__arrow {
        transform: rotate(-90deg);
        left: -$arrow-offset;
    }

    &__arrow-content {
        width: $arrow-size;
        height: $arrow-size;
        position: relative;
        overflow: hidden;
        display: flex;
    }

    &__arrow-circle-wrapper {
        background-color: transparent;
        overflow: hidden;
        width: 8px;
        height: 9px;
        position: relative;
    }

    &__arrow-circle {
        box-sizing: border-box;
        border-radius: 50%;
        box-shadow: inset 0 0 0 calc(#{$arrow-border} - var(--yc-popup-border-width))
                var(--yc-popup-background-color),
            inset 0 0 0 $arrow-border var(--yc-popup-border-color);
        width: $arrow-circle-width;
        height: $arrow-circle-height;
        position: absolute;

        &_left {
            right: -5px;
            bottom: -4px;
        }

        &_right {
            left: -5px;
            bottom: -4px;
        }
    }

    @keyframes #{$ns}popup-bottom {
        0% {
            visibility: visible;
            opacity: 1;
            transform: translateY(0);
        }

        99% {
            transform: translateY($transition-distance);
        }
        100% {
            visibility: hidden;
            opacity: 0;
        }
    }

    @keyframes #{$ns}popup-bottom-open {
        0% {
            opacity: 0;
            transform: translateY($transition-distance);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes #{$ns}popup-top {
        0% {
            visibility: visible;
            opacity: 1;
            transform: translateY(0);
        }

        99% {
            transform: translateY(-$transition-distance);
        }
        100% {
            visibility: hidden;
            opacity: 0;
        }
    }

    @keyframes #{$ns}popup-top-open {
        0% {
            opacity: 0;
            transform: translateY(-$transition-distance);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes #{$ns}popup-left {
        0% {
            visibility: visible;

            opacity: 1;
            transform: translateX(0);
        }

        99% {
            transform: translateX(-$transition-distance);
        }
        100% {
            visibility: hidden;
            opacity: 0;
        }
    }

    @keyframes #{$ns}popup-left-open {
        0% {
            opacity: 0;
            transform: translateX(-$transition-distance);
        }
        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }

    @keyframes #{$ns}popup-right {
        0% {
            visibility: visible;

            opacity: 1;
            transform: translateX(0);
        }

        99% {
            transform: translateX($transition-distance);
        }
        100% {
            visibility: hidden;
            opacity: 0;
        }
    }

    @keyframes #{$ns}popup-right-open {
        0% {
            opacity: 0;
            transform: translateX($transition-distance);
        }
        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }
}
