@use '../variables';

$block: '.#{variables.$ns}popup';

$arrow-size: 18px;
$arrow-offset: 9px;
$arrow-border: 5px;
$arrow-circle-width: 28px;
$arrow-circle-height: 30px;
$transition-distance: 10px;

#{$block} {
    // Can be overridden, see Tooltip
    --yc-popup-background-color: var(--g-color-base-float);
    --yc-popup-border-color: var(--g-color-line-generic-solid);
    --yc-popup-border-width: 1px;

    z-index: 1000;
    visibility: hidden;

    &_open,
    &_exit_active {
        visibility: visible;
    }

    &_exit_active {
        &[data-popper-placement*='bottom'] #{$block}__content {
            animation-name: #{variables.$ns}popup-bottom;
        }

        &[data-popper-placement*='top'] #{$block}__content {
            animation-name: #{variables.$ns}popup-top;
        }

        &[data-popper-placement*='left'] #{$block}__content {
            animation-name: #{variables.$ns}popup-left;
        }

        &[data-popper-placement*='right'] #{$block}__content {
            animation-name: #{variables.$ns}popup-right;
        }
    }

    // open state
    &_enter_active,
    &_appear_active {
        &[data-popper-placement*='bottom'] #{$block}__content {
            animation-name: #{variables.$ns}popup-bottom-open;
        }

        &[data-popper-placement*='top'] #{$block}__content {
            animation-name: #{variables.$ns}popup-top-open;
        }

        &[data-popper-placement*='left'] #{$block}__content {
            animation-name: #{variables.$ns}popup-left-open;
        }

        &[data-popper-placement*='right'] #{$block}__content {
            animation-name: #{variables.$ns}popup-right-open;
        }
    }

    // arrow
    &[data-popper-placement*='bottom'] #{$block}__arrow {
        inset-block-start: -$arrow-offset;
    }

    &[data-popper-placement*='top'] #{$block}__arrow {
        inset-block-end: -$arrow-offset;

        &-content {
            transform: rotate(180deg);
        }
    }

    &[data-popper-placement*='left'] #{$block}__arrow {
        // stylelint-disable-next-line csstools/use-logical
        right: -$arrow-offset;

        &-content {
            transform: rotate(90deg);
        }
    }

    &[data-popper-placement*='right'] #{$block}__arrow {
        // stylelint-disable-next-line csstools/use-logical
        left: -$arrow-offset;

        &-content {
            transform: rotate(-90deg);
        }
    }

    &__content {
        position: relative;
        animation-duration: 0.1s;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
        border-radius: 4px;
        background-color: var(--yc-popup-background-color);
        box-shadow: 0 0 0 var(--yc-popup-border-width) var(--yc-popup-border-color),
            0 8px 20px var(--yc-popup-border-width) var(--g-color-sfx-shadow);
        outline: none;

        // Corners rounding for content
        & > :first-child:not(#{$block}__arrow),
        & > #{$block}__arrow + * {
            border-start-start-radius: inherit;
            border-start-end-radius: inherit;
        }

        & > :last-child {
            border-end-start-radius: inherit;
            border-end-end-radius: inherit;
        }
    }

    &__arrow-content {
        width: $arrow-size;
        height: $arrow-size;
        position: relative;
        overflow: hidden;
        display: flex;
    }

    &__arrow-circle-wrapper {
        background-color: transparent;
        overflow: hidden;
        width: 9px;
        height: 9px;
        position: relative;
    }

    &__arrow-circle {
        box-sizing: border-box;
        border-radius: 50%;
        box-shadow: inset 0 0 0 calc(#{$arrow-border} - var(--yc-popup-border-width))
                var(--yc-popup-background-color),
            inset 0 0 0 $arrow-border var(--yc-popup-border-color);
        width: $arrow-circle-width;
        height: $arrow-circle-height;
        position: absolute;

        &_left {
            inset-inline-end: -5px;
            inset-block-end: -4px;
        }

        &_right {
            inset-inline-start: -5px;
            inset-block-end: -4px;
        }
    }
}

@keyframes #{variables.$ns}popup-bottom {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY($transition-distance);
    }
}

@keyframes #{variables.$ns}popup-bottom-open {
    0% {
        opacity: 0;
        transform: translateY($transition-distance);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes #{variables.$ns}popup-top {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-$transition-distance);
    }
}

@keyframes #{variables.$ns}popup-top-open {
    0% {
        opacity: 0;
        transform: translateY(-$transition-distance);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes #{variables.$ns}popup-left {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(-$transition-distance);
    }
}

@keyframes #{variables.$ns}popup-left-open {
    0% {
        opacity: 0;
        transform: translateX(-$transition-distance);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes #{variables.$ns}popup-right {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX($transition-distance);
    }
}

@keyframes #{variables.$ns}popup-right-open {
    0% {
        opacity: 0;
        transform: translateX($transition-distance);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
