@use '../variables';

$block: '.#{variables.$ns}popup';

$arrow-size: 18px;
$arrow-offset: 9px;
$transition-duration: 100ms;
$transition-distance: 10px;

#{$block} {
    --_--background-color: var(--g-popup-background-color, var(--g-color-base-float));
    --_--border-color: var(--g-popup-border-color, var(--g-color-line-generic-solid));
    --_--border-radius: var(--g-popup-border-radius, 4px);
    --_--border-width: var(--g-popup-border-width, 1px);

    position: relative;
    border-radius: var(--_--border-radius);
    background-color: var(--_--background-color);
    box-shadow:
        0 0 0 var(--_--border-width) var(--_--border-color),
        0 8px 20px var(--_--border-width) var(--g-color-sfx-shadow);
    outline: none;
    visibility: hidden;
    transition-property: opacity, transform;
    transition-timing-function: ease-out;

    &_open {
        visibility: visible;
    }

    &_disable-transition {
        transition: none;
    }

    & > :first-child:not(#{$block}__arrow),
    & > #{$block}__arrow + * {
        border-start-start-radius: inherit;
        border-start-end-radius: inherit;
    }

    & > :last-child {
        border-end-start-radius: inherit;
        border-end-end-radius: inherit;
    }

    @at-root [data-floating-ui-status='open'] > &,
        [data-floating-ui-status='close'] > & {
        transition-duration: $transition-duration;
    }

    @at-root [data-floating-ui-status='initial'] > &,
        [data-floating-ui-status='close'] > & {
        opacity: 0;
        transform: translate(0, 0);
    }

    @at-root [data-floating-ui-status='initial'][data-floating-ui-placement*='bottom'] > &,
        [data-floating-ui-status='close'][data-floating-ui-placement*='bottom'] > & {
        transform: translateY($transition-distance);
    }

    @at-root [data-floating-ui-status='initial'][data-floating-ui-placement*='top'] > &,
        [data-floating-ui-status='close'][data-floating-ui-placement*='top'] > & {
        transform: translateY(-$transition-distance);
    }

    @at-root [data-floating-ui-status='initial'][data-floating-ui-placement*='left'] > &,
        [data-floating-ui-status='close'][data-floating-ui-placement*='left'] > & {
        transform: translateX(-$transition-distance);
    }

    @at-root [data-floating-ui-status='initial'][data-floating-ui-placement*='right'] > &,
        [data-floating-ui-status='close'][data-floating-ui-placement*='right'] > & {
        transform: translateX($transition-distance);
    }

    @media (prefers-reduced-motion: reduce) {
        @at-root [data-floating-ui-status][data-floating-ui-placement] > & {
            transform: none;
            transition-property: opacity;
        }
    }

    &__arrow {
        position: absolute;
        width: $arrow-size;
        height: $arrow-size;
        pointer-events: none;

        &::before {
            content: '';
            position: absolute;
            width: 10px;
            height: 10px;
            background-color: var(--_--background-color);
            border: var(--_--border-width) solid var(--_--border-color);
            transform: rotate(45deg);
            inset-inline-start: 4px;
            inset-block-start: 4px;
        }
    }

    @at-root [data-floating-ui-placement*='bottom'] #{$block}__arrow {
        inset-block-start: -$arrow-offset;
    }

    @at-root [data-floating-ui-placement*='top'] #{$block}__arrow {
        inset-block-end: -$arrow-offset;

        &::before {
            transform: rotate(225deg);
        }
    }

    @at-root [data-floating-ui-placement*='left'] #{$block}__arrow {
        // stylelint-disable-next-line csstools/use-logical
        right: -$arrow-offset;

        &::before {
            transform: rotate(135deg);
        }
    }

    @at-root [data-floating-ui-placement*='right'] #{$block}__arrow {
        // stylelint-disable-next-line csstools/use-logical
        left: -$arrow-offset;

        &::before {
            transform: rotate(315deg);
        }
    }
}
