@use '../variables';

$block: '.#{variables.$ns}popup';

$arrow-size: 18px;
$arrow-offset: 9px;
$arrow-border: 5px;
$arrow-circle-width: 28px;
$arrow-circle-height: 30px;
$transition-distance: 10px;

#{$block} {
    // Can be overridden, see Tooltip
    --yc-popup-background-color: var(--yc-color-base-float);
    --yc-popup-border-color: var(--yc-color-line-solid);
    --yc-popup-border-width: 1px;

    z-index: 1000;
    animation-duration: 0.1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    border-radius: 4px;
    background-color: var(--yc-popup-background-color);
    visibility: hidden;
    margin: -9999px 0 0 -9999px;
    outline: none;

    &::before {
        content: '';
        position: absolute;
        z-index: -1;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        border-radius: inherit;
        box-shadow: 0 0 0 var(--yc-popup-border-width) var(--yc-popup-border-color),
            0 8px 20px var(--yc-popup-border-width) var(--yc-color-sfx-shadow);
    }

    // Corners rounding for content
    & > :first-child:not(&__arrow),
    & > &__arrow + * {
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
    }

    & > :last-child {
        border-bottom-left-radius: inherit;
        border-bottom-right-radius: inherit;
    }

    &_open,
    &.rt-exit-active {
        visibility: visible;
        margin: 0;
    }

    [data-popper-placement*='bottom'] &.rt-exit-active {
        animation-name: #{variables.$ns}popup-bottom;
    }

    [data-popper-placement*='top'] &.rt-exit-active {
        animation-name: #{variables.$ns}popup-top;
    }

    [data-popper-placement*='left'] &.rt-exit-active {
        animation-name: #{variables.$ns}popup-left;
    }

    [data-popper-placement*='right'] &.rt-exit-active {
        animation-name: #{variables.$ns}popup-right;
    }

    // open state
    [data-popper-placement*='bottom'] &.rt-enter-active,
    [data-popper-placement*='bottom'] &.rt-appear-active {
        animation-name: #{variables.$ns}popup-bottom-open;
    }

    [data-popper-placement*='top'] &.rt-enter-active,
    [data-popper-placement*='top'] &.rt-appear-active {
        animation-name: #{variables.$ns}popup-top-open;
    }

    [data-popper-placement*='left'] &.rt-enter-active,
    [data-popper-placement*='left'] &.rt-appear-active {
        animation-name: #{variables.$ns}popup-left-open;
    }

    [data-popper-placement*='right'] &.rt-enter-active,
    [data-popper-placement*='right'] &.rt-appear-active {
        animation-name: #{variables.$ns}popup-right-open;
    }

    // arrow
    [data-popper-placement*='bottom'] &__arrow {
        top: -$arrow-offset;
    }

    [data-popper-placement*='top'] &__arrow {
        bottom: -$arrow-offset;

        &-content {
            transform: rotate(180deg);
        }
    }

    [data-popper-placement*='left'] &__arrow {
        right: -$arrow-offset;

        &-content {
            transform: rotate(90deg);
        }
    }

    [data-popper-placement*='right'] &__arrow {
        left: -$arrow-offset;

        &-content {
            transform: rotate(-90deg);
        }
    }

    &__arrow-content {
        width: $arrow-size;
        height: $arrow-size;
        position: relative;
        overflow: hidden;
        display: flex;
    }

    &__arrow-circle-wrapper {
        background-color: transparent;
        overflow: hidden;
        width: 9px;
        height: 9px;
        position: relative;
    }

    &__arrow-circle {
        box-sizing: border-box;
        border-radius: 50%;
        box-shadow: inset 0 0 0 calc(#{$arrow-border} - var(--yc-popup-border-width))
                var(--yc-popup-background-color),
            inset 0 0 0 $arrow-border var(--yc-popup-border-color);
        width: $arrow-circle-width;
        height: $arrow-circle-height;
        position: absolute;

        &_left {
            right: -5px;
            bottom: -4px;
        }

        &_right {
            left: -5px;
            bottom: -4px;
        }
    }

    @keyframes #{variables.$ns}popup-bottom {
        0% {
            opacity: 1;
            transform: translateY(0);
        }
        100% {
            opacity: 0;
            transform: translateY($transition-distance);
        }
    }

    @keyframes #{variables.$ns}popup-bottom-open {
        0% {
            opacity: 0;
            transform: translateY($transition-distance);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes #{variables.$ns}popup-top {
        0% {
            opacity: 1;
            transform: translateY(0);
        }
        100% {
            opacity: 0;
            transform: translateY(-$transition-distance);
        }
    }

    @keyframes #{variables.$ns}popup-top-open {
        0% {
            opacity: 0;
            transform: translateY(-$transition-distance);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes #{variables.$ns}popup-left {
        0% {
            opacity: 1;
            transform: translateX(0);
        }
        100% {
            opacity: 0;
            transform: translateX(-$transition-distance);
        }
    }

    @keyframes #{variables.$ns}popup-left-open {
        0% {
            opacity: 0;
            transform: translateX(-$transition-distance);
        }
        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }

    @keyframes #{variables.$ns}popup-right {
        0% {
            opacity: 1;
            transform: translateX(0);
        }
        100% {
            opacity: 0;
            transform: translateX($transition-distance);
        }
    }

    @keyframes #{variables.$ns}popup-right-open {
        0% {
            opacity: 0;
            transform: translateX($transition-distance);
        }
        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }
}
