@use '../../../../../styles/mixins';
@use '../../../variables';

$block: '.#{variables.$ns-new}select-clear';
$sHeight: 24px;
$mHeight: 28px;
$lHeight: 36px;
$xlHeight: 44px;

#{$block} {
    @include mixins.button-reset();
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    z-index: 1;

    &:active:focus-visible,
    &:focus-visible {
        box-shadow: 0 0 0 2px var(--yc-color-line-misc);
    }

    &:focus:not(:focus-visible),
    &:active:focus:not(:focus-visible),
    &:active {
        box-shadow: none;
    }

    &_size_s {
        height: $sHeight;
        width: $sHeight;
        border-radius: var(--yc-border-radius-s);
    }

    &_size_m {
        height: $mHeight;
        width: $mHeight;
        border-radius: var(--yc-border-radius-m);
    }

    &_size_l {
        height: $lHeight;
        width: $lHeight;
        border-radius: var(--yc-border-radius-l);
    }

    &_size_xl {
        height: $xlHeight;
        width: $xlHeight;
        border-radius: var(--yc-border-radius-xl);
    }

    &__clear {
        --yc-button-background-color: transparent;
        --yc-button-background-color-hover: transparent;

        color: var(--yc-color-text-secondary);

        #{$block}:hover & {
            color: var(--yc-color-text-primary);
        }
    }
}
