@use '../variables';
@use '../../../styles/mixins';

$block: '.#{variables.$ns}progress';

$progress-m-height: 20px;
$progress-s-height: 10px;
$progress-xs-height: 4px;

@mixin progress-text {
    font-size: 12px;
    color: var(--g-color-text-light-primary);
    padding: 0 10px;
    box-sizing: border-box;
}

#{$block} {
    position: relative;

    margin: 0 auto;
    overflow: hidden;

    border-radius: 3px;
    background-color: var(--g-color-base-generic);

    text-align: center;
    text-shadow: 0 0 1px var(--g-color-text-dark-primary);

    --_--flow-direction: 1;
    [dir='rtl'] & {
        --_--flow-direction: -1;
    }

    &__text {
        @include progress-text;

        position: relative;
    }

    &__text-inner {
        @include progress-text;

        position: absolute;

        width: 100%;
        height: 100%;

        transition: transform 0.6s ease;
    }

    &__item {
        font-size: 12px;

        position: relative;

        float: left;
        [dir='rtl'] & {
            float: right;
        }

        width: 100%;
        height: 100%;
        overflow: hidden;

        color: var(--g-color-text-light-primary);
        transition: transform 0.6s ease, width 0.6s ease, background-color 0.6s ease;

        &_theme_default {
            background-color: var(--g-color-base-neutral-medium);
        }

        &_theme_success {
            background-color: var(--g-color-base-positive-medium);
        }

        &_theme_warning {
            background-color: var(--g-color-base-warning-medium);
        }

        &_theme_danger {
            background-color: var(--g-color-base-danger-medium);
        }

        &_theme_info {
            background-color: var(--g-color-base-info-medium);
        }

        &_theme_misc {
            background-color: var(--g-color-base-misc-medium);
        }

        &_loading {
            @include mixins.loading();
        }
    }

    &__stack {
        position: relative;

        width: 100%;
        margin: 0 auto;

        overflow: hidden;
        color: var(--g-color-text-light-primary);
        transition: transform 0.6s ease;
    }

    &_size_m {
        height: $progress-m-height;
        line-height: $progress-m-height;

        #{$block}__stack {
            height: $progress-m-height;
            line-height: $progress-m-height;
        }

        #{$block}__text {
            height: $progress-m-height;
            margin-block-end: -$progress-m-height;
        }
    }

    &_size_s {
        height: $progress-s-height;
        line-height: $progress-s-height;

        #{$block}__stack {
            height: $progress-s-height;
            line-height: $progress-s-height;
        }
    }

    &_size_xs {
        height: $progress-xs-height;
        line-height: $progress-xs-height;

        #{$block}__stack {
            height: $progress-xs-height;
            line-height: $progress-xs-height;
        }
    }

    &_size_s &__text,
    &_size_s &__text-inner,
    &_size_xs &__text,
    &_size_xs &__text-inner {
        display: none;
    }
}
