@use '../../../variables';

$block: '.#{variables.$ns}list-item-view';

#{$block} {
    flex-shrink: 0;

    &:hover#{$block}_activeOnHover,
    &_active#{$block}_activeOnHover,
    &_active {
        background: var(--g-color-base-simple-hover-solid);
    }

    &_clickable {
        cursor: pointer;
    }

    &_selected,
    &_selected:hover#{$block}_activeOnHover {
        background: var(--g-color-base-selection);
    }

    &_radius_s {
        border-radius: var(--g-list-item-border-radius-s, 3px);
    }
    &_radius_m {
        border-radius: var(--g-list-item-border-radius-m, 6px);
    }
    &_radius_l {
        border-radius: var(--g-list-item-border-radius-l, 8px);
    }
    &_radius_xl {
        border-radius: var(--g-list-item-border-radius-xl, 8px);
    }

    &__slot {
        &_indent_1 {
            width: 16px;
        }
        &_indent_2 {
            width: 32px;
        }
        &_indent_3 {
            width: 48px;
        }
        &_indent_4 {
            width: 64px;
        }
        &_indent_5 {
            width: 80px;
        }
        &_indent_6 {
            width: 96px;
        }
        &_indent_7 {
            width: 112px;
        }
        &_indent_8 {
            width: 128px;
        }
        &_indent_9 {
            width: 144px;
        }
        &_indent_10 {
            width: 160px;
        }
    }
}
