@use '../../../variables';

$block: '.#{variables.$ns}list-item-view';

#{$block} {
    flex-shrink: 0;

    &__main-content {
        display: grid;
        gap: var(--g-spacing-half, 2px);
    }

    &:hover#{$block}_activeOnHover,
    &_active#{$block}_activeOnHover,
    &_active {
        background: var(--g-color-base-simple-hover-solid);
    }

    &_clickable {
        cursor: pointer;
    }

    &_selected,
    &_selected:not(#{$block}_dragging)#{$block}_active, // if active and selected selected bgc more priority
    &_selected:hover#{$block}_activeOnHover {
        background: var(--g-color-base-selection);
    }

    &_radius_s {
        border-radius: var(--g-list-item-border-radius, 3px);
    }
    &_radius_m {
        border-radius: var(--g-list-item-border-radius, 5px);
    }
    &_radius_l {
        border-radius: var(--g-list-item-border-radius, 6px);
    }
    &_radius_xl {
        border-radius: var(--g-list-item-border-radius, 8px);
    }

    &__icon {
        flex-shrink: 0;
    }

    &__slot {
        flex-shrink: 0;
    }
}
