@use '../variables';
@use '@gravity-ui/uikit/styles/mixins';

$block: '.#{variables.$ns}adaptive-tabs';

#{$block} {
    --gc-tabs-color-divider: var(--g-color-line-generic);
    --gc-tabs-color-border-active: var(--g-color-line-brand);
    --gc-tabs-color-text-active: var(--g-color-text-primary);
    --gc-tabs-color-text-inactive: var(--g-color-text-complementary);
    --gc-tabs-color-text-disabled: var(--g-color-text-secondary);
    &_size {
        &_m {
            --gc-tabs-height: 36px;
            --gc-tabs-space-between: 24px;
            --gc-tabs-border-width: 2px;

            #{$block}__item-title,
            #{$block}__item-counter {
                @include mixins.text-body-1();
            }
        }

        &_l {
            --gc-tabs-height: 40px;
            --gc-tabs-space-between: 28px;
            --gc-tabs-border-width: 2px;

            #{$block}__item-title,
            #{$block}__item-counter {
                @include mixins.text-body-2();
            }
        }

        &_xl {
            --gc-tabs-height: 44px;
            --gc-tabs-space-between: 32px;
            --gc-tabs-border-width: 3px;

            #{$block}__item-title,
            #{$block}__item-counter {
                @include mixins.text-subheader-3();
            }
        }
    }

    position: relative;
    overflow: hidden;
    width: 100%;

    box-shadow: inset 0 -1px 0 0 var(--gc-tabs-color-divider);

    &:has(#{$block}__tabs-as-select-control) {
        box-shadow: none;
    }

    &_visible {
        opacity: initial;
    }

    &__tabs-list {
        max-height: calc(var(--gc-tabs-height) + var(--gc-tabs-border-width) * 2);
        display: flex;
        align-items: flex-end;
        flex-wrap: wrap;
        overflow: hidden;
    }

    &__select-switcher {
        position: absolute;
        inset-block-start: 0;
        will-change: left;

        #{$block}__tab-container #{$block}__tab {
            margin-inline-end: 0;
        }
    }

    &__switcher-tab-content {
        display: inline-flex;
        align-items: center;
        max-width: 100%;
    }

    &__switcher-tab-text {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__switcher-tab-icon {
        display: flex;
    }

    &__tab-container {
        overflow: hidden;
        padding-inline-end: var(--gc-tabs-space-between);

        &:not(&_switcher-tab):only-child {
            #{$block}__tab {
                cursor: auto;
            }
        }

        &_last-tab {
            padding-inline-end: 0;
        }

        &_switcher-tab {
            padding-inline-end: 0;
            max-width: 100%;

            #{$block}__tab {
                width: auto;
                display: inline-flex;
                max-width: 100%;
            }
        }

        &_no-overflow {
            #{$block}__tab {
                overflow: initial;
            }
        }
    }

    &__tab {
        border-block-end: var(--gc-tabs-border-width) solid transparent;
        padding: var(--gc-tabs-border-width) 1px 0;

        box-sizing: border-box;
        text-decoration: none;
        line-height: var(--gc-tabs-height);
        color: var(--gc-tabs-color-text-inactive);
        text-overflow: ellipsis;
        overflow: hidden;
        width: 100%;

        cursor: pointer;
        user-select: none;
        outline: none;
        white-space: nowrap;

        &_disabled {
            pointer-events: none;
            cursor: auto;
            color: var(--gc-tabs-color-text-disabled);
        }

        &_active {
            border-color: var(--gc-tabs-color-border-active);
            color: var(--gc-tabs-color-text-active);
        }
    }

    &__chevron-icon {
        margin-inline-start: 10px;
    }

    &__tabs-as-select-control {
        #{$block}__tab {
            border: none;
        }
    }
}
