.compact-file-preview-with-actions {
    display: inline-flex;

    position: relative;

    &:focus-within {
        .file-preview-actions-compact {
            opacity: 1;
        }
    }

    @media (hover: hover) {
        &:hover {
            .file-preview-actions-compact {
                opacity: 1;
            }
        }
    }

    @media (hover: none) {
        .file-preview-actions-compact {
            opacity: 1;
        }
    }
}
