@use '../variables';

$block: '.#{variables.$ns}label';
$disabled: #{$block}_disabled;
$transitionDuration: 0.15s;
$transitionTimingFunction: ease-in-out;
$hover-opacity: 0.7;

@mixin sizeState($margin, $mainSize, $rAddon, $lAddon, $borderRadius) {
    height: $mainSize;
    border-radius: $borderRadius;
    & #{$block}__text {
        line-height: $mainSize;
        margin: 0 $margin;
    }

    & #{$block}__addon {
        --addon-size: calc(#{$mainSize} - var(--border-size) * 2);
        width: var(--addon-size);
        height: var(--addon-size);
    }

    &#{$block}_has-right-addon #{$block}__text {
        margin-right: $rAddon;
    }

    &#{$block}_has-left-addon #{$block}__text {
        margin-left: $lAddon;
    }
}

#{$block} {
    display: inline-flex;
    align-items: center;
    position: relative;
    transition-property: opacity, color, background-color;
    transition-duration: $transitionDuration;
    transition-timing-function: $transitionTimingFunction;
    box-sizing: border-box;

    --border-size: 0px;

    &__text {
        display: flex;
        align-items: baseline;
        width: 100%;
        font-size: var(--g-text-body-1-font-size);
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
    }

    &__content,
    &__key {
        text-overflow: ellipsis;
        overflow: hidden;
    }

    &__value {
        display: flex;
        opacity: $hover-opacity;
        overflow: hidden;
    }

    &__separator {
        margin: 0 4px;
    }

    // & selector added to up priority over button styles
    & &__addon {
        display: flex;
        align-items: center;
        justify-content: center;

        &_side_left,
        &_side_right {
            position: absolute;
            top: 0;
        }

        &_side_left {
            left: 2px;
        }

        &_side_right {
            right: 0;
        }

        &_interactive {
            --yc-button-background-color: transparent;

            cursor: pointer;
            color: inherit;
            transition: color, background-color;
            transition-duration: $transitionDuration;
            transition-timing-function: $transitionTimingFunction;
        }
    }

    &_size {
        &_xs {
            @include sizeState(8px, 20px, 22px, 24px, var(--g-border-radius-xs));
        }

        &_s {
            @include sizeState(10px, 24px, 26px, 28px, var(--g-border-radius-s));
        }

        &_m {
            @include sizeState(12px, 28px, 32px, 32px, var(--g-border-radius-m));
        }
    }

    &_disabled {
        opacity: $hover-opacity;
        pointer-events: none;
    }

    &_is-interactive {
        cursor: pointer;
        outline: none;
    }

    &_is-interactive:focus-visible {
        outline: 2px solid var(--g-color-line-focus);
    }

    --_-bg-color: none;
    --_-bg-hover-color: none;
    --_-text-color: none;

    &_theme {
        &_normal {
            --_-bg-color: var(--g-color-base-misc-light);
            --_-bg-hover-color: var(--g-color-base-misc-light-hover);
            --_-text-color: var(--g-color-text-misc-heavy);
        }

        &_success {
            --_-bg-color: var(--g-color-base-positive-light);
            --_-bg-hover-color: var(--g-color-base-positive-light-hover);
            --_-text-color: var(--g-color-text-positive-heavy);
        }

        &_info {
            --_-bg-color: var(--g-color-base-info-light);
            --_-bg-hover-color: var(--g-color-base-info-light-hover);
            --_-text-color: var(--g-color-text-info-heavy);
        }

        &_warning {
            --_-bg-color: var(--g-color-base-warning-light);
            --_-bg-hover-color: var(--g-color-base-warning-light-hover);
            --_-text-color: var(--g-color-text-warning-heavy);
        }

        &_danger {
            --_-bg-color: var(--g-color-base-danger-light);
            --_-bg-hover-color: var(--g-color-base-danger-light-hover);
            --_-text-color: var(--g-color-text-danger-heavy);
        }

        &_utility {
            --_-bg-color: var(--g-color-base-utility-light);
            --_-bg-hover-color: var(--g-color-base-utility-light-hover);
            --_-text-color: var(--g-color-text-utility-heavy);
        }

        &_unknown {
            --_-bg-color: var(--g-color-base-neutral-light);
            --_-bg-hover-color: var(--g-color-base-neutral-light-hover);
            --_-text-color: var(--g-color-text-complementary);
        }

        &_clear {
            --_-bg-color: transparent;
            --_-bg-hover-color: var(--g-color-base-simple-hover-solid);
            --_-text-color: var(--g-color-text-complementary);

            --border-size: 1px;
            border: var(--border-size) solid var(--g-color-line-generic);
        }
    }

    color: var(--_-text-color);
    background-color: var(--_-bg-color);

    // hover on interactive label (excluding hover on addon)
    &_is-interactive:hover:not(:has(#{$block}__addon_interactive:hover)) {
        background-color: var(--_-bg-hover-color);
    }

    // hover on action button
    &:not(#{$disabled}) #{$block}__addon_interactive {
        --yc-button-background-color-hover: var(--_-bg-hover-color);

        &:hover,
        &:focus,
        &:active {
            color: var(--_-text-color);
        }
    }
}
