@use '../variables';

$block: '.#{variables.$ns}label';
$disabled: #{$block}_disabled;
$transitionDuration: 0.3s;
$transitionTimingFunction: ease-in-out;

@mixin themeState($bgColor, $bgHoverColor, $textColor) {
    color: #{$textColor};
    background-color: #{$bgColor};

    // hover on interactive label
    &:not(#{$disabled})#{$block}_is-interactive:hover {
        background-color: #{$bgHoverColor};
    }

    // hover on action button
    &:not(#{$disabled}) #{$block}__icon_interactive {
        --yc-button-background-color-hover: #{$bgHoverColor};

        &:hover {
            color: #{$textColor};
        }
    }
}

#{$block} {
    display: inline-flex;
    align-items: center;
    position: relative;
    transition-property: opacity, color, background-color;
    transition-duration: $transitionDuration;
    transition-timing-function: $transitionTimingFunction;

    &__text {
        width: 100%;
        text-align: center;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;

        &_side_left,
        &_side_right {
            position: absolute;
            top: 0;
        }

        &_side_left {
            left: 2px;
        }

        &_side_right {
            right: 0;
        }

        &_interactive {
            --yc-button-background-color: transparent;

            cursor: pointer;
            color: inherit;
            transition: color, background-color;
            transition-duration: $transitionDuration;
            transition-timing-function: $transitionTimingFunction;
        }
    }

    &_size {
        &_s {
            height: 20px;

            & #{$block}__text {
                line-height: 20px;
                margin: 0 8px;
            }

            & #{$block}__icon {
                width: 20px;
                height: 20px;
            }

            &#{$block}_has-right-icon #{$block}__text {
                margin-right: 22px;
            }

            &#{$block}_has-left-icon #{$block}__text {
                margin-left: 24px;
            }

            &#{$block}_style {
                &_default,
                &_rounded {
                    border-radius: 4px;

                    & #{$block}__icon {
                        &_interactive {
                            --yc-button-height: 20px;
                            --yc-button-border-radius: 4px;
                        }
                    }
                }
            }
        }

        &_m {
            height: 28px;

            & #{$block}__text {
                line-height: 28px;
                margin: 0 12px;
            }

            & #{$block}__icon {
                width: 28px;
                height: 28px;
            }

            &#{$block}_has-right-icon #{$block}__text {
                margin-right: 32px;
            }

            &#{$block}_has-left-icon #{$block}__text {
                margin-left: 32px;
            }

            &#{$block}_style {
                &_default {
                    border-radius: 4px;

                    & #{$block}__icon {
                        &_interactive {
                            --yc-button-height: 28px;
                            --yc-button-border-radius: 4px;
                        }
                    }
                }

                &_rounded {
                    border-radius: 24px;

                    & #{$block}__icon {
                        &_interactive {
                            --yc-button-height: 28px;
                            --yc-button-border-radius: 24px;
                        }
                    }
                }
            }
        }
    }

    &_disabled {
        opacity: 0.7;
        pointer-events: none;
    }

    &_is-interactive {
        cursor: pointer;
    }

    &_theme {
        &_normal {
            @include themeState(
                var(--yc-color-base-misc),
                var(--yc-color-base-misc-hover),
                var(--yc-color-text-misc)
            );
        }

        &_success {
            @include themeState(
                var(--yc-color-base-positive),
                var(--yc-color-base-positive-hover),
                var(--yc-color-text-positive)
            );
        }

        &_info {
            @include themeState(
                var(--yc-color-base-info),
                var(--yc-color-base-info-hover),
                var(--yc-color-text-info)
            );
        }

        &_warning {
            @include themeState(
                var(--yc-color-base-warning),
                var(--yc-color-base-warning-hover),
                var(--yc-color-text-warning-heavy)
            );
        }

        &_danger {
            @include themeState(
                var(--yc-color-base-danger),
                var(--yc-color-base-danger-hover),
                var(--yc-color-text-danger)
            );
        }

        &_unknown {
            @include themeState(
                var(--yc-color-base-neutral),
                var(--yc-color-base-neutral-hover),
                var(--yc-color-text-complementary)
            );
        }

        &_plain {
            color: var(--yc-color-text-complementary);
            background-color: var(--yc-color-base-generic);

            // hover on interactive element (with onClick or tooltip)
            &:not(#{$disabled})#{$block}_is-interactive:hover {
                background-color: var(--yc-color-base-generic-hover);
            }

            // hover on element with a copy function
            &:not(#{$disabled})#{$block}_type_copy:hover {
                color: var(--yc-color-text-inverted-primary);
                background-color: var(--yc-color-text-secondary);
            }

            // hover on cross
            &:not(#{$disabled}) #{$block}__icon_cross {
                --yc-button-background-color: transparent;
                --yc-button-background-color-hover: var(--yc-color-text-secondary);

                color: inherit;

                &:hover {
                    color: var(--yc-color-text-inverted-primary);
                }
            }
        }
    }
}
