@use '../variables';
@use '../../../styles/mixins';

$block: '.#{variables.$ns}select';

#{$block} {
    display: inline-block;

    max-width: 100%;

    &_width_max {
        width: 100%;
    }

    &__sheet-label {
        box-sizing: border-box;
        position: sticky;
        inset-block-start: 0;
        z-index: 1;
        width: 100%;
        padding-block-end: var(--g-spacing-2);
        text-align: center;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: var(--g-color-text-primary);
        @include mixins.text-subheader-2();
    }
}
