@import './typography';
@import './spacing';
@import './brand';

@mixin g-common {
    @include yc-typography;
    @include yc-spacing;
    @include yc-brand;

    --g-scrollbar-width: var(--yc-scrollbar-width, 12px);

    --g-border-radius-xs: var(--yc-border-radius-xs, 5px);
    --g-border-radius-s: var(--yc-border-radius-s, 5px);
    --g-border-radius-m: var(--yc-border-radius-m, 6px);
    --g-border-radius-l: var(--yc-border-radius-l, 8px);
    --g-border-radius-xl: var(--yc-border-radius-xl, 10px);
}
