@mixin yc-brand {
    --yc-my-scrollbar-width: 12px;

    --yc-my-border-radius-xs: 5px;
    --yc-my-border-radius-s: 5px;
    --yc-my-border-radius-m: 6px;
    --yc-my-border-radius-l: 8px;
    --yc-my-border-radius-xl: 10px;
}
