@mixin yc-colors-base-dark {
    --g-color-base-background: var(--g-color-private-black-rock-850);
    --g-color-base-generic: var(--g-color-private-white-100);
    --g-color-base-generic-hover: var(--g-color-private-white-150);
    --g-color-base-generic-medium: var(--g-color-private-white-250);
    --g-color-base-generic-medium-hover: var(--g-color-private-white-300);
    --g-color-base-generic-accent: var(--g-color-private-white-150);
    --g-color-base-generic-accent-disabled: var(--g-color-private-white-70);
    --g-color-base-generic-ultralight: var(--g-color-private-white-20-solid);
    --g-color-base-simple-hover: var(--g-color-private-white-100);
    --g-color-base-simple-hover-solid: var(--g-color-private-white-100-solid);
    --g-color-base-selection: var(--g-color-private-blue-150);
    --g-color-base-selection-hover: var(--g-color-private-blue-300);

    --g-color-base-brand: var(--g-color-private-blue-550);
    --g-color-base-brand-hover: var(--g-color-private-blue-700);
    --g-color-base-brand-light: var(--g-color-private-blue-300);

    --g-color-base-info: var(--g-color-private-blue-100);
    --g-color-base-info-hover: var(--g-color-private-blue-150);
    --g-color-base-positive: var(--g-color-private-green-100);
    --g-color-base-positive-hover: var(--g-color-private-green-150);
    --g-color-base-warning: var(--g-color-private-yellow-100);
    --g-color-base-warning-hover: var(--g-color-private-yellow-150);
    --g-color-base-danger: var(--g-color-private-red-100);
    --g-color-base-danger-hover: var(--g-color-private-red-150);
    --g-color-base-misc: var(--g-color-private-cool-grey-100);
    --g-color-base-misc-hover: var(--g-color-private-cool-grey-150);
    --g-color-base-neutral: var(--g-color-private-white-100);
    --g-color-base-neutral-hover: var(--g-color-private-white-150);

    --g-color-base-positive-medium: var(--g-color-private-green-300);
    --g-color-base-positive-medium-hover: var(--g-color-private-green-350);

    --g-color-base-info-heavy: var(--g-color-private-blue-450);
    --g-color-base-positive-heavy: var(--g-color-private-green-450);
    --g-color-base-warning-heavy: var(--g-color-private-yellow-550);
    --g-color-base-warning-heavy-hover: var(--g-color-private-yellow-700);
    --g-color-base-danger-heavy: var(--g-color-private-red-450);
    --g-color-base-danger-heavy-hover: var(--g-color-private-red-550);
    --g-color-base-misc-heavy: var(--g-color-private-cool-grey-450-solid);
    --g-color-base-misc-heavy-hover: var(--g-color-private-cool-grey-550);

    --g-color-base-light: var(--g-color-private-white-850);
    --g-color-base-light-hover: var(--g-color-private-white-700);
    --g-color-base-light-simple-hover: var(--g-color-private-white-150);
    --g-color-base-light-disabled: var(--g-color-private-white-150);
    --g-color-base-light-accent-disabled: var(--g-color-private-white-300);

    --g-color-base-float: var(--g-color-private-white-100-solid);
    --g-color-base-float-hover: var(--g-color-private-white-150-solid);
    --g-color-base-float-heavy: var(--g-color-private-white-150-solid);
    --g-color-base-float-accent: var(--g-color-private-white-150-solid);
    --g-color-base-float-accent-hover: var(--g-color-private-white-200-solid);
    --g-color-base-float-announcement: var(--g-color-private-white-150-solid);
    --g-color-base-modal: var(--g-color-private-black-rock-850);
}
