@mixin g-colors-private-dark {
    --g-color-private-white-50: rgba(255, 255, 255, 0.05);
    --g-color-private-white-70: rgba(255, 255, 255, 0.07);
    --g-color-private-white-100: rgba(255, 255, 255, 0.1);
    --g-color-private-white-150: rgba(255, 255, 255, 0.15);
    --g-color-private-white-200: rgba(255, 255, 255, 0.2);
    --g-color-private-white-250: rgba(255, 255, 255, 0.25);
    --g-color-private-white-300: rgba(255, 255, 255, 0.3);
    --g-color-private-white-350: rgba(255, 255, 255, 0.35);
    --g-color-private-white-400: rgba(255, 255, 255, 0.4);
    --g-color-private-white-450: rgba(255, 255, 255, 0.45);
    --g-color-private-white-500: rgba(255, 255, 255, 0.5);
    --g-color-private-white-550: rgba(255, 255, 255, 0.55);
    --g-color-private-white-600: rgba(255, 255, 255, 0.6);
    --g-color-private-white-650: rgba(255, 255, 255, 0.65);
    --g-color-private-white-700: rgba(255, 255, 255, 0.7);
    --g-color-private-white-750: rgba(255, 255, 255, 0.75);
    --g-color-private-white-800: rgba(255, 255, 255, 0.8);
    --g-color-private-white-850: rgba(255, 255, 255, 0.85);
    --g-color-private-white-900: rgba(255, 255, 255, 0.9);
    --g-color-private-white-950: rgba(255, 255, 255, 0.95);

    --g-color-private-white-20-solid: rgb(38, 34, 38);
    --g-color-private-white-50-solid: rgb(45, 40, 45);
    --g-color-private-white-70-solid: rgb(49, 45, 49);
    --g-color-private-white-100-solid: rgb(56, 52, 56);
    --g-color-private-white-150-solid: rgb(67, 63, 67);
    --g-color-private-white-200-solid: rgb(78, 74, 78);
    --g-color-private-white-250-solid: rgb(89, 85, 89);
    --g-color-private-white-300-solid: rgb(100, 97, 100);
    --g-color-private-white-350-solid: rgb(111, 108, 111);
    --g-color-private-white-400-solid: rgb(122, 119, 122);
    --g-color-private-white-450-solid: rgb(133, 131, 133);
    --g-color-private-white-500-solid: rgb(144, 142, 144);
    --g-color-private-white-550-solid: rgb(156, 153, 156);
    --g-color-private-white-600-solid: rgb(167, 165, 167);
    --g-color-private-white-650-solid: rgb(178, 176, 178);
    --g-color-private-white-700-solid: rgb(189, 187, 189);
    --g-color-private-white-750-solid: rgb(200, 198, 200);
    --g-color-private-white-800-solid: rgb(211, 210, 211);
    --g-color-private-white-850-solid: rgb(222, 221, 222);
    --g-color-private-white-900-solid: rgb(233, 232, 233);
    --g-color-private-white-950-solid: rgb(244, 244, 244);
    --g-color-private-white-1000-solid: rgb(255, 255, 255);

    --g-color-private-white-opaque-150: rgba(76, 75, 81, 0.95);

    --g-color-private-black-20: rgba(0, 0, 0, 0.02);
    --g-color-private-black-50: rgba(0, 0, 0, 0.05);
    --g-color-private-black-100: rgba(0, 0, 0, 0.1);
    --g-color-private-black-150: rgba(0, 0, 0, 0.15);
    --g-color-private-black-200: rgba(0, 0, 0, 0.2);
    --g-color-private-black-250: rgba(0, 0, 0, 0.25);
    --g-color-private-black-300: rgba(0, 0, 0, 0.3);
    --g-color-private-black-350: rgba(0, 0, 0, 0.35);
    --g-color-private-black-400: rgba(0, 0, 0, 0.4);
    --g-color-private-black-450: rgba(0, 0, 0, 0.45);
    --g-color-private-black-500: rgba(0, 0, 0, 0.5);
    --g-color-private-black-550: rgba(0, 0, 0, 0.55);
    --g-color-private-black-600: rgba(0, 0, 0, 0.6);
    --g-color-private-black-650: rgba(0, 0, 0, 0.65);
    --g-color-private-black-700: rgba(0, 0, 0, 0.7);
    --g-color-private-black-750: rgba(0, 0, 0, 0.75);
    --g-color-private-black-800: rgba(0, 0, 0, 0.8);
    --g-color-private-black-850: rgba(0, 0, 0, 0.85);
    --g-color-private-black-900: rgba(0, 0, 0, 0.9);
    --g-color-private-black-950: rgba(0, 0, 0, 0.95);

    --g-color-private-black-1000-solid: rgb(0, 0, 0);

    --g-color-private-blue-50: rgba(54, 151, 241, 0.1);
    --g-color-private-blue-100: rgba(54, 151, 241, 0.15);
    --g-color-private-blue-150: rgba(54, 151, 241, 0.2);
    --g-color-private-blue-200: rgba(54, 151, 241, 0.3);
    --g-color-private-blue-250: rgba(54, 151, 241, 0.4);
    --g-color-private-blue-300: rgba(54, 151, 241, 0.5);
    --g-color-private-blue-350: rgba(54, 151, 241, 0.6);
    --g-color-private-blue-400: rgba(54, 151, 241, 0.7);
    --g-color-private-blue-450: rgba(54, 151, 241, 0.8);
    --g-color-private-blue-500: rgba(54, 151, 241, 0.9);

    --g-color-private-blue-50-solid: rgb(36, 41, 55);
    --g-color-private-blue-100-solid: rgb(37, 47, 65);
    --g-color-private-blue-150-solid: rgb(38, 53, 75);
    --g-color-private-blue-200-solid: rgb(40, 66, 96);
    --g-color-private-blue-250-solid: rgb(42, 78, 117);
    --g-color-private-blue-300-solid: rgb(44, 90, 138);
    --g-color-private-blue-350-solid: rgb(46, 102, 158);
    --g-color-private-blue-400-solid: rgb(48, 114, 179);
    --g-color-private-blue-450-solid: rgb(50, 127, 200);
    --g-color-private-blue-500-solid: rgb(52, 139, 220);
    --g-color-private-blue-550-solid: rgb(54, 151, 241);
    --g-color-private-blue-600-solid: rgb(74, 161, 242);
    --g-color-private-blue-650-solid: rgb(94, 172, 244);
    --g-color-private-blue-700-solid: rgb(114, 182, 245);
    --g-color-private-blue-750-solid: rgb(134, 193, 247);
    --g-color-private-blue-800-solid: rgb(155, 203, 248);
    --g-color-private-blue-850-solid: rgb(175, 213, 249);
    --g-color-private-blue-900-solid: rgb(195, 224, 251);
    --g-color-private-blue-950-solid: rgb(215, 234, 252);
    --g-color-private-blue-1000-solid: rgb(225, 239, 253);

    --g-color-private-green-50: rgba(77, 176, 155, 0.1);
    --g-color-private-green-100: rgba(77, 176, 155, 0.15);
    --g-color-private-green-150: rgba(77, 176, 155, 0.2);
    --g-color-private-green-200: rgba(77, 176, 155, 0.3);
    --g-color-private-green-250: rgba(77, 176, 155, 0.4);
    --g-color-private-green-300: rgba(77, 176, 155, 0.5);
    --g-color-private-green-350: rgba(77, 176, 155, 0.6);
    --g-color-private-green-400: rgba(77, 176, 155, 0.7);
    --g-color-private-green-450: rgba(77, 176, 155, 0.8);
    --g-color-private-green-500: rgba(77, 176, 155, 0.9);

    --g-color-private-green-50-solid: rgb(38, 44, 46);
    --g-color-private-green-100-solid: rgb(40, 51, 52);
    --g-color-private-green-150-solid: rgb(43, 58, 58);
    --g-color-private-green-200-solid: rgb(47, 73, 70);
    --g-color-private-green-250-solid: rgb(51, 88, 82);
    --g-color-private-green-300-solid: rgb(56, 103, 95);
    --g-color-private-green-350-solid: rgb(60, 117, 107);
    --g-color-private-green-400-solid: rgb(64, 132, 119);
    --g-color-private-green-450-solid: rgb(68, 147, 131);
    --g-color-private-green-500-solid: rgb(73, 161, 143);
    --g-color-private-green-550-solid: rgb(77, 176, 155);
    --g-color-private-green-600-solid: rgb(95, 184, 165);
    --g-color-private-green-650-solid: rgb(113, 192, 175);
    --g-color-private-green-700-solid: rgb(130, 200, 185);
    --g-color-private-green-750-solid: rgb(148, 208, 195);
    --g-color-private-green-800-solid: rgb(166, 216, 205);
    --g-color-private-green-850-solid: rgb(184, 223, 215);
    --g-color-private-green-900-solid: rgb(202, 231, 225);
    --g-color-private-green-950-solid: rgb(219, 239, 235);
    --g-color-private-green-1000-solid: rgb(228, 243, 240);

    --g-color-private-yellow-50: rgba(255, 190, 92, 0.1);
    --g-color-private-yellow-100: rgba(255, 190, 92, 0.15);
    --g-color-private-yellow-150: rgba(255, 190, 92, 0.2);
    --g-color-private-yellow-200: rgba(255, 190, 92, 0.3);
    --g-color-private-yellow-250: rgba(255, 190, 92, 0.4);
    --g-color-private-yellow-300: rgba(255, 190, 92, 0.5);
    --g-color-private-yellow-350: rgba(255, 190, 92, 0.6);
    --g-color-private-yellow-400: rgba(255, 190, 92, 0.7);
    --g-color-private-yellow-450: rgba(255, 190, 92, 0.8);
    --g-color-private-yellow-500: rgba(255, 190, 92, 0.9);

    --g-color-private-yellow-50-solid: rgb(56, 45, 40);
    --g-color-private-yellow-100-solid: rgb(67, 53, 43);
    --g-color-private-yellow-150-solid: rgb(78, 61, 46);
    --g-color-private-yellow-200-solid: rgb(100, 77, 51);
    --g-color-private-yellow-250-solid: rgb(122, 93, 57);
    --g-color-private-yellow-300-solid: rgb(145, 110, 63);
    --g-color-private-yellow-350-solid: rgb(167, 126, 69);
    --g-color-private-yellow-400-solid: rgb(189, 142, 75);
    --g-color-private-yellow-450-solid: rgb(211, 158, 80);
    --g-color-private-yellow-500-solid: rgb(233, 174, 86);
    --g-color-private-yellow-550-solid: rgb(255, 190, 92);
    --g-color-private-yellow-600-solid: rgb(255, 197, 108);
    --g-color-private-yellow-650-solid: rgb(255, 203, 125);
    --g-color-private-yellow-700-solid: rgb(255, 210, 141);
    --g-color-private-yellow-750-solid: rgb(255, 216, 157);
    --g-color-private-yellow-800-solid: rgb(255, 223, 174);
    --g-color-private-yellow-850-solid: rgb(255, 229, 190);
    --g-color-private-yellow-900-solid: rgb(255, 236, 206);
    --g-color-private-yellow-950-solid: rgb(255, 242, 222);
    --g-color-private-yellow-1000-solid: rgb(255, 245, 231);

    --g-color-private-orange-50: rgba(200, 99, 12, 0.1);
    --g-color-private-orange-100: rgba(200, 99, 12, 0.15);
    --g-color-private-orange-150: rgba(200, 99, 12, 0.2);
    --g-color-private-orange-200: rgba(200, 99, 12, 0.3);
    --g-color-private-orange-250: rgba(200, 99, 12, 0.4);
    --g-color-private-orange-300: rgba(200, 99, 12, 0.5);
    --g-color-private-orange-350: rgba(200, 99, 12, 0.6);
    --g-color-private-orange-400: rgba(200, 99, 12, 0.7);
    --g-color-private-orange-450: rgba(200, 99, 12, 0.8);
    --g-color-private-orange-500: rgba(200, 99, 12, 0.9);

    --g-color-private-orange-50-solid: rgb(51, 36, 32);
    --g-color-private-orange-100-solid: rgb(59, 40, 31);
    --g-color-private-orange-150-solid: rgb(67, 43, 30);
    --g-color-private-orange-200-solid: rgb(84, 50, 27);
    --g-color-private-orange-250-solid: rgb(100, 57, 25);
    --g-color-private-orange-300-solid: rgb(117, 64, 23);
    --g-color-private-orange-350-solid: rgb(134, 71, 21);
    --g-color-private-orange-400-solid: rgb(150, 78, 19);
    --g-color-private-orange-450-solid: rgb(167, 85, 16);
    --g-color-private-orange-500-solid: rgb(183, 92, 14);
    --g-color-private-orange-550-solid: rgb(200, 99, 12);
    --g-color-private-orange-600-solid: rgb(206, 115, 36);
    --g-color-private-orange-650-solid: rgb(211, 130, 61);
    --g-color-private-orange-700-solid: rgb(217, 146, 85);
    --g-color-private-orange-750-solid: rgb(222, 161, 109);
    --g-color-private-orange-800-solid: rgb(228, 177, 134);
    --g-color-private-orange-850-solid: rgb(233, 193, 158);
    --g-color-private-orange-900-solid: rgb(239, 208, 182);
    --g-color-private-orange-950-solid: rgb(244, 224, 206);
    --g-color-private-orange-1000-solid: rgb(247, 232, 219);

    --g-color-private-red-50: rgba(229, 50, 93, 0.1);
    --g-color-private-red-100: rgba(229, 50, 93, 0.15);
    --g-color-private-red-150: rgba(229, 50, 93, 0.2);
    --g-color-private-red-200: rgba(229, 50, 93, 0.3);
    --g-color-private-red-250: rgba(229, 50, 93, 0.4);
    --g-color-private-red-300: rgba(229, 50, 93, 0.5);
    --g-color-private-red-350: rgba(229, 50, 93, 0.6);
    --g-color-private-red-400: rgba(229, 50, 93, 0.7);
    --g-color-private-red-450: rgba(229, 50, 93, 0.8);
    --g-color-private-red-500: rgba(229, 50, 93, 0.9);

    --g-color-private-red-50-solid: rgb(54, 31, 40);
    --g-color-private-red-100-solid: rgb(63, 32, 43);
    --g-color-private-red-150-solid: rgb(73, 33, 46);
    --g-color-private-red-200-solid: rgb(93, 35, 52);
    --g-color-private-red-250-solid: rgb(112, 37, 58);
    --g-color-private-red-300-solid: rgb(132, 40, 64);
    --g-color-private-red-350-solid: rgb(151, 42, 69);
    --g-color-private-red-400-solid: rgb(171, 44, 75);
    --g-color-private-red-450-solid: rgb(190, 46, 81);
    --g-color-private-red-500-solid: rgb(210, 48, 87);
    --g-color-private-red-550-solid: rgb(229, 50, 93);
    --g-color-private-red-600-solid: rgb(232, 71, 109);
    --g-color-private-red-650-solid: rgb(234, 91, 125);
    --g-color-private-red-700-solid: rgb(237, 112, 142);
    --g-color-private-red-750-solid: rgb(239, 132, 158);
    --g-color-private-red-800-solid: rgb(242, 153, 174);
    --g-color-private-red-850-solid: rgb(245, 173, 190);
    --g-color-private-red-900-solid: rgb(247, 194, 206);
    --g-color-private-red-950-solid: rgb(250, 214, 223);
    --g-color-private-red-1000-solid: rgb(251, 224, 231);

    --g-color-private-purple-50: rgba(143, 82, 204, 0.1);
    --g-color-private-purple-100: rgba(143, 82, 204, 0.15);
    --g-color-private-purple-150: rgba(143, 82, 204, 0.2);
    --g-color-private-purple-200: rgba(143, 82, 204, 0.3);
    --g-color-private-purple-250: rgba(143, 82, 204, 0.4);
    --g-color-private-purple-300: rgba(143, 82, 204, 0.5);
    --g-color-private-purple-350: rgba(143, 82, 204, 0.6);
    --g-color-private-purple-400: rgba(143, 82, 204, 0.7);
    --g-color-private-purple-450: rgba(143, 82, 204, 0.8);
    --g-color-private-purple-500: rgba(143, 82, 204, 0.9);

    --g-color-private-purple-50-solid: rgb(45, 34, 51);
    --g-color-private-purple-100-solid: rgb(50, 37, 60);
    --g-color-private-purple-150-solid: rgb(56, 40, 68);
    --g-color-private-purple-200-solid: rgb(67, 45, 85);
    --g-color-private-purple-250-solid: rgb(78, 50, 102);
    --g-color-private-purple-300-solid: rgb(89, 56, 119);
    --g-color-private-purple-350-solid: rgb(99, 61, 136);
    --g-color-private-purple-400-solid: rgb(110, 66, 153);
    --g-color-private-purple-450-solid: rgb(121, 71, 170);
    --g-color-private-purple-500-solid: rgb(132, 77, 187);
    --g-color-private-purple-550-solid: rgb(143, 82, 204);
    --g-color-private-purple-600-solid: rgb(154, 99, 209);
    --g-color-private-purple-650-solid: rgb(165, 117, 214);
    --g-color-private-purple-700-solid: rgb(177, 134, 219);
    --g-color-private-purple-750-solid: rgb(188, 151, 224);
    --g-color-private-purple-800-solid: rgb(199, 169, 230);
    --g-color-private-purple-850-solid: rgb(210, 186, 235);
    --g-color-private-purple-900-solid: rgb(221, 203, 240);
    --g-color-private-purple-950-solid: rgb(233, 220, 245);
    --g-color-private-purple-1000-solid: rgb(238, 229, 247);

    --g-color-private-cool-grey-50: rgba(96, 128, 156, 0.1);
    --g-color-private-cool-grey-100: rgba(96, 128, 156, 0.15);
    --g-color-private-cool-grey-150: rgba(96, 128, 156, 0.2);
    --g-color-private-cool-grey-200: rgba(96, 128, 156, 0.3);
    --g-color-private-cool-grey-250: rgba(96, 128, 156, 0.4);
    --g-color-private-cool-grey-300: rgba(96, 128, 156, 0.5);
    --g-color-private-cool-grey-350: rgba(96, 128, 156, 0.6);
    --g-color-private-cool-grey-400: rgba(96, 128, 156, 0.7);
    --g-color-private-cool-grey-450: rgba(96, 128, 156, 0.8);
    --g-color-private-cool-grey-500: rgba(96, 128, 156, 0.9);

    --g-color-private-cool-grey-50-solid: rgb(40, 39, 46);
    --g-color-private-cool-grey-100-solid: rgb(43, 44, 52);
    --g-color-private-cool-grey-150-solid: rgb(46, 49, 58);
    --g-color-private-cool-grey-200-solid: rgb(53, 59, 71);
    --g-color-private-cool-grey-250-solid: rgb(59, 69, 83);
    --g-color-private-cool-grey-300-solid: rgb(65, 79, 95);
    --g-color-private-cool-grey-350-solid: rgb(71, 88, 107);
    --g-color-private-cool-grey-400-solid: rgb(77, 98, 119);
    --g-color-private-cool-grey-450-solid: rgb(84, 108, 132);
    --g-color-private-cool-grey-500-solid: rgb(90, 118, 144);
    --g-color-private-cool-grey-550-solid: rgb(96, 128, 156);
    --g-color-private-cool-grey-600-solid: rgb(112, 141, 166);
    --g-color-private-cool-grey-650-solid: rgb(128, 153, 176);
    --g-color-private-cool-grey-700-solid: rgb(144, 166, 186);
    --g-color-private-cool-grey-750-solid: rgb(160, 179, 196);
    --g-color-private-cool-grey-800-solid: rgb(176, 192, 206);
    --g-color-private-cool-grey-850-solid: rgb(191, 204, 215);
    --g-color-private-cool-grey-900-solid: rgb(207, 217, 225);
    --g-color-private-cool-grey-950-solid: rgb(223, 230, 235);
    --g-color-private-cool-grey-1000-solid: rgb(231, 236, 240);
}
