@mixin yc-colors-promo-dark {
    --yc-color-promo-base-silver: #bcc0c4;
    --yc-color-promo-base-gold: #ffde5d;
    --yc-color-promo-base-asphalt: #474d52;
    --yc-color-promo-base-tomato: #ff6b6a;
    --yc-color-promo-base-copper: #ffb95a;
    --yc-color-promo-base-mint: #7fd68e;
    --yc-color-promo-base-sky: #69b4ff;
    --yc-color-promo-base-neon: #b384ff;

    --yc-color-promo-highlight-silver: #616366;
    --yc-color-promo-highlight-gold: #99832e;
    --yc-color-promo-highlight-asphalt: #5d656b;
    --yc-color-promo-highlight-tomato: #998585;
    --yc-color-promo-highlight-copper: #7f7262;
    --yc-color-promo-highlight-mint: #758978;
    --yc-color-promo-highlight-sky: #94a2af;
    --yc-color-promo-highlight-neon: #aea6ba;
}
