@mixin yc-colors-system-dark {
    --yc-color-scroll-track: var(--g-color-base-background);
    --yc-color-scroll-handle: var(--yc-color-private-white-150);
    --yc-color-scroll-handle-hover: var(--yc-color-private-white-250);
    --yc-color-scroll-corner: var(--yc-color-private-white-150);
}
