@mixin g-colors-text-dark {
    --g-color-text-primary: var(--g-color-text-light-primary);
    --g-color-text-complementary: var(--g-color-text-light-complementary);
    --g-color-text-secondary: var(--g-color-text-light-secondary);
    --g-color-text-hint: var(--g-color-text-light-hint);

    --g-color-text-info: var(--g-color-private-blue-550-solid);
    --g-color-text-positive: var(--g-color-private-green-550-solid);
    --g-color-text-warning: var(--g-color-private-yellow-550-solid);
    --g-color-text-danger: var(--g-color-private-red-550-solid);
    --g-color-text-utility: var(--g-color-private-purple-600-solid);
    --g-color-text-misc: var(--g-color-private-cool-grey-600-solid);

    --g-color-text-info-heavy: var(--g-color-private-blue-600-solid);
    --g-color-text-positive-heavy: var(--g-color-private-green-600-solid);
    --g-color-text-warning-heavy: var(--g-color-private-yellow-600-solid);
    --g-color-text-danger-heavy: var(--g-color-private-red-600-solid);
    --g-color-text-utility-heavy: var(--g-color-private-purple-650-solid);
    --g-color-text-misc-heavy: var(--g-color-private-cool-grey-650-solid);

    --g-color-text-brand: var(--g-color-private-yellow-600-solid);
    --g-color-text-brand-heavy: var(--g-color-private-yellow-700-solid);
    --g-color-text-brand-contrast: var(--g-color-text-dark-primary);
    --g-color-text-link: var(--g-color-private-yellow-550-solid);
    --g-color-text-link-hover: var(--g-color-private-orange-550-solid);
    --g-color-text-link-visited: var(--g-color-private-purple-600-solid);
    --g-color-text-link-visited-hover: var(--g-color-private-purple-750-solid);

    --g-color-text-dark-primary: var(--g-color-private-black-900);
    --g-color-text-dark-complementary: var(--g-color-private-black-700);
    --g-color-text-dark-secondary: var(--g-color-private-black-500);
    --g-color-text-dark-hint: var(--g-color-private-black-300);

    --g-color-text-light-primary: var(--g-color-private-white-850);
    --g-color-text-light-complementary: var(--g-color-private-white-700);
    --g-color-text-light-secondary: var(--g-color-private-white-500);
    --g-color-text-light-hint: var(--g-color-private-white-300);

    --g-color-text-inverted-primary: var(--g-color-text-dark-primary);
    --g-color-text-inverted-complementary: var(--g-color-text-dark-complementary);
    --g-color-text-inverted-secondary: var(--g-color-text-dark-secondary);
    --g-color-text-inverted-hint: var(--g-color-text-dark-hint);
}
