@use '../../../../styles/mixins';

.skeleton-showcase {
    display: inline-block;
    margin-right: 40px;
    width: 300px;

    &__card {
        @include mixins.text-body-2();
        padding: 10px;
        margin-bottom: 14px;
        border-radius: 5px;
        box-shadow: 0px 1px 5px var(--yc-color-sfx-shadow);
        background-color: var(--yc-color-base-float);
        display: flex;
    }

    &__info {
        padding-left: 10px;
        padding-top: 2px;
    }

    &__meta {
        margin-top: 4px;
        color: var(--yc-color-text-secondary);
    }

    &__avatar {
        min-width: 50%;

        &_loader {
            display: inline-flex;
        }
    }

    &__loader {
        &-info {
            height: 1em;
            margin-top: 4px;
            margin-bottom: 1px;
            width: 106px;

            &_meta {
                margin-top: 9px;
            }
        }

        &-avatar {
            height: 28px;
            width: 28px;
            border-radius: 50%;
            margin-right: 8px;
        }

        &-person-name {
            height: 1em;
            width: 62px;
            position: relative;
            top: 6px;
        }
    }
}
