@use '../../../../styles/mixins';

.skeleton-showcase {
    padding: 20px;
    width: 300px;

    &__card {
        @include mixins.text-body-2();
        padding: 10px;
        margin-block-end: 14px;
        border-radius: 5px;
        box-shadow: 0px 1px 5px var(--g-color-sfx-shadow);
        background-color: var(--g-color-base-float);
        display: flex;
    }

    &__info {
        margin-inline-start: 10px;
        margin-block-start: 2px;
    }

    &__meta {
        margin-block-start: 4px;
        color: var(--g-color-text-secondary);
    }

    &__avatar {
        min-width: 50%;

        &_loader {
            display: inline-flex;
        }
    }

    &__loader {
        &-info {
            height: 1em;
            width: 106px;

            &_meta {
                margin-block-start: 4px;
            }
        }

        &-avatar {
            height: 28px;
            width: 28px;
            border-radius: 50%;
            margin-inline-end: 8px;
        }

        &-person-name {
            height: 1em;
            width: 62px;
            position: relative;
            inset-block-start: 6px;
        }
    }
}
