@use '../variables.scss';

$colClassName: '.#{variables.$ns}col';
$rowClassName: '.#{variables.$ns}row';
$flexClassName: '.#{variables.$ns}flex';
$containerClassName: '.#{variables.$ns}container';
$spacingClassName: '.#{variables.$ns}s';

$space-none: var(--yc-spacing-none) !default;
$space-micro: var(--yc-spacing-micro) !default;
$space-xxs: var(--yc-spacing-xxs) !default;
$space-xs: var(--yc-spacing-xs) !default;
$space-s: var(--yc-spacing-s) !default;
$space-m: var(--yc-spacing-m) !default;
$space-l: var(--yc-spacing-l) !default;
$space-xl: var(--yc-spacing-xl) !default;
$space-xxl: var(--yc-spacing-xxl) !default;

$breakpoint-mobile: 480px !default;
$breakpoint-tabletH: 1080px !default;
$breakpoint-laptopS: 1200px !default;
$breakpoint-laptopM: 1400px !default;
$breakpoint-desktop: 1920px !default;

$COL_SIZE: (
    1: 8.33333333%,
    2: 16.66666667%,
    3: 25%,
    4: 33.33333333%,
    5: 41.66666667%,
    6: 50%,
    7: 58.33333333%,
    8: 66.66666667%,
    9: 75%,
    10: 83.33333333%,
    11: 91.66666667%,
    12: 100%,
);

$SPACE: (
    none: $space-none,
    micro: $space-micro,
    xxs: $space-xxs,
    xs: $space-xs,
    s: $space-s,
    m: $space-m,
    l: $space-l,
    xl: $space-xl,
    xxl: $space-xxl,
);

$MEDIA_MOD_CONTAINER: (
    'mobile' 'm' $breakpoint-mobile,
    'tabletH' 'th' $breakpoint-tabletH,
    'laptopS' 'lps' $breakpoint-laptopS,
    'laptopM' 'lpm' $breakpoint-laptopM,
    'desktop' 'd' $breakpoint-desktop
);

@mixin use-media($size) {
    @if $size == mobile {
        @media only screen and (max-width: $breakpoint-mobile) {
            @content;
        }
    } @else if $size == tabletH {
        @media only screen and (min-width: calc($breakpoint-mobile + 1px)) and (max-width: $breakpoint-tabletH) {
            @content;
        }
    } @else if $size == laptopS {
        @media only screen and (min-width: calc($breakpoint-tabletH + 1px)) and (max-width: $breakpoint-laptopS) {
            @content;
        }
    } @else if $size == laptopM {
        @media only screen and (min-width: calc($breakpoint-laptopS + 1px)) and (max-width: $breakpoint-laptopM) {
            @content;
        }
    } @else if $size == desktop {
        @media only screen and (min-width: calc($breakpoint-laptopM + 1px)) and (max-width: $breakpoint-desktop) {
            @content;
        }
    }
}
