$backgroundColor: var(--yc-color-base-background);
$toastBackgroundColor: var(--yc-color-base-float);
$borderColor: var(--yc-color-line-generic);
$shadowColor: var(--yc-color-sfx-shadow-heavy);
$linkColor: var(--yc-color-text-link);
