/* stylelint-disable declaration-no-important */

@use '../variables.scss' as v;

#{v.$flexBlock} {
    display: flex;

    &_inline {
        display: inline-flex;
    }

    &_center-content {
        justify-content: center;
        align-items: center;
    }

    @each $space, $value in v.$SPACE {
        &_s_#{$space} {
            margin-block-start: calc(-1 * $value) !important;
            margin-inline-start: calc(-1 * $value) !important;

            & > * {
                padding-block-start: $value !important;
                padding-inline-start: $value !important;
            }
        }
    }
}
