@use '../../../styles/lib/animation';
@import '../variables';

$block: '.#{$ns}skeleton';

#{$block} {
    display: inline-block;
    position: relative;
    z-index: 0;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;

    background-color: var(--yc-color-base-generic);

    &::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        background-image: linear-gradient(90deg, transparent, var(--yc-color-base-generic));
        animation: #{$ns}skeleton animation.get-timing(1.2s) ease-out infinite;
        content: '';
    }
}

@keyframes #{$ns}skeleton {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}
