@mixin g-colors-base-light-hc {
    --g-color-base-background: var(--g-color-private-white-1000-solid);
    --g-color-base-generic: var(--g-color-private-black-150);
    --g-color-base-generic-hover: var(--g-color-private-black-300);
    --g-color-base-generic-medium: var(--g-color-private-black-250);
    --g-color-base-generic-medium-hover: var(--g-color-private-black-350);
    --g-color-base-generic-accent: var(--g-color-private-black-250);
    --g-color-base-generic-accent-disabled: var(--g-color-private-black-150);
    --g-color-base-generic-ultralight: var(--g-color-private-black-50-solid);
    --g-color-base-simple-hover: var(--g-color-private-black-150);
    --g-color-base-simple-hover-solid: var(--g-color-private-black-150-solid);

    --g-color-base-brand: var(--g-color-private-yellow-550-solid);
    --g-color-base-brand-hover: var(--g-color-private-yellow-650-solid);
    --g-color-base-selection: var(--g-color-private-yellow-300);
    --g-color-base-selection-hover: var(--g-color-private-yellow-400);

    --g-color-base-info-light: var(--g-color-private-blue-250);
    --g-color-base-info-light-hover: var(--g-color-private-blue-350);
    --g-color-base-info-medium: var(--g-color-private-blue-400);
    --g-color-base-info-medium-hover: var(--g-color-private-blue-500);
    --g-color-base-info-heavy: var(--g-color-private-blue-700-solid);
    --g-color-base-info-heavy-hover: var(--g-color-private-blue-850-solid);

    --g-color-base-positive-light: var(--g-color-private-green-250);
    --g-color-base-positive-light-hover: var(--g-color-private-green-350);
    --g-color-base-positive-medium: var(--g-color-private-green-400);
    --g-color-base-positive-medium-hover: var(--g-color-private-green-500);
    --g-color-base-positive-heavy: var(--g-color-private-green-700-solid);
    --g-color-base-positive-heavy-hover: var(--g-color-private-green-800-solid);

    --g-color-base-warning-light: var(--g-color-private-yellow-300);
    --g-color-base-warning-light-hover: var(--g-color-private-yellow-400);
    --g-color-base-warning-medium: var(--g-color-private-yellow-400);
    --g-color-base-warning-medium-hover: var(--g-color-private-yellow-550-solid);
    --g-color-base-warning-heavy: var(--g-color-private-yellow-600-solid);
    --g-color-base-warning-heavy-hover: var(--g-color-private-yellow-700-solid);

    --g-color-base-danger-light: var(--g-color-private-red-250);
    --g-color-base-danger-light-hover: var(--g-color-private-red-350);
    --g-color-base-danger-medium: var(--g-color-private-red-400);
    --g-color-base-danger-medium-hover: var(--g-color-private-red-500);
    --g-color-base-danger-heavy: var(--g-color-private-red-700-solid);
    --g-color-base-danger-heavy-hover: var(--g-color-private-red-800-solid);

    --g-color-base-utility-light: var(--g-color-private-purple-250);
    --g-color-base-utility-light-hover: var(--g-color-private-purple-350);
    --g-color-base-utility-medium: var(--g-color-private-purple-400);
    --g-color-base-utility-medium-hover: var(--g-color-private-purple-500);
    --g-color-base-utility-heavy: var(--g-color-private-purple-700-solid);
    --g-color-base-utility-heavy-hover: var(--g-color-private-purple-800-solid);

    --g-color-base-neutral-light: var(--g-color-private-black-150);
    --g-color-base-neutral-light-hover: var(--g-color-private-black-250);
    --g-color-base-neutral-medium: var(--g-color-private-black-300);
    --g-color-base-neutral-medium-hover: var(--g-color-private-black-400);
    --g-color-base-neutral-heavy: var(--g-color-private-black-550);
    --g-color-base-neutral-heavy-hover: var(--g-color-private-black-650);

    --g-color-base-misc-light: var(--g-color-private-cool-grey-250);
    --g-color-base-misc-light-hover: var(--g-color-private-cool-grey-350);
    --g-color-base-misc-medium: var(--g-color-private-cool-grey-400);
    --g-color-base-misc-medium-hover: var(--g-color-private-cool-grey-500);
    --g-color-base-misc-heavy: var(--g-color-private-cool-grey-700-solid);
    --g-color-base-misc-heavy-hover: var(--g-color-private-cool-grey-800-solid);

    --g-color-base-light: var(--g-color-private-white-1000-solid);
    --g-color-base-light-hover: var(--g-color-private-white-850);
    --g-color-base-light-simple-hover: var(--g-color-private-white-300);
    --g-color-base-light-disabled: var(--g-color-private-white-150);
    --g-color-base-light-accent-disabled: var(--g-color-private-white-300);

    --g-color-base-float: var(--g-color-private-white-1000-solid);
    --g-color-base-float-hover: var(--g-color-private-black-150-solid);
    --g-color-base-float-medium: var(--g-color-private-black-550-solid);
    --g-color-base-float-heavy: var(--g-color-private-black-700-solid);
    --g-color-base-float-accent: var(--g-color-private-white-1000-solid);
    --g-color-base-float-accent-hover: var(--g-color-private-white-850);
    --g-color-base-float-announcement: var(--g-color-private-cool-grey-150-solid);

    --g-color-base-modal: var(--g-color-base-background);
}
