@mixin yc-colors-base-light-hc {
    --g-color-base-background: var(--g-color-private-white-1000);
    --g-color-base-generic: var(--g-color-private-black-150);
    --g-color-base-generic-hover: var(--g-color-private-black-300);
    --g-color-base-generic-medium: var(--g-color-private-black-250);
    --g-color-base-generic-medium-hover: var(--g-color-private-black-350);
    --g-color-base-generic-accent: var(--g-color-private-black-250);
    --g-color-base-generic-accent-disabled: var(--g-color-private-black-150);

    --g-color-base-generic-ultralight: var(--g-color-private-black-50-solid);

    --g-color-base-simple-hover: var(--g-color-private-black-150);

    --g-color-base-simple-hover-solid: var(--g-color-private-black-100-solid);
    --g-color-base-selection: var(--yc-color-brand-selection);

    --g-color-base-selection-hover: var(--yc-color-brand-selection-hover);
    --g-color-base-special: var(--yc-color-brand-normal);
    --g-color-base-special-hover: var(--yc-color-brand-normal-hover);
    --g-color-base-action: var(--g-color-base-special);
    --g-color-base-action-hover: var(--g-color-base-special-hover);

    --g-color-base-info: var(--g-color-private-blue-250);
    --g-color-base-info-hover: var(--g-color-private-blue-350);

    --g-color-base-positive: var(--g-color-private-green-250);
    --g-color-base-positive-hover: var(--g-color-private-green-350);

    --g-color-base-warning: var(--g-color-private-yellow-300);
    --g-color-base-warning-hover: var(--g-color-private-yellow-550);
    --g-color-base-danger: var(--g-color-private-red-250);
    --g-color-base-danger-hover: var(--g-color-private-red-350);
    --g-color-base-misc: var(--g-color-private-cool-grey-250);
    --g-color-base-misc-hover: var(--g-color-private-cool-grey-350);
    --g-color-base-neutral: var(--g-color-private-black-150);
    --g-color-base-neutral-hover: var(--g-color-private-black-300);

    --g-color-base-positive-medium: var(--g-color-private-green-350);
    --g-color-base-positive-medium-hover: var(--g-color-private-green-400);
    --g-color-base-info-heavy: var(--g-color-private-blue-450);
    --g-color-base-positive-heavy: var(--g-color-private-green-450);
    --g-color-base-warning-heavy: var(--g-color-private-yellow-450);
    --g-color-base-warning-heavy-hover: var(--g-color-private-yellow-700);
    --g-color-base-danger-heavy: var(--g-color-private-red-450);
    --g-color-base-danger-heavy-hover: var(--g-color-private-red-450);
    --g-color-base-misc-heavy: var(--g-color-private-cool-grey-450);
    --g-color-base-misc-heavy-hover: var(--g-color-private-cool-grey-550);

    --g-color-base-light: var(--g-color-private-white-1000);
    --g-color-base-light-hover: var(--g-color-private-white-850);
    --g-color-base-light-simple-hover: var(--g-color-private-white-300);
    --g-color-base-light-disabled: var(--g-color-private-white-150);
    --g-color-base-light-accent-disabled: var(--g-color-private-white-300);

    --g-color-base-float: var(--g-color-private-white-1000);
    --g-color-base-float-hover: var(--g-color-private-black-150-solid);
    --g-color-base-float-heavy: var(--g-color-private-black-700-solid);
    --g-color-base-float-accent: var(--g-color-private-white-1000);
    --g-color-base-float-accent-hover: var(--g-color-private-white-850);
    --g-color-base-float-announcement: var(--g-color-private-cool-grey-150-solid);

    --g-color-base-modal: var(--g-color-private-white-1000);
}
