@mixin yc-colors-brand-light-hc {
    --yc-color-brand-normal: var(--yc-color-private-blue-550);
    --yc-color-brand-normal-hover: var(--yc-color-private-blue-800);
    --yc-color-brand-light: var(--yc-color-private-blue-300);
    --yc-color-brand-selection: var(--yc-color-private-blue-250);
    --yc-color-brand-selection-hover: var(--yc-color-private-blue-450);
    --yc-color-brand-link: var(--yc-color-private-blue-650-solid);
    --yc-color-brand-link-hover: var(--yc-color-private-blue-850-solid);
    --yc-color-brand-text: var(--yc-color-private-blue-900-solid);
    --yc-color-brand-text-contrast: var(--yc-color-text-light-primary);
    --yc-color-brand-link-visited: var(--yc-color-private-purple-600-solid);
    --yc-color-brand-link-visited-hover: var(--yc-color-private-purple-850-solid);
}
