@mixin g-colors-promo-light-hc {
    --yc-color-promo-base-silver: #edf2f7;
    --yc-color-promo-base-gold: #ffdb4d;
    --yc-color-promo-base-asphalt: #313538;
    --yc-color-promo-base-tomato: #ff5958;
    --yc-color-promo-base-copper: #ffab3b;
    --yc-color-promo-base-mint: #5ecf71;
    --yc-color-promo-base-sky: #49a0f6;
    --yc-color-promo-base-neon: #9f6fee;

    --yc-color-promo-highlight-silver: #edf2f7;
    --yc-color-promo-highlight-gold: #fff1b8;
    --yc-color-promo-highlight-asphalt: #eaebeb;
    --yc-color-promo-highlight-tomato: #ffdede;
    --yc-color-promo-highlight-copper: #ffe6c4;
    --yc-color-promo-highlight-mint: #ccf0d2;
    --yc-color-promo-highlight-sky: #d6e9fd;
    --yc-color-promo-highlight-neon: #ece2fc;

    --yc-color-promo-accent-silver: #969a9e;
    --yc-color-promo-accent-gold: #ffdb4d;
    --yc-color-promo-accent-asphalt: #313538;
    --yc-color-promo-accent-tomato: #ff5958;
    --yc-color-promo-accent-copper: #ffab3b;
    --yc-color-promo-accent-mint: #5ecf71;
    --yc-color-promo-accent-sky: #49a0f6;
    --yc-color-promo-accent-neon: #9f6fee;

    --yc-color-promo-accent-hover-silver: #727578;
    --yc-color-promo-accent-hover-gold: #edbe28;
    --yc-color-promo-accent-hover-asphalt: #000;
    --yc-color-promo-accent-hover-tomato: #ee4f4e;
    --yc-color-promo-accent-hover-copper: #f28d04;
    --yc-color-promo-accent-hover-mint: #3bbc51;
    --yc-color-promo-accent-hover-sky: #2180de;
    --yc-color-promo-accent-hover-neon: #7b47cf;

    --yc-color-promo-text-silver: #969a9e;
    --yc-color-promo-text-gold: #ebb409;
    --yc-color-promo-text-asphalt: #313538;
    --yc-color-promo-text-tomato: #ff5958;
    --yc-color-promo-text-copper: #ffab3b;
    --yc-color-promo-text-mint: #5ecf71;
    --yc-color-promo-text-sky: #49a0f6;
    --yc-color-promo-text-neon: #9f6fee;
}
