@mixin yc-colors-sfx-light-hc {
    --yc-color-sfx-veil: var(--yc-color-private-black-450);
    --yc-color-sfx-shadow: var(--yc-color-private-black-300);
    --yc-color-sfx-shadow-heavy: var(--yc-color-private-black-600);
    --yc-color-sfx-shadow-light: var(--yc-color-private-black-100);
    --yc-color-sfx-fade: var(--yc-color-private-white-300);
}
