@mixin yc-colors-system-light-hc {
    --g-color-scroll-track: var(--g-color-base-background);
    --g-color-scroll-handle: var(--g-color-private-black-100);
    --g-color-scroll-handle-hover: var(--g-color-private-black-150);
    --g-color-scroll-corner: var(--g-color-private-black-100);
}
