.list-stories-card {
    display: flex;
    align-items: center;
    gap: 12px;

    width: 240px;
    padding: 8px 12px;
    border-radius: 8px;

    cursor: pointer;

    &_active {
        background-color: var(--g-color-base-simple-hover);
    }

    & > div:last-child {
        display: flex;
        flex-direction: column;

        span {
            color: var(--g-color-text-secondary);
            font-size: var(--g-text-caption-2-font-size);
        }
    }
}
