@use '../variables';

$block: '.#{variables.$ns}card';

#{$block} {
    background-color: transparent;
    box-sizing: border-box;
    border-radius: 5px;

    &_type_action {
        background-color: var(--yc-color-base-float);
        box-shadow: 0px 1px 5px var(--yc-color-sfx-shadow);

        &#{$block}_clickable:hover {
            box-shadow: 0px 3px 10px var(--yc-color-sfx-shadow);
            cursor: pointer;
        }
    }

    &_type_selection {
        position: relative;
        border: 1px solid var(--yc-color-line-generic);

        &::before {
            position: absolute;
            top: -1px;
            left: -1px;
            right: -1px;
            bottom: -1px;
            border-radius: 5px;
            pointer-events: none;
        }

        &#{$block}_clickable:hover {
            border-color: transparent;
            cursor: pointer;

            &::before {
                content: '';
                border: 2px solid var(--yc-color-line-selection-hover);
            }
        }

        &#{$block}_selected:not(#{$block}_disabled) {
            border-color: transparent;

            &::before {
                content: '';
                border: 2px solid var(--yc-color-line-selection-active);
            }
        }

        &#{$block}_view_clear {
            border-color: transparent;
        }
    }

    &_type_container {
        &#{$block}_theme_normal {
            &#{$block}_view_outlined {
                border: 1px solid var(--yc-color-line-generic);
            }
            &#{$block}_view_filled {
                background-color: var(--yc-color-base-generic);
            }
        }

        &#{$block}_theme_info {
            &#{$block}_view_outlined {
                border: 1px solid var(--yc-color-line-info);
            }
            &#{$block}_view_filled {
                background-color: var(--yc-color-base-info);
            }
        }

        &#{$block}_theme_positive {
            &#{$block}_view_outlined {
                border: 1px solid var(--yc-color-line-positive);
            }
            &#{$block}_view_filled {
                background-color: var(--yc-color-base-positive);
            }
        }

        &#{$block}_theme_warning {
            &#{$block}_view_outlined {
                border: 1px solid var(--yc-color-line-warning);
            }
            &#{$block}_view_filled {
                background-color: var(--yc-color-base-warning);
            }
        }

        &#{$block}_theme_danger {
            &#{$block}_view_outlined {
                border: 1px solid var(--yc-color-line-danger);
            }
            &#{$block}_view_filled {
                background-color: var(--yc-color-base-danger);
            }
        }

        &#{$block}_view_raised {
            background-color: var(--yc-color-base-float);
            box-shadow: 0px 1px 5px var(--yc-color-sfx-shadow);
        }
    }
}
