@use '../variables';

$block: '.#{variables.$ns}card';

#{$block} {
    --yc-card-box-shadow: none;
    --yc-card-border-radius: 8px;
    background-color: transparent;
    box-shadow: var(--yc-card-box-shadow);
    box-sizing: border-box;
    border-radius: var(--yc-card-border-radius);
    outline: none;

    &_type_action {
        background-color: var(--g-color-base-float);
        --yc-card-box-shadow: 0px 1px 5px var(--g-color-sfx-shadow);

        &::after {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border-radius: var(--yc-card-border-radius);
            pointer-events: none;
        }

        &#{$block}_clickable {
            cursor: pointer;
            position: relative;

            &:hover {
                --yc-card-box-shadow: 0px 3px 10px var(--g-color-sfx-shadow);
            }

            &:focus-visible::after {
                content: '';
                outline: 2px solid var(--g-color-line-focus);
            }
        }
    }

    &_type_selection {
        position: relative;
        border: 1px solid var(--g-color-line-generic);

        &::before {
            position: absolute;
            top: -1px;
            left: -1px;
            right: -1px;
            bottom: -1px;
            border-radius: var(--yc-card-border-radius);
            pointer-events: none;
        }

        &::after {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border-radius: var(--yc-card-border-radius);
            pointer-events: none;
        }

        &#{$block}_clickable {
            cursor: pointer;

            &:hover {
                border-color: transparent;

                &::before {
                    content: '';
                    border: 2px solid var(--g-color-line-brand);
                    opacity: 0.5;
                }

                &:focus-visible::before {
                    border-color: transparent;
                }
            }

            &:focus-visible::after {
                content: '';
                outline: 2px solid var(--g-color-line-focus);
            }
        }

        &#{$block}_selected:not(#{$block}_disabled) {
            border-color: transparent;

            &::before {
                content: '';
                border: 2px solid var(--g-color-line-brand);
            }
        }

        &#{$block}_view_clear {
            border-color: transparent;
        }
    }

    &_type_container {
        &#{$block}_theme_normal {
            &#{$block}_view_outlined {
                border: 1px solid var(--g-color-line-generic);
            }
            &#{$block}_view_filled {
                background-color: var(--g-color-base-generic);
            }
        }

        &#{$block}_theme_info {
            &#{$block}_view_outlined {
                border: 1px solid var(--g-color-line-info);
            }
            &#{$block}_view_filled {
                background-color: var(--g-color-base-info-light);
            }
        }

        &#{$block}_theme_positive,
        &#{$block}_theme_success {
            &#{$block}_view_outlined {
                border: 1px solid var(--g-color-line-positive);
            }
            &#{$block}_view_filled {
                background-color: var(--g-color-base-positive-light);
            }
        }

        &#{$block}_theme_warning {
            &#{$block}_view_outlined {
                border: 1px solid var(--g-color-line-warning);
            }
            &#{$block}_view_filled {
                background-color: var(--g-color-base-warning-light);
            }
        }

        &#{$block}_theme_danger {
            &#{$block}_view_outlined {
                border: 1px solid var(--g-color-line-danger);
            }
            &#{$block}_view_filled {
                background-color: var(--g-color-base-danger-light);
            }
        }

        &#{$block}_view_raised {
            background-color: var(--g-color-base-float);

            @at-root &#{$block}_size_m {
                --yc-card-box-shadow: 0px 1px 5px var(--g-color-sfx-shadow);
            }
            @at-root &#{$block}_size_l {
                --yc-card-box-shadow: 0px 1px 6px var(--g-color-sfx-shadow-light),
                    1px 3px 13px var(--g-color-sfx-shadow-light);
            }
        }
    }
    &_size {
        &_m {
            --yc-card-border-radius: 8px;
        }

        &_l {
            --yc-card-border-radius: 16px;
        }
    }
}
