@mixin g-colors-line-light {
    --g-color-line-generic: var(--g-color-private-black-100);
    --g-color-line-generic-hover: var(--g-color-private-black-150);
    --g-color-line-generic-active: var(--g-color-private-black-300);
    --g-color-line-generic-accent: var(--g-color-private-black-150);
    --g-color-line-generic-accent-hover: var(--g-color-private-black-300);
    --g-color-line-generic-solid: var(--g-color-private-black-100-solid);

    --g-color-line-brand: var(--g-color-private-yellow-600-solid);
    --g-color-line-focus: var(--g-color-private-cool-grey-450);
    --g-color-line-light: var(--g-color-private-white-500);

    --g-color-line-info: var(--g-color-private-blue-450);
    --g-color-line-positive: var(--g-color-private-green-450);
    --g-color-line-warning: var(--g-color-private-yellow-600-solid);
    --g-color-line-danger: var(--g-color-private-red-450);
    --g-color-line-utility: var(--g-color-private-purple-450);
    --g-color-line-misc: var(--g-color-private-cool-grey-450);
}
