@mixin g-colors-private-light {
    // Low level - https://figma.com/file/albZah2AMImAQDBhFMohdz

    --g-color-private-white-150: rgba(255, 255, 255, 0.15);
    --g-color-private-white-300: rgba(255, 255, 255, 0.3);
    --g-color-private-white-500: rgba(255, 255, 255, 0.5);
    --g-color-private-white-700: rgba(255, 255, 255, 0.7);
    --g-color-private-white-850: rgba(255, 255, 255, 0.85);
    --g-color-private-white-950: rgba(255, 255, 255, 0.95);
    --g-color-private-white-1000: rgba(255, 255, 255, 1);

    --g-color-private-black-50: rgba(0, 0, 0, 0.05);
    --g-color-private-black-70: rgba(0, 0, 0, 0.07);
    --g-color-private-black-100: rgba(0, 0, 0, 0.1);
    --g-color-private-black-150: rgba(0, 0, 0, 0.15);
    --g-color-private-black-250: rgba(0, 0, 0, 0.25);
    --g-color-private-black-300: rgba(0, 0, 0, 0.3);
    --g-color-private-black-500: rgba(0, 0, 0, 0.5);
    --g-color-private-black-550: rgba(0, 0, 0, 0.55);
    --g-color-private-black-700: rgba(0, 0, 0, 0.7);
    --g-color-private-black-850: rgba(0, 0, 0, 0.85);

    --g-color-private-black-20-solid: rgba(250, 250, 250, 1);
    --g-color-private-black-50-solid: rgba(243, 243, 243, 1);
    --g-color-private-black-100-solid: rgba(229, 229, 229, 1);
    --g-color-private-black-150-solid: rgba(218, 218, 218, 1);
    --g-color-private-black-700-solid: rgba(76, 76, 76, 1);

    --g-color-private-blue-50: rgba(82, 130, 255, 0.1);
    --g-color-private-blue-100: rgba(82, 130, 255, 0.16);
    --g-color-private-blue-300: rgba(82, 130, 255, 0.5);
    --g-color-private-blue-450: rgba(82, 130, 255, 0.75);
    --g-color-private-blue-500: rgba(82, 130, 255, 0.9);
    --g-color-private-blue-550: rgba(82, 130, 255, 1);
    --g-color-private-blue-600: rgba(74, 113, 214, 1);
    --g-color-private-blue-800: rgba(63, 87, 153, 1);

    --g-color-private-blue-50-solid: rgba(238, 243, 255, 1);
    --g-color-private-blue-100-solid: rgba(227, 235, 255, 1);
    --g-color-private-blue-450-solid: rgba(125, 161, 255, 1);

    --g-color-private-green-50: rgba(59, 201, 53, 0.1);
    --g-color-private-green-100: rgba(59, 201, 53, 0.14);
    --g-color-private-green-150: rgba(59, 201, 53, 0.25);
    --g-color-private-green-200: rgba(59, 201, 53, 0.35);
    --g-color-private-green-300: rgba(59, 201, 53, 0.5);
    --g-color-private-green-450: rgba(63, 201, 46, 0.75);
    --g-color-private-green-550: rgba(59, 201, 53, 1);
    --g-color-private-green-600: rgba(7, 163, 0, 1);

    --g-color-private-green-450-solid: rgba(111, 214, 98, 1);

    --g-color-private-yellow-100: rgba(255, 219, 77, 0.3);
    --g-color-private-yellow-200: rgba(255, 219, 77, 0.4);
    --g-color-private-yellow-550: rgba(255, 219, 77, 1);
    --g-color-private-yellow-600: rgba(245, 202, 69, 1);
    --g-color-private-yellow-650: rgba(245, 171, 25, 1);
    --g-color-private-yellow-700: rgba(224, 181, 9, 1);
    --g-color-private-yellow-800: rgba(209, 119, 0, 1);

    --g-color-private-red-50: rgba(235, 50, 38, 0.08);
    --g-color-private-red-100: rgba(235, 50, 38, 0.17);
    --g-color-private-red-300: rgba(255, 4, 0, 0.5);
    --g-color-private-red-450: rgba(255, 4, 0, 0.7);
    --g-color-private-red-500: rgba(255, 4, 0, 0.8);
    --g-color-private-red-550: rgba(255, 4, 0, 1);

    --g-color-private-red-450-solid: rgba(255, 80, 77, 1);

    --g-color-private-purple-550: rgba(154, 50, 166, 1);
    --g-color-private-purple-800: rgba(94, 62, 101, 1);

    --g-color-private-cool-grey-50: rgba(107, 132, 153, 0.12);
    --g-color-private-cool-grey-100: rgba(107, 132, 153, 0.2);
    --g-color-private-cool-grey-300: rgba(107, 132, 153, 0.55);
    --g-color-private-cool-grey-450: rgba(107, 132, 153, 0.75);
    --g-color-private-cool-grey-550: rgba(107, 132, 153, 1);
    --g-color-private-cool-grey-800: rgba(59, 96, 128, 1);

    --g-color-private-cool-grey-50-solid: rgba(237, 240, 243, 1);
    --g-color-private-cool-grey-450-solid: rgba(144, 163, 178, 1);

    --g-color-private-orange-50: rgba(255, 119, 0, 0.15);
    --g-color-private-orange-100: rgba(255, 119, 0, 0.2);
    --g-color-private-orange-300: rgba(255, 119, 0, 0.5);
    --g-color-private-orange-450: rgba(255, 180, 34, 1);
    --g-color-private-orange-550: rgba(255, 119, 0, 1);
}
