@mixin g-colors-private-light {
    --g-color-private-white-50: rgba(255, 255, 255, 0.05);
    --g-color-private-white-70: rgba(255, 255, 255, 0.07);
    --g-color-private-white-100: rgba(255, 255, 255, 0.1);
    --g-color-private-white-150: rgba(255, 255, 255, 0.15);
    --g-color-private-white-200: rgba(255, 255, 255, 0.2);
    --g-color-private-white-250: rgba(255, 255, 255, 0.25);
    --g-color-private-white-300: rgba(255, 255, 255, 0.3);
    --g-color-private-white-350: rgba(255, 255, 255, 0.35);
    --g-color-private-white-400: rgba(255, 255, 255, 0.4);
    --g-color-private-white-450: rgba(255, 255, 255, 0.45);
    --g-color-private-white-500: rgba(255, 255, 255, 0.5);
    --g-color-private-white-550: rgba(255, 255, 255, 0.55);
    --g-color-private-white-600: rgba(255, 255, 255, 0.6);
    --g-color-private-white-650: rgba(255, 255, 255, 0.65);
    --g-color-private-white-700: rgba(255, 255, 255, 0.7);
    --g-color-private-white-750: rgba(255, 255, 255, 0.75);
    --g-color-private-white-800: rgba(255, 255, 255, 0.8);
    --g-color-private-white-850: rgba(255, 255, 255, 0.85);
    --g-color-private-white-900: rgba(255, 255, 255, 0.9);
    --g-color-private-white-950: rgba(255, 255, 255, 0.95);

    --g-color-private-white-1000-solid: rgb(255, 255, 255);

    --g-color-private-black-50: rgba(0, 0, 0, 0.05);
    --g-color-private-black-70: rgba(0, 0, 0, 0.07);
    --g-color-private-black-100: rgba(0, 0, 0, 0.1);
    --g-color-private-black-150: rgba(0, 0, 0, 0.15);
    --g-color-private-black-200: rgba(0, 0, 0, 0.2);
    --g-color-private-black-250: rgba(0, 0, 0, 0.25);
    --g-color-private-black-300: rgba(0, 0, 0, 0.3);
    --g-color-private-black-350: rgba(0, 0, 0, 0.35);
    --g-color-private-black-400: rgba(0, 0, 0, 0.4);
    --g-color-private-black-450: rgba(0, 0, 0, 0.45);
    --g-color-private-black-500: rgba(0, 0, 0, 0.5);
    --g-color-private-black-550: rgba(0, 0, 0, 0.55);
    --g-color-private-black-600: rgba(0, 0, 0, 0.6);
    --g-color-private-black-650: rgba(0, 0, 0, 0.65);
    --g-color-private-black-700: rgba(0, 0, 0, 0.7);
    --g-color-private-black-750: rgba(0, 0, 0, 0.75);
    --g-color-private-black-800: rgba(0, 0, 0, 0.8);
    --g-color-private-black-850: rgba(0, 0, 0, 0.85);
    --g-color-private-black-900: rgba(0, 0, 0, 0.9);
    --g-color-private-black-950: rgba(0, 0, 0, 0.95);

    --g-color-private-black-20-solid: rgb(250, 250, 250);
    --g-color-private-black-50-solid: rgb(242, 242, 242);
    --g-color-private-black-100-solid: rgb(229, 229, 229);
    --g-color-private-black-150-solid: rgb(217, 217, 217);
    --g-color-private-black-200-solid: rgb(204, 204, 204);
    --g-color-private-black-250-solid: rgb(191, 191, 191);
    --g-color-private-black-300-solid: rgb(179, 179, 179);
    --g-color-private-black-350-solid: rgb(166, 166, 166);
    --g-color-private-black-400-solid: rgb(153, 153, 153);
    --g-color-private-black-450-solid: rgb(140, 140, 140);
    --g-color-private-black-500-solid: rgb(128, 128, 128);
    --g-color-private-black-550-solid: rgb(115, 115, 115);
    --g-color-private-black-600-solid: rgb(102, 102, 102);
    --g-color-private-black-650-solid: rgb(89, 89, 89);
    --g-color-private-black-700-solid: rgb(76, 76, 76);
    --g-color-private-black-750-solid: rgb(64, 64, 64);
    --g-color-private-black-800-solid: rgb(51, 51, 51);
    --g-color-private-black-850-solid: rgb(38, 38, 38);
    --g-color-private-black-900-solid: rgb(26, 26, 26);
    --g-color-private-black-950-solid: rgb(13, 13, 13);
    --g-color-private-black-1000-solid: rgb(0, 0, 0);

    --g-color-private-blue-50: rgba(54, 151, 241, 0.1);
    --g-color-private-blue-100: rgba(54, 151, 241, 0.15);
    --g-color-private-blue-150: rgba(54, 151, 241, 0.2);
    --g-color-private-blue-200: rgba(54, 151, 241, 0.3);
    --g-color-private-blue-250: rgba(54, 151, 241, 0.4);
    --g-color-private-blue-300: rgba(54, 151, 241, 0.5);
    --g-color-private-blue-350: rgba(54, 151, 241, 0.6);
    --g-color-private-blue-400: rgba(54, 151, 241, 0.7);
    --g-color-private-blue-450: rgba(54, 151, 241, 0.8);
    --g-color-private-blue-500: rgba(54, 151, 241, 0.9);

    --g-color-private-blue-50-solid: rgb(235, 245, 254);
    --g-color-private-blue-100-solid: rgb(225, 239, 253);
    --g-color-private-blue-150-solid: rgb(215, 234, 252);
    --g-color-private-blue-200-solid: rgb(195, 224, 251);
    --g-color-private-blue-250-solid: rgb(175, 213, 249);
    --g-color-private-blue-300-solid: rgb(155, 203, 248);
    --g-color-private-blue-350-solid: rgb(134, 193, 247);
    --g-color-private-blue-400-solid: rgb(114, 182, 245);
    --g-color-private-blue-450-solid: rgb(94, 172, 244);
    --g-color-private-blue-500-solid: rgb(74, 161, 242);
    --g-color-private-blue-550-solid: rgb(54, 151, 241);
    --g-color-private-blue-600-solid: rgb(52, 139, 220);
    --g-color-private-blue-650-solid: rgb(50, 127, 200);
    --g-color-private-blue-700-solid: rgb(48, 114, 179);
    --g-color-private-blue-750-solid: rgb(46, 102, 158);
    --g-color-private-blue-800-solid: rgb(44, 90, 138);
    --g-color-private-blue-850-solid: rgb(42, 78, 117);
    --g-color-private-blue-900-solid: rgb(40, 66, 96);
    --g-color-private-blue-950-solid: rgb(38, 53, 75);
    --g-color-private-blue-1000-solid: rgb(37, 47, 65);

    --g-color-private-green-50: rgba(50, 186, 118, 0.1);
    --g-color-private-green-100: rgba(50, 186, 118, 0.15);
    --g-color-private-green-150: rgba(50, 186, 118, 0.2);
    --g-color-private-green-200: rgba(50, 186, 118, 0.3);
    --g-color-private-green-250: rgba(50, 186, 118, 0.4);
    --g-color-private-green-300: rgba(50, 186, 118, 0.5);
    --g-color-private-green-350: rgba(50, 186, 118, 0.6);
    --g-color-private-green-400: rgba(50, 186, 118, 0.7);
    --g-color-private-green-450: rgba(50, 186, 118, 0.8);
    --g-color-private-green-500: rgba(50, 186, 118, 0.9);

    --g-color-private-green-50-solid: rgb(235, 248, 241);
    --g-color-private-green-100-solid: rgb(224, 245, 234);
    --g-color-private-green-150-solid: rgb(214, 241, 228);
    --g-color-private-green-200-solid: rgb(194, 234, 214);
    --g-color-private-green-250-solid: rgb(173, 227, 200);
    --g-color-private-green-300-solid: rgb(153, 221, 187);
    --g-color-private-green-350-solid: rgb(132, 214, 173);
    --g-color-private-green-400-solid: rgb(112, 207, 159);
    --g-color-private-green-450-solid: rgb(91, 200, 145);
    --g-color-private-green-500-solid: rgb(71, 193, 132);
    --g-color-private-green-550-solid: rgb(50, 186, 118);
    --g-color-private-green-600-solid: rgb(48, 170, 110);
    --g-color-private-green-650-solid: rgb(47, 155, 101);
    --g-color-private-green-700-solid: rgb(45, 139, 93);
    --g-color-private-green-750-solid: rgb(44, 123, 84);
    --g-color-private-green-800-solid: rgb(42, 108, 76);
    --g-color-private-green-850-solid: rgb(40, 92, 68);
    --g-color-private-green-900-solid: rgb(39, 76, 59);
    --g-color-private-green-950-solid: rgb(37, 60, 51);
    --g-color-private-green-1000-solid: rgb(36, 53, 47);

    --g-color-private-yellow-50: rgba(255, 190, 92, 0.1);
    --g-color-private-yellow-100: rgba(255, 190, 92, 0.15);
    --g-color-private-yellow-150: rgba(255, 190, 92, 0.2);
    --g-color-private-yellow-200: rgba(255, 190, 92, 0.3);
    --g-color-private-yellow-250: rgba(255, 190, 92, 0.4);
    --g-color-private-yellow-300: rgba(255, 190, 92, 0.5);
    --g-color-private-yellow-350: rgba(255, 190, 92, 0.6);
    --g-color-private-yellow-400: rgba(255, 190, 92, 0.7);
    --g-color-private-yellow-450: rgba(255, 190, 92, 0.8);
    --g-color-private-yellow-500: rgba(255, 190, 92, 0.9);

    --g-color-private-yellow-50-solid: rgb(255, 249, 239);
    --g-color-private-yellow-100-solid: rgb(255, 245, 231);
    --g-color-private-yellow-150-solid: rgb(255, 242, 222);
    --g-color-private-yellow-200-solid: rgb(255, 236, 206);
    --g-color-private-yellow-250-solid: rgb(255, 229, 190);
    --g-color-private-yellow-300-solid: rgb(255, 223, 174);
    --g-color-private-yellow-350-solid: rgb(255, 216, 157);
    --g-color-private-yellow-400-solid: rgb(255, 210, 141);
    --g-color-private-yellow-450-solid: rgb(255, 203, 125);
    --g-color-private-yellow-500-solid: rgb(255, 197, 108);
    --g-color-private-yellow-550-solid: rgb(255, 190, 92);
    --g-color-private-yellow-600-solid: rgb(233, 174, 86);
    --g-color-private-yellow-650-solid: rgb(211, 158, 80);
    --g-color-private-yellow-700-solid: rgb(189, 142, 75);
    --g-color-private-yellow-750-solid: rgb(167, 126, 69);
    --g-color-private-yellow-800-solid: rgb(145, 110, 63);
    --g-color-private-yellow-850-solid: rgb(122, 93, 57);
    --g-color-private-yellow-900-solid: rgb(100, 77, 51);
    --g-color-private-yellow-950-solid: rgb(78, 61, 46);
    --g-color-private-yellow-1000-solid: rgb(67, 53, 43);

    --g-color-private-orange-50: rgba(255, 119, 0, 0.1);
    --g-color-private-orange-100: rgba(255, 119, 0, 0.15);
    --g-color-private-orange-150: rgba(255, 119, 0, 0.2);
    --g-color-private-orange-200: rgba(255, 119, 0, 0.3);
    --g-color-private-orange-250: rgba(255, 119, 0, 0.4);
    --g-color-private-orange-300: rgba(255, 119, 0, 0.5);
    --g-color-private-orange-350: rgba(255, 119, 0, 0.6);
    --g-color-private-orange-400: rgba(255, 119, 0, 0.7);
    --g-color-private-orange-450: rgba(255, 119, 0, 0.8);
    --g-color-private-orange-500: rgba(255, 119, 0, 0.9);

    --g-color-private-orange-50-solid: rgb(255, 241, 230);
    --g-color-private-orange-100-solid: rgb(255, 235, 217);
    --g-color-private-orange-150-solid: rgb(255, 228, 204);
    --g-color-private-orange-200-solid: rgb(255, 214, 179);
    --g-color-private-orange-250-solid: rgb(255, 201, 153);
    --g-color-private-orange-300-solid: rgb(255, 187, 128);
    --g-color-private-orange-350-solid: rgb(255, 173, 102);
    --g-color-private-orange-400-solid: rgb(255, 160, 77);
    --g-color-private-orange-450-solid: rgb(255, 146, 51);
    --g-color-private-orange-500-solid: rgb(255, 133, 25);
    --g-color-private-orange-550-solid: rgb(255, 119, 0);
    --g-color-private-orange-600-solid: rgb(233, 110, 3);
    --g-color-private-orange-650-solid: rgb(211, 101, 7);
    --g-color-private-orange-700-solid: rgb(189, 92, 10);
    --g-color-private-orange-750-solid: rgb(167, 83, 14);
    --g-color-private-orange-800-solid: rgb(145, 74, 17);
    --g-color-private-orange-850-solid: rgb(122, 65, 20);
    --g-color-private-orange-900-solid: rgb(100, 56, 24);
    --g-color-private-orange-950-solid: rgb(78, 47, 27);
    --g-color-private-orange-1000-solid: rgb(67, 43, 29);

    --g-color-private-red-50: rgba(255, 0, 61, 0.1);
    --g-color-private-red-100: rgba(255, 0, 61, 0.15);
    --g-color-private-red-150: rgba(255, 0, 61, 0.2);
    --g-color-private-red-200: rgba(255, 0, 61, 0.3);
    --g-color-private-red-250: rgba(255, 0, 61, 0.4);
    --g-color-private-red-300: rgba(255, 0, 61, 0.5);
    --g-color-private-red-350: rgba(255, 0, 61, 0.6);
    --g-color-private-red-400: rgba(255, 0, 61, 0.7);
    --g-color-private-red-450: rgba(255, 0, 61, 0.8);
    --g-color-private-red-500: rgba(255, 0, 61, 0.9);

    --g-color-private-red-50-solid: rgb(255, 230, 236);
    --g-color-private-red-100-solid: rgb(255, 217, 226);
    --g-color-private-red-150-solid: rgb(255, 204, 216);
    --g-color-private-red-200-solid: rgb(255, 179, 197);
    --g-color-private-red-250-solid: rgb(255, 153, 177);
    --g-color-private-red-300-solid: rgb(255, 128, 158);
    --g-color-private-red-350-solid: rgb(255, 102, 139);
    --g-color-private-red-400-solid: rgb(255, 77, 119);
    --g-color-private-red-450-solid: rgb(255, 51, 100);
    --g-color-private-red-500-solid: rgb(255, 25, 80);
    --g-color-private-red-550-solid: rgb(255, 0, 61);
    --g-color-private-red-600-solid: rgb(233, 3, 58);
    --g-color-private-red-650-solid: rgb(211, 6, 56);
    --g-color-private-red-700-solid: rgb(189, 9, 53);
    --g-color-private-red-750-solid: rgb(167, 12, 50);
    --g-color-private-red-800-solid: rgb(145, 15, 48);
    --g-color-private-red-850-solid: rgb(122, 17, 45);
    --g-color-private-red-900-solid: rgb(100, 20, 42);
    --g-color-private-red-950-solid: rgb(78, 23, 39);
    --g-color-private-red-1000-solid: rgb(67, 25, 38);

    --g-color-private-purple-50: rgba(143, 82, 204, 0.1);
    --g-color-private-purple-100: rgba(143, 82, 204, 0.15);
    --g-color-private-purple-150: rgba(143, 82, 204, 0.2);
    --g-color-private-purple-200: rgba(143, 82, 204, 0.3);
    --g-color-private-purple-250: rgba(143, 82, 204, 0.4);
    --g-color-private-purple-300: rgba(143, 82, 204, 0.5);
    --g-color-private-purple-350: rgba(143, 82, 204, 0.6);
    --g-color-private-purple-400: rgba(143, 82, 204, 0.7);
    --g-color-private-purple-450: rgba(143, 82, 204, 0.8);
    --g-color-private-purple-500: rgba(143, 82, 204, 0.9);

    --g-color-private-purple-50-solid: rgb(244, 238, 250);
    --g-color-private-purple-100-solid: rgb(238, 229, 247);
    --g-color-private-purple-150-solid: rgb(233, 220, 245);
    --g-color-private-purple-200-solid: rgb(221, 203, 240);
    --g-color-private-purple-250-solid: rgb(210, 186, 235);
    --g-color-private-purple-300-solid: rgb(199, 169, 230);
    --g-color-private-purple-350-solid: rgb(188, 151, 224);
    --g-color-private-purple-400-solid: rgb(177, 134, 219);
    --g-color-private-purple-450-solid: rgb(165, 117, 214);
    --g-color-private-purple-500-solid: rgb(154, 99, 209);
    --g-color-private-purple-550-solid: rgb(143, 82, 204);
    --g-color-private-purple-600-solid: rgb(132, 77, 187);
    --g-color-private-purple-650-solid: rgb(121, 71, 170);
    --g-color-private-purple-700-solid: rgb(110, 66, 153);
    --g-color-private-purple-750-solid: rgb(99, 61, 136);
    --g-color-private-purple-800-solid: rgb(89, 56, 119);
    --g-color-private-purple-850-solid: rgb(78, 50, 102);
    --g-color-private-purple-900-solid: rgb(67, 45, 85);
    --g-color-private-purple-950-solid: rgb(56, 40, 68);
    --g-color-private-purple-1000-solid: rgb(50, 37, 60);

    --g-color-private-cool-grey-50: rgba(107, 132, 153, 0.1);
    --g-color-private-cool-grey-100: rgba(107, 132, 153, 0.15);
    --g-color-private-cool-grey-150: rgba(107, 132, 153, 0.2);
    --g-color-private-cool-grey-200: rgba(107, 132, 153, 0.3);
    --g-color-private-cool-grey-250: rgba(107, 132, 153, 0.4);
    --g-color-private-cool-grey-300: rgba(107, 132, 153, 0.5);
    --g-color-private-cool-grey-350: rgba(107, 132, 153, 0.6);
    --g-color-private-cool-grey-400: rgba(107, 132, 153, 0.7);
    --g-color-private-cool-grey-450: rgba(107, 132, 153, 0.8);
    --g-color-private-cool-grey-500: rgba(107, 132, 153, 0.9);

    --g-color-private-cool-grey-50-solid: rgb(240, 243, 245);
    --g-color-private-cool-grey-100-solid: rgb(233, 237, 240);
    --g-color-private-cool-grey-150-solid: rgb(225, 230, 235);
    --g-color-private-cool-grey-200-solid: rgb(211, 218, 224);
    --g-color-private-cool-grey-250-solid: rgb(196, 206, 214);
    --g-color-private-cool-grey-300-solid: rgb(181, 194, 204);
    --g-color-private-cool-grey-350-solid: rgb(166, 181, 194);
    --g-color-private-cool-grey-400-solid: rgb(151, 169, 184);
    --g-color-private-cool-grey-450-solid: rgb(137, 157, 173);
    --g-color-private-cool-grey-500-solid: rgb(122, 144, 163);
    --g-color-private-cool-grey-550-solid: rgb(107, 132, 153);
    --g-color-private-cool-grey-600-solid: rgb(100, 122, 141);
    --g-color-private-cool-grey-650-solid: rgb(92, 111, 129);
    --g-color-private-cool-grey-700-solid: rgb(85, 101, 117);
    --g-color-private-cool-grey-750-solid: rgb(78, 91, 105);
    --g-color-private-cool-grey-800-solid: rgb(71, 81, 94);
    --g-color-private-cool-grey-850-solid: rgb(63, 70, 82);
    --g-color-private-cool-grey-900-solid: rgb(56, 60, 70);
    --g-color-private-cool-grey-950-solid: rgb(49, 50, 58);
    --g-color-private-cool-grey-1000-solid: rgb(45, 44, 52);
}
