@mixin yc-colors-sfx-light {
    --g-color-sfx-veil: var(--yc-color-private-black-250);
    --g-color-sfx-shadow: var(--yc-color-private-black-150);
    --g-color-sfx-shadow-heavy: var(--yc-color-private-black-500);
    --g-color-sfx-shadow-light: var(--yc-color-private-black-50);
    --g-color-sfx-fade: var(--yc-color-private-white-300);
}
