@mixin yc-colors-system-light {
    --yc-color-scroll-track: var(--g-color-base-background);
    --yc-color-scroll-handle: var(--yc-color-private-black-100);
    --yc-color-scroll-handle-hover: var(--yc-color-private-black-150);
    --yc-color-scroll-corner: var(--yc-color-private-black-100);
}
