@mixin yc-colors-text-light {
    --g-color-text-primary: var(--g-color-private-black-850);
    --g-color-text-complementary: var(--g-color-private-black-700);
    --g-color-text-secondary: var(--g-color-private-black-500);
    --g-color-text-hint: var(--g-color-private-black-300);

    --g-color-text-info: var(--g-color-private-blue-550);
    --g-color-text-positive: var(--g-color-private-green-600);
    --g-color-text-warning: var(--g-color-private-yellow-700);
    --g-color-text-danger: var(--g-color-private-red-500);
    --g-color-text-utility: var(--g-color-private-purple-550);
    --g-color-text-misc: var(--g-color-private-cool-grey-800);

    --g-color-text-info-heavy: var(--g-color-private-blue-550);
    --g-color-text-positive-heavy: var(--g-color-private-green-600);
    --g-color-text-warning-heavy: var(--g-color-private-yellow-800);
    --g-color-text-danger-heavy: var(--g-color-private-red-500);
    --g-color-text-utility-heavy: var(--g-color-private-purple-550);
    --g-color-text-misc-heavy: var(--g-color-private-cool-grey-800);

    --g-color-text-special: var(--yc-color-brand-text);
    --g-color-text-link: var(--yc-color-brand-link);
    --g-color-text-link-hover: var(--yc-color-brand-link-hover);
    --g-color-text-link-visited: var(--yc-color-brand-link-visited);
    --g-color-text-link-visited-hover: var(--yc-color-brand-link-visited-hover);

    // @deprecated Will be removed
    --g-color-text-yandex-red: var(--g-color-private-red-550);

    --g-color-text-dark-primary: var(--g-color-private-black-850);
    --g-color-text-dark-complementary: var(--g-color-private-black-700);
    --g-color-text-dark-secondary: var(--g-color-private-black-500);

    --g-color-text-light-primary: var(--g-color-private-white-1000);
    --g-color-text-light-complementary: var(--g-color-private-white-850);
    --g-color-text-light-secondary: var(--g-color-private-white-700);
    --g-color-text-light-hint: var(--g-color-private-white-500);

    --g-color-text-inverted-primary: var(--g-color-private-white-1000);
    --g-color-text-inverted-complementary: var(--g-color-private-white-850);
    --g-color-text-inverted-secondary: var(--g-color-private-white-700);
    --g-color-text-inverted-hint: var(--g-color-private-white-500);
}
