@use '../../../../../styles/mixins';
@use '../../../variables';
@use '../../variables.scss' as select-css-variables;

$block: '.#{variables.$ns}select-list';
$popupBlock: '.#{variables.$ns}popup';
$listBlock: '.#{variables.$ns}list';
$xl-right-padding: '12px';

#{$block} {
    display: flex;
    overflow: hidden;

    #{$popupBlock} &:first-child,
    #{$popupBlock} &:last-child {
        border-radius: 0;
    }

    &:not(#{$block}_virtualized) {
        overflow: auto;
    }

    &_mobile {
        max-height: calc(90vh - 20px);
    }

    &__group-label,
    &__group-label-custom {
        box-sizing: border-box;
        position: relative;
        width: 100%;
        height: auto;
        padding: 0;
    }

    &__group-label {
        font-size: var(--g-text-body-1-font-size);

        #{$block}_size_s &:not(#{&}_empty) {
            height: #{variables.$s-height};
            padding: 8px #{select-css-variables.$s-hor-padding} 4px;
        }

        #{$block}_size_m &:not(#{&}_empty) {
            height: #{variables.$m-height};
            padding: 8px #{select-css-variables.$m-hor-padding} 4px;
        }

        #{$block}_size_l &:not(#{&}_empty) {
            height: #{variables.$l-height};
            padding: 10px #{select-css-variables.$l-hor-padding} 6px;
        }

        #{$block}_size_xl &:not(#{&}_empty) {
            height: #{variables.$xl-height};
            padding: 12px #{select-css-variables.$xl-hor-padding} 8px;
            font-size: var(--g-text-body-2-font-size);
        }

        #{$block}_mobile &:not(#{&}_empty) {
            height: #{variables.$l-height};
            padding: 12px #{select-css-variables.$l-hor-padding} 8px;
            font-size: var(--g-text-body-2-font-size);
        }

        #{$block}__item:not(:first-child) & {
            margin-block-start: 5px;

            &::before {
                content: '';
                position: absolute;
                inset-block-start: -3px;
                inset-inline-start: 0;
                width: 100%;
                height: 1px;
                background-color: var(--g-color-line-generic);
            }
        }
    }

    &__group-label-content {
        @include mixins.overflow-ellipsis();
        @include mixins.text-accent;

        width: 100%;
    }

    &__items {
        padding: 0 4px;
    }

    &__item#{$listBlock} {
        &__item_selected {
            background: none;

            &:hover {
                background: var(--g-color-base-simple-hover);
            }
        }

        &__item_active {
            background: var(--g-color-base-simple-hover);
        }
    }

    &__option-default-label {
        @include mixins.overflow-ellipsis();
        font-size: var(--g-text-body-1-font-size);
        width: 100%;

        &_disabled {
            color: var(--g-color-text-secondary);
        }
    }

    &__tick-icon {
        box-sizing: content-box;
        flex: 0 0 16px;
        visibility: hidden;
        color: var(--g-color-text-info);
        padding-inline-end: var(--_--select-tick-icon-padding-right);

        &_shown {
            visibility: visible;
        }
    }
}
