@use '../../../variables';

$block: '.#{variables.$ns}stories-group-preview';

#{$block} {
    user-select: none;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    margin-bottom: 16px;

    &__stories-preview-item {
        box-sizing: border-box;

        cursor: pointer;

        overflow: hidden;
        width: 40px;
        height: 40px;
        border-radius: 8px;

        background-color: var(--yc-color-base-background);
        opacity: 0.4;

        &:hover,
        &_active {
            opacity: 1;
        }

        &_active {
            border: 2px solid var(--yc-color-line-selection-active);
        }
    }

    &__Icon_left {
        transform: rotate(90deg);
    }
    &__Icon_right {
        transform: rotate(-90deg);
    }

    &__slider-button-wrapper {
        width: 28px;
        height: 28px;
    }
}
