@use '../../variables';
@use '../sliderVariables';

$block: '.#{variables.$ns-new}base-slider';

@mixin slider-outer-style($slider-size, $rail-size, $line-height, $mark-offset) {
    $common-padding: calc(($slider-size - $rail-size) / 2);
    $bottom-padding: calc($common-padding + $line-height - $mark-offset);
    padding: $common-padding 0 $bottom-padding;
    height: calc($common-padding + $rail-size + $bottom-padding);
    margin: 0 calc($slider-size / 2);
}

@mixin dot-style($slider-size, $rail-size) {
    top: calc((($slider-size - $rail-size) / 2) + 1px);
    $size: calc($rail-size - 2px);
    height: $size;
    width: $size;
}

@mixin rail-size-style($rail-size, $handle-size) {
    height: $rail-size;
    width: calc(100% + $handle-size);
    left: calc($handle-size / (-2));
}

#{$block} {
    $rail-color: var(--g-color-base-selection); //--g-color-base-info-light in figma
    $rail-disabled-color: var(--g-color-base-generic-accent-disabled);

    $handle-focus-color: var(
        --g-color-base-selection-hover
    ); // --g-color-base-info-light-hover in figma
    $handle-focus-error-color: var(--g-color-base-danger-light-hover); // not presented in figma

    $handle-s-size: 15px; //14 in figma
    $handle-m-size: 18px;
    $handle-l-size: 21px; //20 in figma
    $handle-xl-size: 24px;

    $rail-s-size: 3px;
    $rail-m-size: 4px;
    $rail-l-size: 5px;
    $rail-xl-size: 6px;

    $mark: '#{$block}-mark';
    $dot: '#{$block}-dot';

    $mark-s-offset: 1px;
    $mark-m-offset: 1px;
    $mark-l-offset: -5px;
    $mark-xl-offset: -9px;

    * {
        box-sizing: border-box;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }

    position: relative;
    width: 100%;
    touch-action: none;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    &_size {
        $line-height: var(--g-text-body-1-line-height);

        &_s {
            @include slider-outer-style($handle-s-size, $rail-s-size, $line-height, $mark-s-offset);

            #{$mark} {
                font-size: var(--g-text-body-1-font-size);
                line-height: $line-height;

                $edge-mark-offset: calc($handle-s-size / -2);

                //we override last of type style in the situation when we have only one mark
                //so we should have this style sequence
                &-text:last-of-type {
                    right: $edge-mark-offset;
                }

                &-text:first-of-type {
                    right: unset;
                    left: $edge-mark-offset;
                }
            }

            #{$dot} {
                @include dot-style($handle-s-size, $rail-s-size);
            }
        }

        &_m {
            @include slider-outer-style($handle-m-size, $rail-m-size, $line-height, $mark-m-offset);

            #{$mark} {
                font-size: var(--g-text-body-1-font-size);
                line-height: $line-height;

                $edge-mark-offset: calc($handle-m-size / -2);

                &-text:last-of-type {
                    right: $edge-mark-offset;
                }

                &-text:first-of-type {
                    right: unset;
                    left: $edge-mark-offset;
                }
            }

            #{$dot} {
                @include dot-style($handle-m-size, $rail-m-size);
            }
        }

        &_l {
            @include slider-outer-style($handle-l-size, $rail-l-size, $line-height, $mark-l-offset);

            #{$mark} {
                font-size: var(--g-text-body-1-font-size);
                line-height: $line-height;

                $edge-mark-offset: calc($handle-l-size / -2);

                &-text:last-of-type {
                    right: $edge-mark-offset;
                }

                &-text:first-of-type {
                    right: unset;
                    left: $edge-mark-offset;
                }
            }

            #{$dot} {
                @include dot-style($handle-m-size, $rail-l-size);
            }
        }

        &_xl {
            $line-height: var(--g-text-body-2-line-height);

            @include slider-outer-style(
                $handle-xl-size,
                $rail-xl-size,
                $line-height,
                $mark-xl-offset
            );

            #{$mark} {
                font-size: var(--g-text-body-2-font-size);
                line-height: $line-height;

                $edge-mark-offset: calc($handle-xl-size / -2);

                &-text:last-of-type {
                    right: $edge-mark-offset;
                }

                &-text:first-of-type {
                    right: unset;
                    left: $edge-mark-offset;
                }
            }

            #{$dot} {
                @include dot-style($handle-m-size, $rail-xl-size);
            }
        }
    }

    &__rail {
        position: absolute;
        border-radius: 4px;
        background-color: $rail-color;

        &_size {
            &_s {
                @include rail-size-style($rail-s-size, $handle-s-size);
            }

            &_m {
                @include rail-size-style($rail-m-size, $handle-m-size);
            }

            &_l {
                @include rail-size-style($rail-l-size, $handle-l-size);
            }

            &_xl {
                @include rail-size-style($rail-xl-size, $handle-xl-size);
            }
        }

        &_disabled {
            background-color: $rail-disabled-color;
        }

        &_error {
            background-color: #{sliderVariables.$slider-error-color};
        }
    }

    &__track {
        position: absolute;
        background-color: #{sliderVariables.$slider-color};
        &_size {
            &_s {
                height: $rail-s-size;
            }

            &_m {
                height: $rail-m-size;
                left: calc($handle-m-size / -2);
            }

            &_l {
                height: $rail-l-size;
                left: calc($handle-l-size / -2);
            }

            &_xl {
                height: $rail-xl-size;
                left: calc($handle-xl-size / -2);
            }
        }
        &_disabled,
        &_error {
            visibility: hidden;
        }
    }

    &__handle {
        position: absolute;
        z-index: 1;
        cursor: grab;
        touch-action: pan-x;
        background-color: #{sliderVariables.$handle-center-color};
        border-radius: 50%;
        border-style: solid;
        border-color: #{sliderVariables.$slider-color};
        top: 0;

        &_size {
            &_s {
                height: $handle-s-size;
                width: $handle-s-size;
                border-width: 4px;
            }

            &_m {
                height: $handle-m-size;
                width: $handle-m-size;
                border-width: 5px;
            }

            &_l {
                height: $handle-l-size;
                width: $handle-l-size;
                border-width: 5px;
            }

            &_xl {
                height: $handle-xl-size;
                width: $handle-xl-size;
                border-width: 6px;
            }
        }

        &:active {
            box-shadow: 0 0 4px #{sliderVariables.$slider-color};
            cursor: grabbing;
        }

        &:focus {
            box-shadow: 0 0 0 4px $handle-focus-color;
            outline: none;
        }

        &_disabled {
            cursor: not-allowed;
            border-color: #{sliderVariables.$slider-disabled-color};

            &:active,
            &:focus {
                cursor: not-allowed;
                box-shadow: none;
            }
        }

        &_error {
            border-color: #{sliderVariables.$slider-error-color};
            &:active,
            &:focus {
                box-shadow: 0 0 0 4px $handle-focus-error-color;
            }
        }
    }

    &__step {
        position: absolute;
        width: 100%;
        background: transparent;

        &_size {
            &_s {
                height: $rail-s-size;
            }

            &_m {
                height: $rail-m-size;
            }

            &_l {
                height: $rail-l-size;
            }

            &_xl {
                height: $rail-xl-size;
            }
        }
    }

    #{$mark} {
        position: absolute;
        left: 0;
        width: 100%;
        color: var(--g-color-text-secondary);
        bottom: 0;
    }

    &-mark-text {
        position: absolute;
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
        bottom: 0;
    }

    &-dot {
        position: absolute;
        border-radius: 50%;
        background-color: #{sliderVariables.$slider-color};

        &:first-of-type,
        &:last-of-type {
            display: none;
        }
    }

    &_disabled &-dot,
    &_error &-dot {
        display: none;
    }
}
