@use 'sass:math';
@use '../../variables';
@use '../sliderVariables';
@use '../../../../styles/mixins';

$block: '.#{variables.$ns-new}base-slider';
$mark: '#{$block}-mark';
$dot: '#{$block}-dot';

$rail-color: var(--g-color-base-selection);
$rail-disabled-color: var(--g-color-base-generic-accent-disabled);

$handle-focus-color: var(--g-color-base-selection-hover);
$handle-focus-error-color: var(--g-color-base-danger-light-hover);

$handle-s-size: 15px;
$handle-m-size: 18px;
$handle-l-size: 21px;
$handle-xl-size: 24px;

$rail-s-size: 3px;
$rail-m-size: 4px;
$rail-l-size: 5px;
$rail-xl-size: 6px;

$mark-s-offset: 1px;
$mark-m-offset: 1px;
$mark-l-offset: -1px;
$mark-xl-offset: -1px;

@mixin input-control($size) {
    position: absolute;
    content: '';
    background-color: #{sliderVariables.$slider-color};
    border-radius: 4px 0 0 4px;

    @if $size == 's' {
        $width: math.floor(calc($handle-s-size / 2));
        width: $width;
        left: calc($width * -1);
        height: $rail-s-size;
    }
    @if $size == 'm' {
        $width: math.floor(calc($handle-m-size / 2));
        width: $width;
        left: calc($width * -1);
        height: $rail-m-size;
    }
    @if $size == 'l' {
        $width: math.floor(calc($handle-l-size / 2));
        width: $width;
        left: calc($width * -1);
        height: $rail-l-size;
    }
    @if $size == 'xl' {
        $width: math.floor(calc($handle-xl-size / 2));
        width: $width;
        left: calc($width * -1);
        height: $rail-xl-size;
    }
}

@mixin slider-outer-style($size) {
    @if $size == 's' {
        $common-padding: calc(($handle-s-size - $rail-s-size) / 2);
        $bottom-padding: calc($common-padding + var(--g-text-body-1-line-height) - $mark-s-offset);
        padding: $common-padding 0 $bottom-padding;
        height: calc($common-padding + $rail-s-size + $bottom-padding);
        margin: 0 calc($handle-s-size / 2);
    }
    @if $size == 'm' {
        $common-padding: calc(($handle-m-size - $rail-m-size) / 2);
        $bottom-padding: calc($common-padding + var(--g-text-body-1-line-height) - $mark-m-offset);
        padding: $common-padding 0 $bottom-padding;
        height: calc($common-padding + $rail-m-size + $bottom-padding);
        margin: 0 calc($handle-m-size / 2);
    }
    @if $size == 'l' {
        $common-padding: calc(($handle-l-size - $rail-l-size) / 2);
        $bottom-padding: calc($common-padding + var(--g-text-body-1-line-height) - $mark-l-offset);
        padding: $common-padding 0 $bottom-padding;
        height: calc($common-padding + $rail-l-size + $bottom-padding);
        margin: 0 calc($handle-l-size / 2);
    }
    @if $size == 'xl' {
        $common-padding: calc(($handle-xl-size - $rail-xl-size) / 2);
        $bottom-padding: calc($common-padding + var(--g-text-body-2-line-height) - $mark-xl-offset);
        padding: $common-padding 0 $bottom-padding;
        height: calc($common-padding + $rail-xl-size + $bottom-padding);
        margin: 0 calc($handle-xl-size / 2);
    }
}

@mixin dot-style($size) {
    @if $size == 's' {
        top: calc((($handle-s-size - $rail-s-size) / 2) + 1px);
        $dot-size: calc($rail-s-size - 2px);
        height: $dot-size;
        width: $dot-size;
    }
    @if $size == 'm' {
        top: calc((($handle-m-size - $rail-m-size) / 2) + 1px);
        $dot-size: calc($rail-m-size - 2px);
        height: $dot-size;
        width: $dot-size;
    }
    @if $size == 'l' {
        top: calc((($handle-l-size - $rail-l-size) / 2) + 1px);
        $dot-size: calc($rail-l-size - 2px);
        height: $dot-size;
        width: $dot-size;
    }
    @if $size == 'xl' {
        top: calc((($handle-xl-size - $rail-xl-size) / 2) + 1px);
        $dot-size: calc($rail-xl-size - 2px);
        height: $dot-size;
        width: $dot-size;
    }
}

@mixin rail-size-style($size) {
    @if $size == 's' {
        $offset: math.floor(calc($handle-s-size / 2)) * -1;
        height: $rail-s-size;
        right: $offset;
        left: $offset;
    }
    @if $size == 'm' {
        $offset: math.floor(calc($handle-m-size / 2)) * -1;
        height: $rail-m-size;
        right: $offset;
        left: $offset;
    }
    @if $size == 'l' {
        $offset: math.floor(calc($handle-l-size / 2)) * -1;
        height: $rail-l-size;
        right: $offset;
        left: $offset;
    }
    @if $size == 'xl' {
        $offset: math.floor(calc($handle-xl-size / 2)) * -1;
        height: $rail-xl-size;
        right: $offset;
        left: $offset;
    }
}

#{$block} {
    * {
        box-sizing: border-box;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }

    position: relative;
    width: 100%;
    touch-action: none;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    &_size {
        &_s {
            @include slider-outer-style(s);

            #{$mark} {
                @include mixins.text-body-1;
                $edge-mark-offset: calc($handle-s-size / -2);

                //we override last of type style in the situation when we have only one mark
                //so we should have this style sequence
                &-text:last-of-type {
                    right: $edge-mark-offset;
                }

                &-text:first-of-type {
                    right: unset;
                    left: $edge-mark-offset;
                }
            }

            #{$dot} {
                @include dot-style(s);
            }
        }

        &_m {
            @include slider-outer-style(m);

            #{$mark} {
                @include mixins.text-body-1;
                $edge-mark-offset: calc($handle-m-size / -2);

                &-text:last-of-type {
                    right: $edge-mark-offset;
                }

                &-text:first-of-type {
                    right: unset;
                    left: $edge-mark-offset;
                }
            }

            #{$dot} {
                @include dot-style(m);
            }
        }

        &_l {
            @include slider-outer-style(l);

            #{$mark} {
                @include mixins.text-body-1;
                $edge-mark-offset: calc($handle-l-size / -2);

                &-text:last-of-type {
                    right: $edge-mark-offset;
                }

                &-text:first-of-type {
                    right: unset;
                    left: $edge-mark-offset;
                }
            }

            #{$dot} {
                @include dot-style(l);
            }
        }

        &_xl {
            @include slider-outer-style(xl);

            #{$mark} {
                @include mixins.text-body-2;
                $edge-mark-offset: calc($handle-xl-size / -2);

                &-text:last-of-type {
                    right: $edge-mark-offset;
                }

                &-text:first-of-type {
                    right: unset;
                    left: $edge-mark-offset;
                }
            }

            #{$dot} {
                @include dot-style(xl);
            }
        }
    }

    &__rail {
        position: absolute;
        border-radius: 4px;
        background-color: $rail-color;

        &_size {
            &_s {
                @include rail-size-style(s);
            }

            &_m {
                @include rail-size-style(m);
            }

            &_l {
                @include rail-size-style(l);
            }

            &_xl {
                @include rail-size-style(xl);
            }
        }

        &_disabled {
            background-color: $rail-disabled-color;
        }

        &_error {
            background-color: #{sliderVariables.$slider-error-color};
        }
    }

    &__track {
        position: absolute;
        background-color: #{sliderVariables.$slider-color};
        &_size {
            &_s {
                height: $rail-s-size;
                &::after {
                    @include input-control(s);
                }
            }

            &_m {
                height: $rail-m-size;
                &::after {
                    @include input-control(m);
                }
            }

            &_l {
                height: $rail-l-size;
                &::after {
                    @include input-control(l);
                }
            }

            &_xl {
                height: $rail-xl-size;
                &::after {
                    @include input-control(xl);
                }
            }
        }
        &_disabled,
        &_error {
            visibility: hidden;
        }
    }

    &__handle {
        position: absolute;
        z-index: 1;
        cursor: grab;
        touch-action: pan-x;
        background-color: #{sliderVariables.$handle-center-color};
        border-radius: 50%;
        border-style: solid;
        border-color: #{sliderVariables.$slider-color};
        top: 0;

        &_size {
            &_s {
                height: $handle-s-size;
                width: $handle-s-size;
                border-width: $rail-s-size;
            }

            &_m {
                height: $handle-m-size;
                width: $handle-m-size;
                border-width: $rail-m-size;
            }

            &_l {
                height: $handle-l-size;
                width: $handle-l-size;
                border-width: $rail-l-size;
            }

            &_xl {
                height: $handle-xl-size;
                width: $handle-xl-size;
                border-width: $rail-xl-size;
            }
        }

        &:active {
            box-shadow: 0 0 4px #{sliderVariables.$slider-color};
            cursor: grabbing;
        }

        &:focus {
            box-shadow: 0 0 0 4px $handle-focus-color;
            outline: none;
        }

        &_disabled {
            cursor: not-allowed;
            border-color: #{sliderVariables.$slider-disabled-color};

            &:active,
            &:focus {
                cursor: not-allowed;
                box-shadow: none;
            }
        }

        &_error {
            border-color: #{sliderVariables.$slider-error-color};
            &:active,
            &:focus {
                box-shadow: 0 0 0 4px $handle-focus-error-color;
            }
        }
    }

    &__step {
        position: absolute;
        width: 100%;
        background: transparent;

        &_size {
            &_s {
                height: $rail-s-size;
            }

            &_m {
                height: $rail-m-size;
            }

            &_l {
                height: $rail-l-size;
            }

            &_xl {
                height: $rail-xl-size;
            }
        }
    }

    #{$mark} {
        position: absolute;
        left: 0;
        width: 100%;
        color: var(--g-color-text-secondary);
        bottom: 0;
    }

    &-mark-text {
        position: absolute;
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
        bottom: 0;
    }

    &-dot {
        position: absolute;
        border-radius: 50%;
        background-color: #{sliderVariables.$slider-color};

        &:first-of-type,
        &:last-of-type {
            display: none;
        }
    }

    &_disabled &-dot,
    &_error &-dot {
        display: none;
    }
}
