@use '../variables';

$block: '.#{variables.$ns}divider';

#{$block} {
    align-self: stretch;
    display: block;
    flex-shrink: 0;
    box-sizing: border-box;
    position: relative;
    height: auto;

    &_orientation {
        &_vertical {
            border-inline-start: 1px solid var(--g-color-line-generic);
        }

        &_horizontal {
            border-block-start: 1px solid var(--g-color-line-generic);
        }
    }
}
