@use '../variables';

$block: '.#{variables.$ns}divider';

#{$block} {
    &_orientation {
        &_vertical {
            border-inline-start: 1px solid var(--g-divider-color, var(--g-color-line-generic));
        }

        &_horizontal {
            border-block-start: 1px solid var(--g-divider-color, var(--g-color-line-generic));
        }
    }

    &:not(:empty) {
        border: none;
        display: flex;
        align-items: center;

        &::before,
        &::after {
            content: '';
            height: 1px;
            flex-grow: 1;
            background: var(--g-divider-color, var(--g-color-line-generic));
        }

        &::before {
            margin-inline-end: 8px;
        }

        &::after {
            margin-inline-start: 8px;
        }
    }

    &_align {
        &_start::before {
            display: none;
        }

        &_end::after {
            display: none;
        }
    }
}
