@use '../variables';
@use '../../../styles/mixins';

$sHeight: 24px;
$mHeight: 28px;
$lHeight: 36px;
$xlHeight: 44px;
$borderWidth: 1px;

@mixin block_style($size: s, $type: control) {
    @if $size == 's' {
        height: #{$sHeight - $borderWidth * 2};
        padding: 4px 8px;
        @include mixins.text-body-short;
    }
    @if $size == 'm' {
        height: #{$mHeight - $borderWidth * 2};
        padding: 6px 8px;
        @include mixins.text-body-short;
    }
    @if $size == 'l' {
        height: #{$lHeight - $borderWidth * 2};
        padding: 10px 12px;
        @include mixins.text-body-short;
    }
    @if $size == 'xl' {
        height: #{$xlHeight - $borderWidth * 2};
        padding: 12px;
        @include mixins.text-body-2;
    }

    @if $type == 'label' {
        @include mixins.text-accent;
        padding-right: 4px;
        padding-top: 0;
        padding-bottom: 0;
    }
}

$block: '.#{variables.$ns}text-input';

#{$block} {
    display: inline-block;
    width: 100%;
    position: relative;

    &__content {
        box-sizing: border-box;
        display: flex;
        width: 100%;
    }

    &__control {
        box-sizing: border-box;
        display: inline-block;
        flex-grow: 1;
        vertical-align: top;
        position: relative;
        margin: 0;
        padding: 0;
        width: 100%;
        font-weight: normal;
        font-family: var(--g-font-family-sans);
        color: var(--yc-color-text-primary);
        background-color: transparent;
        border: none;

        &::placeholder {
            color: var(--yc-color-text-hint);
        }

        &:focus {
            outline: none;
        }

        &_type {
            &_textarea {
                resize: none;
                // fix-bug(firefox): https://bugzilla.mozilla.org/show_bug.cgi?id=33654
                overflow-x: hidden;

                &:not(#{$block}__control_autosize) {
                    height: auto;
                }
            }
        }

        &[type='number'] {
            appearance: textfield;
        }
    }

    &__label {
        position: absolute;
        box-sizing: border-box;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        z-index: 1;
    }

    &__error {
        @include mixins.text-body-1();
        color: var(--yc-color-text-danger);
        margin-top: 2px;
    }

    &__clear {
        /* increase css specificity to rewrite Button styles */
        &[class] {
            --yc-button-background-color: transparent;
            --yc-button-background-color-hover: transparent;

            color: var(--yc-color-text-hint);

            &:hover {
                color: var(--yc-color-text-primary);
            }
        }

        &_textarea {
            position: absolute;
            top: 0;
            right: 0;
        }

        &:not(#{&}_textarea) {
            margin: -1px;
        }
    }

    &__additional-content {
        display: flex;
        align-items: center;
    }

    &_size {
        &_s {
            #{$block}__control {
                @include block_style(s);
            }

            &#{$block}_has-clear #{$block}__control#{$block}__control_type_textarea {
                padding-right: 26px;
            }

            #{$block}__label {
                @include block_style(s, label);
                line-height: #{$sHeight - $borderWidth * 2};
            }

            &#{$block}_has-left-content #{$block}__label {
                padding-left: 2px;
            }

            #{$block}__additional-content {
                height: #{$sHeight - $borderWidth * 2};
            }

            #{$block}__additional-content_placement_left {
                padding-left: 1px;
            }

            #{$block}__additional-content_placement_right {
                padding-right: 1px;
            }

            --yc-text-input-border-radius: var(--g-border-radius-s);
        }

        &_m {
            #{$block}__control {
                @include block_style(m);
            }

            &#{$block}_has-clear #{$block}__control#{$block}__control_type_textarea {
                padding-right: 26px;
            }

            #{$block}__label {
                @include block_style(m, label);
                line-height: #{$mHeight - $borderWidth * 2};
            }

            &#{$block}_has-left-content #{$block}__label {
                padding-left: 2px;
            }

            #{$block}__additional-content {
                height: #{$mHeight - $borderWidth * 2};
            }

            #{$block}__additional-content_placement_left {
                padding-left: 1px;
            }

            #{$block}__additional-content_placement_right {
                padding-right: 1px;
            }

            --yc-text-input-border-radius: var(--g-border-radius-m);
        }

        &_l {
            #{$block}__control {
                @include block_style(l);
            }

            &#{$block}_has-clear #{$block}__control#{$block}__control_type_textarea {
                padding-right: 36px;
            }

            #{$block}__label {
                @include block_style(l, label);
                line-height: #{$lHeight - $borderWidth * 2};
            }

            &#{$block}_has-left-content #{$block}__label {
                padding-left: 3px;
            }

            #{$block}__additional-content {
                height: #{$lHeight - $borderWidth * 2};
            }

            #{$block}__additional-content_placement_left {
                padding-left: 3px;
            }

            #{$block}__additional-content_placement_right {
                padding-right: 3px;
            }

            --yc-text-input-border-radius: var(--g-border-radius-l);
        }

        &_xl {
            #{$block}__control {
                @include block_style(xl);
            }

            &#{$block}_has-clear #{$block}__control#{$block}__control_type_textarea {
                padding-right: 36px;
            }

            #{$block}__label {
                @include block_style(xl, label);
                line-height: #{$xlHeight - $borderWidth * 2};
            }

            &#{$block}_has-left-content #{$block}__label {
                padding-left: 3px;
            }

            #{$block}__additional-content {
                height: #{$xlHeight - $borderWidth * 2};
            }

            #{$block}__additional-content_placement_left {
                padding-left: 3px;
            }

            #{$block}__additional-content_placement_right {
                padding-right: 3px;
            }

            --yc-text-input-border-radius: var(--g-border-radius-xl);
        }
    }

    &_view {
        &_normal {
            #{$block}__content {
                border: 1px solid var(--g-color-line-generic);

                &:hover {
                    border-color: var(--g-color-line-generic-hover);
                }

                &:focus-within {
                    border-color: var(--g-color-line-generic-active);
                }
            }
        }

        &_clear {
            & #{$block}__content {
                border: 1px solid transparent;
                border-left: 0;
                border-right: 0;
                border-radius: 0;
            }

            & #{$block}__control {
                padding-left: 0;
                padding-right: 0;
            }
        }
    }

    @include mixins.pin(
        $block,
        #{$block}__content,
        var(--yc-text-input-border-radius),
        $append: false
    );

    &_disabled {
        #{$block}__content {
            background-color: var(--g-color-base-generic-accent-disabled);
            color: var(--yc-color-text-hint);
            border-color: transparent;

            &:hover {
                border-color: transparent;
            }
        }

        #{$block}__control {
            color: var(--yc-color-text-hint);
        }

        #{$block}__label {
            color: var(--yc-color-text-hint);
        }
    }

    &_has-scrollbar {
        #{$block}__clear {
            right: var(--g-scrollbar-width);
        }
    }

    &_has-left-content {
        #{$block}__control {
            padding-left: 2px;
        }
    }

    &_has-right-content {
        #{$block}__control {
            padding-right: 2px;
        }
    }

    &_state {
        &_error {
            &#{$block}_view_normal {
                #{$block}__content {
                    border-color: var(--g-color-line-danger);

                    &:hover,
                    &:focus-within {
                        border-color: var(--g-color-line-danger);
                    }
                }
            }

            &#{$block}_view_clear {
                #{$block}__content {
                    border-bottom: 1px solid var(--g-color-line-danger);

                    &:hover,
                    &:focus-within {
                        border-bottom: 1px solid var(--g-color-line-danger);
                    }
                }
            }
        }
    }
}
