@use '../variables';
@use '../../../styles/mixins';

@mixin block_size($size: s) {
    height: 24px;
    padding: 4px 8px;
    font-size: 13px;
    line-height: 16px;

    @if $size == 'm' {
        height: 28px;
        padding: 5px 8px;
        font-size: 13px;
        line-height: 18px;
    }
    @if $size == 'l' {
        height: 36px;
        padding: 10px 13px;
        font-size: 13px;
        line-height: 16px;
    }
    @if $size == 'xl' {
        height: 44px;
        padding: 12px 13px;
        font-size: 15px;
        line-height: 20px;
    }
}

$block: '.#{variables.$ns}text-input';

#{$block} {
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    position: relative;

    &__control {
        box-sizing: border-box;
        display: inline-block;
        vertical-align: top;
        position: relative;
        margin: 0;
        padding: 0;
        width: 100%;
        font-weight: normal;
        font-family: var(--yc-text-body-font-family);
        color: var(--yc-color-text-primary);
        background-color: transparent;

        &::placeholder {
            color: var(--yc-color-text-hint);
        }

        &:focus {
            outline: none;
        }

        &_type {
            &_textarea {
                &:not([resize]),
                &[resize='none'] {
                    resize: none;
                }
                // fix-bug(firefox): https://bugzilla.mozilla.org/show_bug.cgi?id=33654
                overflow-x: hidden;

                &:not(#{$block}__control_autosize) {
                    height: auto;
                }
            }
        }

        &[type='number'] {
            appearance: textfield;
        }
    }

    &__label {
        position: absolute;
        font-weight: 500;
        box-sizing: border-box;
    }

    &__error {
        @include mixins.text-body-1();
        color: var(--yc-color-text-danger);
        margin-top: 2px;
    }

    /* increase css specificity to rewrite Button styles */
    &__clear[class] {
        --yc-button-background-color: transparent;
        --yc-button-background-color-hover: transparent;

        position: absolute;
        top: 0;
        right: 0;
        color: var(--yc-color-text-hint);

        &:hover {
            color: var(--yc-color-text-primary);
        }

        &:not(#{$block}__clear_visible) {
            display: none;
        }
    }

    &_size {
        &_s {
            #{$block}__control {
                @include block_size(s);
            }

            #{$block}__label {
                @include block_size(s);
                padding-right: 4px;
            }

            &#{$block}_has-clear {
                #{$block}__control {
                    padding-right: 26px;
                }
            }

            --yc-text-input-border-radius: var(--yc-border-radius-s);
        }

        &_m {
            #{$block}__control {
                @include block_size(m);
            }

            #{$block}__label {
                @include block_size(m);
                padding-right: 4px;
            }

            &#{$block}_has-clear {
                #{$block}__control {
                    padding-right: 26px;
                }
            }

            --yc-text-input-border-radius: var(--yc-border-radius-m);
        }

        &_l {
            #{$block}__control {
                @include block_size(l);
            }

            #{$block}__label {
                @include block_size(l);
                padding-right: 4px;
            }

            &#{$block}_has-clear {
                #{$block}__control {
                    padding-right: 36px;
                }
            }

            --yc-text-input-border-radius: var(--yc-border-radius-l);
        }

        &_xl {
            #{$block}__control {
                @include block_size(xl);
            }

            #{$block}__label {
                @include block_size(xl);
                padding-right: 4px;
            }

            &#{$block}_has-clear {
                #{$block}__control {
                    padding-right: 36px;
                }
            }

            --yc-text-input-border-radius: var(--yc-border-radius-xl);
        }
    }

    &_view {
        &_normal {
            #{$block}__control {
                border: 1px solid var(--yc-color-line-generic);

                &:hover {
                    border: 1px solid var(--yc-color-line-generic-hover);
                }

                &:focus {
                    border: 1px solid var(--yc-color-line-generic-active);
                }
            }
        }

        &_clear {
            #{$block}__control {
                border: 1px solid transparent;
                border-left: 0;
                border-right: 0;
                border-radius: 0;

                padding-left: 0;
                padding-right: 0;
            }
        }
    }

    @include mixins.pin(
        $block,
        #{$block}__control,
        var(--yc-text-input-border-radius),
        $append: false
    );

    &_disabled {
        #{$block}__control {
            background-color: var(--yc-color-base-generic-accent-disabled);
            color: var(--yc-color-text-hint);
            border-color: transparent;

            &:hover {
                border-color: transparent;
            }
        }

        #{$block}__label {
            color: var(--yc-color-text-hint);
        }
    }

    &_has-scrollbar {
        #{$block}__clear {
            right: var(--yc-scrollbar-width);
        }
    }

    &_state {
        &_error {
            &#{$block}_view_normal {
                #{$block}__control {
                    border-color: var(--yc-color-line-danger);

                    &:hover,
                    &:focus {
                        border-color: var(--yc-color-line-danger);
                    }
                }
            }

            &#{$block}_view_clear {
                #{$block}__control {
                    border-bottom: 1px solid var(--yc-color-line-danger);

                    &:hover,
                    &:focus {
                        border-bottom: 1px solid var(--yc-color-line-danger);
                    }
                }
            }
        }
    }
}
