@use '../variables';

$block: '.#{variables.$ns}alert';

#{$block} {
    --yc-alert-border-radius: var(--yc-card-border-radius, 8px);

    border-radius: var(--yc-alert-border-radius);

    &_corners_square {
        --yc-alert-border-radius: 0px;
    }

    &__text-content {
        width: 100%;
    }

    &__actions_minContent {
        width: min-content;
    }
}
