@use '../variables';

$block: '.#{variables.$ns}alert';

#{$block} {
    &_squared {
        border-radius: 0px;
    }

    &__text-content {
        width: 100%;
    }

    &__actions {
        &_minContent {
            width: min-content;
        }
    }
}
