.sheet-stories-with-menu-showcase {
    display: flex;
    justify-content: center;

    &__show-btn {
        width: max-content;
    }

    &__menu {
        margin: 10px 0;
        padding: 5px 0;
    }
}
