@use '../../../styles/lib/animation';
@import '../variables';

$block: '.#{$ns}modal';

#{$block} {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;

    visibility: hidden;
    margin: -9999px 0 0 -9999px;

    background-color: var(--yc-color-sfx-veil);
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    &__table {
        display: table;
        width: 100%;
        height: 100%;
    }

    &__cell {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
    }

    &__content {
        display: inline-block;
        margin: var(--yc-modal-margin);
        text-align: left;
        background-color: var(--yc-color-base-modal);
        border-radius: var(--yc-modal-border-radius);
    }

    &,
    &__content {
        animation-duration: animation.get-timing(200ms);
        animation-timing-function: ease-out;
        outline: none;
    }

    &_open {
        visibility: visible;
        margin: 0;
    }

    &[data-inited] {
        display: block;
        animation-name: #{$ns}modal;

        &#{$block}_open {
            animation-name: #{$ns}modal-open;
            animation-duration: animation.get-timing(150ms);
        }
        &#{$block}_open #{$block}__content {
            animation-name: #{$ns}modal-content-open;
            animation-duration: animation.get-timing(150ms);
        }
    }
}

@keyframes #{$ns}modal {
    0% {
        visibility: visible;
        margin: 0;
        opacity: 1;
    }
    99% {
        margin: 0;
    }
    100% {
        visibility: hidden;
        margin: -9999px 0 0 -9999px;
        opacity: 0;
    }
}

@keyframes #{$ns}modal-open {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes #{$ns}modal-content-open {
    0% {
        transform: scale(0.75);
    }
    100% {
        transform: scale(1);
    }
}

:root {
    --yc-modal-border-radius: 5px;
    --yc-modal-margin: 20px;
}
