@use '../variables';

$block: '.#{variables.$ns}modal';

#{$block} {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;

    visibility: hidden;
    margin: -9999px 0 0 -9999px;

    background-color: var(--g-color-sfx-veil);
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    &__content-aligner-wrapper {
        min-width: 100%;
        min-height: 100%;

        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

    &__content-container {
        margin: var(--yc-modal-margin);
        background-color: var(--g-color-base-modal);
        border-radius: var(--yc-modal-border-radius);
        overflow-x: hidden;
    }

    &__content {
        &_with-scroll {
            overflow-y: auto;
            max-height: calc(100vh - (var(--yc-modal-margin) * 2));
        }
    }

    &,
    &__content {
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
        outline: none;
    }

    &_open,
    &_exit_active {
        display: block;
        visibility: visible;
        margin: 0;
    }

    &_enter_active,
    &_appear_active {
        $animation-duration: 150ms;

        animation-name: #{variables.$ns}modal-open;
        animation-duration: $animation-duration;

        #{$block}__content {
            animation-name: #{variables.$ns}modal-content-open;
            animation-duration: $animation-duration;
        }
    }

    &_exit_active {
        animation-name: #{variables.$ns}modal;
        animation-duration: 200ms;
    }
}

@keyframes #{variables.$ns}modal {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes #{variables.$ns}modal-open {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes #{variables.$ns}modal-content-open {
    0% {
        transform: scale(0.75);
    }
    100% {
        transform: scale(1);
    }
}

:root {
    --yc-modal-border-radius: 5px;
    --yc-modal-margin: 20px;
}
