@use '../variables';

$block: '.#{variables.$ns}modal';
$modal-default-border-radius: 5px;
$modal-transition-duration: 150ms;
$modal-height-transition: height 350ms ease-in-out;
$modal-opacity-transition: opacity $modal-transition-duration ease-out;
$modal-transform-transition: transform $modal-transition-duration ease-out;

#{$block} {
    position: fixed;
    inset: 0;
    z-index: 1000;
    outline: none;

    background-color: var(--g-color-sfx-veil);
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    &__content-aligner {
        min-width: 100%;
        min-height: 100%;

        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

    &__content {
        margin: var(--g-modal-margin, #{variables.$modal-default-margin});
        height: var(--g-modal-height, auto);
        max-height: var(--g-modal-max-height, none);
        width: var(--g-modal-width, auto);
        max-width: var(--g-modal-max-width, none);

        background-color: var(--g-color-base-modal);
        border-radius: var(--g-modal-border-radius, #{$modal-default-border-radius});
        clip-path: inset(0 round var(--g-modal-border-radius, #{$modal-default-border-radius}));
        outline: none;

        transition: $modal-height-transition;

        &_has-scroll {
            overflow: auto;
            max-width: var(
                --g-modal-max-width,
                calc(100vw - calc(var(--g-modal-margin, #{variables.$modal-default-margin}) * 2))
            );
            max-height: var(
                --g-modal-max-height,
                calc(100vh - calc(var(--g-modal-margin, #{variables.$modal-default-margin}) * 2))
            );
        }
    }

    &[data-floating-ui-status='unmounted'] {
        display: none;
        visibility: hidden;
        margin: -9999px 0 0 -9999px;
    }

    &[data-floating-ui-status='open'],
    &[data-floating-ui-status='close'] {
        transition: $modal-opacity-transition;
    }

    &[data-floating-ui-status='initial'],
    &[data-floating-ui-status='close'] {
        opacity: 0;
    }

    &[data-floating-ui-status='initial'] #{$block}__content {
        transform: scale(0.75);
    }
    &[data-floating-ui-status='open'] #{$block}__content,
    &[data-floating-ui-status='close'] #{$block}__content {
        transition: $modal-height-transition, $modal-transform-transition;
    }

    &_mobile {
        --g-modal-width: 100vw;
        --g-modal-height: 100vh;
        --g-modal-margin: 0px;
        --g-modal-border-radius: 0px;

        &[data-floating-ui-status='initial'] #{$block}__content,
        &[data-floating-ui-status='close'] #{$block}__content {
            transform: translateY(100%);
        }
        &[data-floating-ui-status='open'] #{$block}__content {
            transform: translateY(0);
        }
    }

    @media (prefers-reduced-motion: reduce) {
        &[data-floating-ui-status] #{$block}__content {
            transition: none;
        }
    }
}
