@use '../../variables';

$b: '.#{variables.$ns}lab-menu-divider';

#{$b} {
    padding-block: 4px;

    &::before {
        content: '';
        display: block;
        height: 1px;
        background-color: var(--g-color-line-generic);
    }
}
