@use '../../variables';

$block: '.#{variables.$ns}password-input';

#{$block} {
    &__input-control {
        &::-ms-reveal,
        &::-ms-clear {
            display: none;
        }
    }

    &__additional-end-content {
        display: flex;
        align-items: center;
    }

    &__copy-button {
        margin-inline-end: 4px;
    }
}
