@use '../../variables';

$block: '.#{variables.$ns}overlay-showcase';

#{$block} {
    &__content {
        position: relative;

        width: fit-content;
        padding: var(--g-spacing-1);
    }

    &__dialog-content {
        position: relative;

        width: 480px;
        height: 212px;
    }

    &__table table {
        min-width: 763px;
    }

    &__button {
        margin-block-start: var(--g-spacing-1);

        & + & {
            margin-inline-start: var(--g-spacing-1);
        }
    }
}
