@use '../../variables';

#{variables.$block} {
    &__copy {
        display: inline-flex;
        align-items: center;

        &-content {
            margin-inline-end: 5px;
        }

        &-button {
            line-height: 0;
            visibility: hidden;
            color: var(--g-color-text-secondary);
            opacity: 0.5;

            &:hover {
                opacity: 1;
            }
        }
    }

    &__cell:hover &__copy-button {
        visibility: visible;
    }
}
