@use '../variables';

$block: '.#{variables.$ns}dropdown-menu';

#{$block} {
    &__switcher-wrapper {
        display: inline-block;
    }

    &__switcher-button {
        display: flex;
    }

    &__menu-item_separator {
        border-top: 1px solid var(--g-color-line-generic-solid);
        margin: 0.5em 0;
        pointer-events: none;
    }

    &__menu-item-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 16px;
    }

    &__sub-menu {
        position: relative;

        #{$block}__menu {
            &:before,
            &:after {
                position: absolute;

                top: 0;

                width: 10px;
                height: 100%;

                content: '';
            }

            &:before {
                left: -10px;
            }

            &:after {
                right: -10px;
            }
        }
    }
}
