@mixin yc-colors-social {
    // Social palette

    --yc-color-telegram: #51a4db;
    --yc-color-facebook: #4968ad;
    --yc-color-twitter: #4aa0eb;
    --yc-color-vk: #436eab;
    --yc-color-youtube: #eb3323;
    --yc-color-github: #25292e;
    --yc-color-rss: #f29c39;
}
