/* stylelint-disable declaration-no-important */
@use '../variables.scss';

#{variables.$rowBlock} {
    display: flex;
    flex-flow: row wrap;
    flex-shrink: 0;

    @each $space, $value in variables.$SPACE {
        // space
        &_s_#{$space} {
            margin-top: calc(-1 * $value);
            margin-inline-start: calc(-1 * $value);

            & > #{variables.$colBlock} {
                padding-top: $value;
                padding-left: $value;
            }
        }
        // space-row
        &_sr_#{$space} {
            margin-top: calc(-1 * $value) !important;

            & > #{variables.$colBlock} {
                padding-top: $value !important;
            }
        }
    }
}
