@use '../../variables';
@use '../../../../styles/mixins';

$block: '.#{variables.$ns}accordion-summary';

#{$block} {
    &_size_s &__trigger {
        padding: calc(var(--g-spacing-2) + 1px) var(--g-spacing-3);
        @include mixins.text-subheader-1();
    }

    &_size_m &__trigger {
        padding: calc(var(--g-spacing-2) + 3px) var(--g-spacing-4);
        @include mixins.text-subheader-1();
    }

    &_size_l &__trigger {
        padding: calc(var(--g-spacing-3) + 2px) var(--g-spacing-5);
        @include mixins.text-subheader-2();
    }

    &_size_xl &__trigger {
        padding: calc(var(--g-spacing-5) + 2px) var(--g-spacing-5);
        @include mixins.text-subheader-2();
    }

    &__trigger {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
}
