@mixin yc-colors-base-dark-hc {
    --yc-color-base-background: var(--yc-color-private-black-rock-950);

    --yc-color-base-generic: var(--yc-color-private-white-100);
    --yc-color-base-generic-hover: var(--yc-color-private-white-250);
    --yc-color-base-generic-medium: var(--yc-color-private-white-250);
    --yc-color-base-generic-medium-hover: var(--yc-color-private-white-400);
    --yc-color-base-generic-accent: var(--yc-color-private-white-200);
    --yc-color-base-generic-accent-disabled: var(--yc-color-private-white-150);

    --yc-color-base-generic-ultralight: var(--yc-color-private-white-150-solid);

    --yc-color-base-simple-hover: var(--yc-color-private-white-250);
    --yc-color-base-simple-hover-solid: var(--yc-color-private-white-250-solid);

    --yc-color-base-selection: var(--yc-my-color-brand-selection);
    --yc-color-base-selection-hover: var(--yc-my-color-brand-selection-hover);
    --yc-color-base-special: var(--yc-my-color-brand-normal);
    --yc-color-base-special-hover: var(--yc-my-color-brand-normal-hover);
    --yc-color-base-action: var(--yc-color-base-special);
    --yc-color-base-action-hover: var(--yc-color-base-special-hover);

    --yc-color-base-info: var(--yc-color-private-blue-250);
    --yc-color-base-info-hover: var(--yc-color-private-blue-400);
    --yc-color-base-positive: var(--yc-color-private-green-250);
    --yc-color-base-positive-hover: var(--yc-color-private-green-400);
    --yc-color-base-warning: var(--yc-color-private-yellow-250);
    --yc-color-base-warning-hover: var(--yc-color-private-yellow-400);
    --yc-color-base-danger: var(--yc-color-private-red-250);
    --yc-color-base-danger-hover: var(--yc-color-private-red-400);
    --yc-color-base-misc: var(--yc-color-private-cool-grey-250);
    --yc-color-base-misc-hover: var(--yc-color-private-cool-grey-400);
    --yc-color-base-neutral: var(--yc-color-private-white-250);
    --yc-color-base-neutral-hover: var(--yc-color-private-white-400);

    --yc-color-base-positive-medium: var(--yc-color-private-green-350);
    --yc-color-base-positive-medium-hover: var(--yc-color-private-green-400);

    --yc-color-base-info-heavy: var(--yc-color-private-blue-450);
    --yc-color-base-positive-heavy: var(--yc-color-private-green-450);
    --yc-color-base-warning-heavy: var(--yc-color-private-yellow-450);
    --yc-color-base-warning-heavy-hover: var(--yc-color-private-yellow-700);
    --yc-color-base-danger-heavy: var(--yc-color-private-red-450);
    --yc-color-base-danger-heavy-hover: var(--yc-color-private-red-450);
    --yc-color-base-misc-heavy: var(--yc-color-private-cool-grey-450);
    --yc-color-base-misc-heavy-hover: var(--yc-color-private-cool-grey-550);

    --yc-color-base-light: var(--yc-color-private-white-850);
    --yc-color-base-light-hover: var(--yc-color-private-white-700);
    --yc-color-base-light-simple-hover: var(--yc-color-private-white-150);
    --yc-color-base-light-disabled: var(--yc-color-private-white-150);
    --yc-color-base-light-accent-disabled: var(--yc-color-private-white-300);

    --yc-color-base-float: var(--yc-color-private-white-100-solid);

    --yc-color-base-float-hover: var(--yc-color-private-white-200-solid);
    --yc-color-base-float-heavy: var(--yc-color-private-white-200-solid);
    --yc-color-base-float-accent: var(--yc-color-private-white-300-solid);
    --yc-color-base-float-accent-hover: var(--yc-color-private-white-400-solid);

    --yc-color-base-float-announcement: var(--yc-color-private-white-200-solid);

    --yc-color-base-modal: var(--yc-color-private-black-rock-850);
}
