@use '../../../variables';

$block: '.#{variables.$ns}table';

#{$block} {
    &__sort {
        display: inline-flex;
        align-items: baseline;
        // `top` to avoid redundant height to appear
        vertical-align: top;
        cursor: pointer;
        user-select: none;
        border-radius: var(--g-border-radius-xs);

        &-spacer {
            width: 5px;
        }

        &-indicator {
            color: var(--g-color-text-hint);
        }

        &_active &-indicator {
            color: var(--g-color-text-primary);
        }

        &:focus-visible {
            outline: 2px solid var(--g-color-line-focus);
        }
    }
}
