@use '../variables';
@use '../../../../styles/mixins';

#{variables.$headerBlock} {
    box-sizing: content-box;
    min-height: 36px;
    padding-block: var(--g-spacing-3) var(--g-spacing-2);
    padding-inline: var(--_--side-padding)
        calc(var(--_--side-padding) + var(--_--close-button-space));
    line-height: 24px;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: flex-start;
    color: var(--g-color-text-primary);

    &_mobile {
        padding-block: var(--g-spacing-4) var(--g-spacing-2);
    }
}
