@use '../variables';
@use '../../../../styles/mixins';

#{variables.$headerBlock} {
    min-height: 36px;
    padding-block: 12px 8px;
    padding-inline: var(--_--side-padding)
        calc(var(--_--side-padding) + var(--_--close-button-space));
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: var(--g-color-text-primary);

    &__caption {
        @include mixins.text-subheader-3();
    }
}
