@use '../../variables';
@use '../../../../styles/mixins';

$block: '.#{variables.$ns}dialog-header';

#{$block} {
    padding: var(--yc-dialog-header-padding);
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: var(--yc-color-text-primary);

    &__caption {
        @include mixins.text-subheader-3();
    }
}
