$ns: 'g-';

$xs-height: 20px;
$s-height: 24px;
$m-height: 28px;
$l-height: 36px;
$xl-height: 44px;

$button-shrink-transition: transform 0.1s ease-out;
$button-shrink-transform: scale(0.96);

$modal-default-margin: 20px;
