$ns: 'g-';

$height-2xs: 18px;
$height-xs: 20px;
$height-s: 24px;
$height-m: 28px;
$height-l: 36px;
$height-xl: 44px;

$button-shrink-transition: transform 0.1s ease-out;
$button-shrink-transform: scale(0.96);

$modal-default-margin: 20px;
