@use '../../variables';

$block: '.#{variables.$ns}color-text';

$textColorMap: (
    'primary' var(--g-color-text-primary),
    'complementary' var(--g-color-text-complementary),
    'secondary' var(--g-color-text-secondary),
    'hint' var(--g-color-text-hint),
    'info' var(--g-color-text-info),
    'info-heavy' var(--g-color-text-info-heavy),
    'positive' var(--g-color-text-positive),
    'positive-heavy' var(--g-color-text-positive-heavy),
    'warning' var(--g-color-text-warning),
    'warning-heavy' var(--g-color-text-warning-heavy),
    'danger' var(--g-color-text-danger),
    'danger-heavy' var(--g-color-text-danger-heavy),
    'utility' var(--g-color-text-utility),
    'utility-heavy' var(--g-color-text-utility-heavy),
    'misc' var(--g-color-text-misc),
    'misc-heavy' var(--g-color-text-misc-heavy),
    'brand' var(--g-color-text-brand),
    'link' var(--g-color-text-link),
    'link-hover' var(--g-color-text-link-hover),
    'link-visited' var(--g-color-text-link-visited),
    'link-visited-hover' var(--g-color-text-link-visited-hover),
    'dark-primary' var(--g-color-text-dark-primary),
    'dark-complementary' var(--g-color-text-dark-complementary),
    'dark-secondary' var(--g-color-text-dark-secondary),
    'light-primary' var(--g-color-text-light-primary),
    'light-complementary' var(--g-color-text-light-complementary),
    'light-secondary' var(--g-color-text-light-secondary),
    'light-hint' var(--g-color-text-light-hint),
    'inverted-primary' var(--g-color-text-inverted-primary),
    'inverted-complementary' var(--g-color-text-inverted-complementary),
    'inverted-secondary' var(--g-color-text-inverted-secondary),
    'inverted-hint' var(--g-color-text-inverted-hint)
);

#{$block} {
    @each $mod, $value in $textColorMap {
        &_color_#{$mod} {
            color: $value;
        }
    }
}
