@use '../../../styles/mixins';
@use '../variables';

$block: '.#{variables.$ns}action-tooltip';

#{$block} {
    --g-tooltip-text-color: var(--g-color-text-light-primary);
    --g-tooltip-background-color: var(--g-color-base-float-heavy);
    --g-tooltip-padding: var(--g-spacing-2) var(--g-spacing-3);

    &__heading {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
    }

    &__title {
        color: var(--g-color-text-light-primary);
    }

    &__hotkey {
        margin-inline-start: var(--g-spacing-2);
    }

    &__description {
        margin-block-start: var(--g-spacing-1);
        color: var(--g-color-text-light-secondary);
    }
}
