@use '../../../styles/mixins.scss';
@use '../variables';

$block: '.#{variables.$ns}action-tooltip';

#{$block} {
    --g-popup-border-width: 0;
    --g-popup-background-color: var(--g-color-base-float-heavy);

    &__content {
        padding: 6px 12px;
        color: var(--g-color-text-light-primary);
        max-width: 300px;
        box-sizing: border-box;
    }

    &__heading {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
    }

    &__title {
        color: var(--g-color-text-light-primary);
    }

    &__hotkey {
        margin-inline-start: 8px;
    }

    &__description {
        margin-block-start: 4px;
        color: var(--g-color-text-light-secondary);
    }
}
