@use '../variables';

@mixin size() {
    $sizes: (
        'xs': 24px,
        's': 28px,
        'm': 32px,
        'l': 42px,
        'xl': 50px,
    );

    @each $size_name, $size_value in $sizes {
        &_#{$size_name} {
            width: $size_value;
            height: $size_value;
        }
    }
}

$block: '.#{variables.$ns}user-avatar';

#{$block} {
    display: inline-block;
    overflow: hidden;

    box-sizing: border-box;

    border-radius: 50%;
    background-color: var(--g-color-base-background);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &_size {
        @include size;
    }

    &__figure {
        object-fit: cover;
    }
}
