@use '../variables';

$block: '.#{variables.$ns}user-avatar';

#{$block} {
    box-sizing: border-box;
    display: inline-block;
    background-color: var(--yc-color-base-background);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;

    &_has-figure {
        overflow: hidden;
    }

    &_size {
        &_xs {
            width: 24px;
            height: 24px;
        }

        &_s {
            width: 28px;
            height: 28px;
        }

        &_m {
            width: 32px;
            height: 32px;
        }

        &_l {
            width: 42px;
            height: 42px;
        }

        &_xl {
            width: 50px;
            height: 50px;
        }
    }

    &__figure {
        object-fit: cover;
    }
}
