@use '../variables';

$block: '.#{variables.$ns}range-input';
$text-input: '.#{variables.$ns}text-input';
$base-slider: '.#{variables.$ns}base-slider';
$base-slider-track: '#{$base-slider}__track';
$slider-mark: '.rc-slider-mark';
$slider-mark-text: '#{$slider-mark}-text';
$slider-dot: '.rc-slider-dot';

#{$block} {
    --_--range-input-handle-size: 11px;
    --_--range-input-track-size: 3px;
    --_--range-input-slider-overlap: 1px;
    --_--range-input-marks-area: 20px;
    --_--range-input-mark-gap: 4px;
    --_--range-input-mark-line-height: var(--g-text-body-short-line-height);
    --_--range-input-track-start-inset: 4px;
    --_--range-input-track-start-offset: calc(
        var(--_--range-input-track-start-inset) - var(--_--range-input-handle-size) / 2
    );
    --_--range-input-mark-space: calc(
        var(--_--range-input-marks-area) +
            var(--_--range-input-slider-overlap) - var(--_--range-input-handle-size) / 2
    );
    --_--range-input-mark-offset: calc(
        var(--_--range-input-handle-size) /
            2 - var(--_--range-input-slider-overlap) - var(--_--range-input-mark-gap)
    );

    display: inline-flex;
    flex-direction: column;
    width: 100%;

    &_size {
        &_s {
            --_--range-input-handle-size: 9px;
            --_--range-input-track-size: 2px;
            --_--range-input-slider-overlap: 0.5px;
            --_--range-input-track-start-inset: 3.5px;
        }

        &_m {
            --_--range-input-handle-size: 11px;
        }

        &_l {
            --_--range-input-handle-size: 12px;
            --_--range-input-track-size: 4px;
            --_--range-input-track-start-inset: 6px;
        }

        &_xl {
            --_--range-input-handle-size: 12px;
            --_--range-input-track-size: 4px;
            --_--range-input-marks-area: 26px;
            --_--range-input-mark-gap: 6px;
            --_--range-input-mark-line-height: var(--g-text-body-2-line-height);
            --_--range-input-track-start-inset: 7px;
        }
    }

    &:hover:not(#{$block}_disabled) #{$text-input}__content,
    &:focus-within:not(#{$block}_disabled) #{$text-input}__content {
        border-color: var(--g-color-line-generic-active);
    }

    &:focus-within #{$text-input}__content {
        outline: none;
    }

    &_invalid &__slider {
        --g-slider-track-color: var(--g-color-line-danger);
        --g-slider-dot-color: var(--g-color-line-danger);
    }

    &__input {
        position: relative;
        z-index: 0;
    }

    &__slider {
        --g-slider-handle-size: var(--_--range-input-handle-size);
        --g-slider-edge-offset: calc(var(--_--range-input-handle-size) / 2);
        --g-slider-rail-size: var(--_--range-input-track-size);
        --g-slider-dot-size: 2px;
        --g-slider-mark-space: var(--_--range-input-mark-space);
        --g-slider-rail-color: transparent;
        --g-slider-track-color: var(--g-color-base-brand);
        --g-slider-dot-color: var(--g-color-base-brand);
        --g-slider-handle-background-color: var(--g-color-base-brand);
        --g-slider-handle-border-color: var(--g-color-base-brand);
        --g-slider-handle-border-width: 0px;
        --g-slider-handle-focus-color: transparent;
        --g-slider-handle-focus-error-color: transparent;
        --g-slider-handle-disabled-background-color: var(--g-color-text-hint);
        --g-slider-handle-error-background-color: var(--g-color-line-danger);

        position: relative;
        z-index: 1;
        width: 100%;
        margin-block-start: calc(
            var(--_--range-input-handle-size) / -2 - var(--_--range-input-slider-overlap)
        );

        #{$base-slider-track} {
            background-color: transparent;

            &::before {
                width: auto;
                inset-inline: var(--_--range-input-track-start-offset) 0;
            }
        }

        #{$slider-mark} {
            inset-block-end: var(--_--range-input-mark-offset);
        }

        #{$slider-mark-text} {
            line-height: var(--_--range-input-mark-line-height);
        }

        #{$slider-dot} {
            inset-block-start: calc(
                (var(--_--range-input-handle-size) - var(--g-slider-dot-size)) / 2
            );
        }
    }
}
