@use '../variables' as globalVariables;
@use './variables';

#{variables.$block} {
    --_--side-padding: 32px;
    --_--close-button-space: 0px;

    position: relative;
    display: flex;
    flex-direction: column;
    width: var(--g-dialog-width, var(--_--width));

    &_has-scroll {
        overflow-y: auto;
        max-height: calc(
            100vh - calc(var(--g-modal-margin, #{globalVariables.$modal-default-margin}) * 2)
        );
    }

    &_size {
        &_s {
            --_--width: 480px;
        }

        &_m {
            --_--width: 720px;
        }

        &_l {
            --_--width: 900px;
        }
    }

    &:has(#{variables.$closeBtnBlock}) {
        --_--close-button-space: 26px;
    }

    &:has(#{variables.$headerBlock}) {
        padding-block-start: 0;
    }

    &:has(#{variables.$footerBlock}) {
        padding-block-end: 0;
    }
}
