@use '../variables';

$block: '.#{variables.$ns}dialog';

#{$block} {
    --_--side-padding: 32px;
    --_--close-button-space: 0px;

    position: relative;
    display: flex;
    flex-direction: column;
    width: var(--g-dialog-width, var(--_--width));

    &_has-scroll {
        overflow-y: auto;
        max-height: calc(
            100vh - calc(var(--g-modal-margin, #{variables.$modal-default-margin}) * 2)
        );
    }

    &_size {
        &_s {
            --_--width: 480px;
        }

        &_m {
            --_--width: 720px;
        }

        &_l {
            --_--width: 900px;
        }
    }

    &_has-close {
        --_--close-button-space: 24px;
    }
}
