@use '../variables' as uikit;

$block: '.#{uikit.$ns}clipboard-icon';

#{$block} {
    &__state {
        animation: #{uikit.$ns}clipboard-icon-state-dash 1s;
    }
}

@keyframes #{uikit.$ns}clipboard-icon-state-dash {
    0% {
        stroke-dasharray: 0 15;
    }

    40% {
        stroke-dasharray: 15 0;
    }

    100% {
        stroke-dasharray: 15 0;
    }
}
