@use '../../../styles/lib/animation';
@import '../variables';

$block: '.#{$ns}clipboard-icon';

#{$block} {
    &__state {
        animation: #{$ns}clipboard-icon-state-dash animation.get-timing(1s);
    }
}

@keyframes #{$ns}clipboard-icon-state-dash {
    0% {
        stroke-dasharray: 0 15;
    }

    40% {
        stroke-dasharray: 15 0;
    }

    100% {
        stroke-dasharray: 15 0;
    }
}
