.disable-portal {
    --g-drawer-item-position: absolute;

    width: 100dvw;
    height: 100dvh;

    display: flex;
    flex-direction: column;

    &__header {
        width: 100%;
        padding: 20px;
        border-block-end: 1px solid var(--g-color-line-generic);
        display: flex;
        align-items: center;
        gap: 8px;
    }

    &__container {
        position: relative;
        padding: 16px;
        width: 600px;
        height: 400px;
        border: 1px solid var(--g-color-line-brand);
    }

    &__drawer {
        position: absolute;
        inset: 0;
        overflow: hidden;
    }

    &__item {
        width: 400px;
        height: 100%;
        overflow-x: hidden;

        &_vertical {
            width: 100%;
            height: 240px;
            overflow-y: hidden;
        }
    }

    &__item-content {
        box-sizing: border-box;
        padding: 8px 16px;
        height: 100%;
        overflow-y: scroll;
    }

    &__item_vertical &__item-content {
        height: auto;
        width: 100%;
    }
}
