.disable-portal {
    &__header {
        width: 100%;
        padding: 20px;
        border-block-end: 1px solid var(--g-color-line-generic);
        display: flex;
        align-items: center;
        gap: 8px;
    }

    &__container {
        padding: 16px;
        width: 600px;
        height: 400px;
        border: 1px solid var(--g-color-line-brand);

        &_disablePortal {
            position: relative;
        }
    }

    &__item-content {
        display: flex;
        flex-direction: column;
        gap: 8px;

        box-sizing: border-box;
        padding: 8px 16px;
        overflow-y: auto;
    }

    &__drawer_placement_top &__item-content,
    &__drawer_placement_bottom &__item-content {
        width: 100%;
        height: 300px;
    }

    &__drawer_placement_right &__item-content,
    &__drawer_placement_left &__item-content {
        width: 400px;
        height: 100%;
    }
}
