.hide-veil {
    &__header {
        padding: 20px;
        border-block-end: 1px solid var(--g-color-line-generic);
        display: flex;
        align-items: center;
        gap: 8px;
    }

    &__item-content {
        box-sizing: border-box;
        height: 100%;
        padding: 8px 16px;
    }

    &__drawer_hide-veil {
        --g-color-sfx-veil: transparent;
    }

    &__drawer_hide-veil &__item-content {
        box-shadow: 0 1px 5px 0 var(--g-color-sfx-shadow);
    }
}
