.hide-veil {
    &__header {
        padding: 20px;
        border-block-end: 1px solid var(--g-color-line-generic);
        display: flex;
        align-items: center;
        gap: 8px;
    }

    &__item-content {
        box-sizing: border-box;
        padding: 8px 16px;
    }

    &__drawer_placement_right &__item-content,
    &__drawer_placement_left &__item-content {
        width: 400px;
        height: 100%;
    }

    &__drawer_placement_top &__item-content,
    &__drawer_placement_bottom &__item-content {
        width: 100%;
        height: 300px;
    }
}
