.resizable-showcase {
    &__header {
        padding: 20px;
        border-block-end: 1px solid var(--g-color-line-generic);
        display: flex;
        align-items: center;
        gap: 8px;
    }

    &__item-content {
        box-sizing: border-box;
        height: 100%;
        padding: 8px 16px;
    }

    &__drawer_placement_right:not(.resizable-showcase__drawer_resizable) &__item-content,
    &__drawer_placement_left:not(.resizable-showcase__drawer_resizable) &__item-content {
        width: 400px;
        height: 100%;
    }

    &__drawer_placement_top:not(.resizable-showcase__drawer_resizable) &__item-content,
    &__drawer_placement_bottom:not(.resizable-showcase__drawer_resizable) &__item-content {
        width: 100%;
        height: 300px;
    }

    &__drawer_placement_right.resizable-showcase__drawer_resizable &__item-content,
    &__drawer_placement_left.resizable-showcase__drawer_resizable &__item-content {
        width: auto;
        height: 100%;
    }

    &__drawer_placement_top.resizable-showcase__drawer_resizable &__item-content,
    &__drawer_placement_bottom.resizable-showcase__drawer_resizable &__item-content {
        width: 100%;
        height: auto;
    }
}
