@use '../variables';
@use '../../../styles/mixins';

$block: '.#{variables.$ns}disclosure';
$gap: 8px;
$transition-duration: 0.2s;
$transition-easing: linear;

#{$block} {
    --_--text-color: var(--g-color-text-primary);
    --_--text-color-disabled: var(--g-color-text-secondary);

    &_size_m &__trigger {
        @include mixins.text-body-1();
    }
    &_size_l &__trigger {
        @include mixins.text-body-2();
    }
    &_size_xl &__trigger {
        @include mixins.text-subheader-3();
    }
    &__trigger {
        @include mixins.button-reset();
        display: flex;
        flex-flow: row nowrap;
        gap: $gap;
        flex-shrink: 0;
        align-items: center;
        font-size: inherit;
        line-height: inherit;
        font-weight: inherit;
        border-radius: var(--g-focus-border-radius);
        color: var(--g-disclosure-text-color, var(--_--text-color));

        &:focus-visible {
            @include mixins.focus-outline();
        }
    }
    &__trigger_arrow_end {
        flex-direction: row-reverse;
    }
    &__trigger_disabled {
        color: var(--g-disclosure-text-color-disabled, var(--_--text-color-disabled));
        cursor: auto;
    }

    &__content {
        display: block;
        max-height: 0;
        overflow: hidden;
        transition:
            max-height $transition-duration $transition-easing,
            opacity $transition-duration $transition-easing;
        opacity: 0;
    }

    &__content_visible {
        max-height: var(--_--disclosure-content-height, 99999px);
        opacity: 1;
    }
}
