@mixin variables {
    --yc-color-infographics-info-light: var(--g-color-base-info-light);
    --yc-color-infographics-positive-light: var(--g-color-base-positive-light);
    --yc-color-infographics-warning-light: var(--g-color-base-warning-light);
    --yc-color-infographics-danger-light: var(--g-color-base-danger-light);
    --yc-color-infographics-misc-light: var(--g-color-base-misc-light);
    --yc-color-infographics-neutral-light: var(--g-color-base-neutral-light);

    --yc-color-infographics-info-medium: var(--g-color-base-info-medium);
    --yc-color-infographics-positive-medium: var(--g-color-base-positive-medium);
    --yc-color-infographics-warning-medium: var(--g-color-base-warning-medium);
    --yc-color-infographics-danger-medium: var(--g-color-base-danger-medium);
    --yc-color-infographics-misc-medium: var(--g-color-base-misc-medium);
    --yc-color-infographics-neutral-medium: var(--g-color-base-neutral-medium);

    --yc-color-infographics-info-heavy: var(--g-color-base-info-heavy);
    --yc-color-infographics-positive-heavy: var(--g-color-base-positive-heavy);
    --yc-color-infographics-warning-heavy: var(--g-color-base-warning-heavy);
    --yc-color-infographics-danger-heavy: var(--g-color-base-danger-heavy);
    --yc-color-infographics-misc-heavy: var(--g-color-base-misc-heavy);
    --yc-color-infographics-neutral-heavy: var(--g-color-base-neutral-heavy);

    --yc-color-infographics-axis: var(--g-color-infographics-axis);
    --yc-color-infographics-tooltip-bg: var(--g-color-infographics-tooltip-bg);
}
