@mixin variables {
    --yc-spacing-base: var(--g-spacing-base);
    // @deprecated No "--g" equivalent
    --yc-space-base: var(--yc-spacing-base);

    --yc-spacing-0: var(--g-spacing-0);
    --yc-spacing-half: var(--g-spacing-half);
    --yc-spacing-1: var(--g-spacing-1);
    --yc-spacing-2: var(--g-spacing-2);
    --yc-spacing-3: var(--g-spacing-3);
    --yc-spacing-4: var(--g-spacing-4);
    --yc-spacing-5: var(--g-spacing-5);
    --yc-spacing-6: var(--g-spacing-6);
    --yc-spacing-7: var(--g-spacing-7);
    --yc-spacing-8: var(--g-spacing-8);
    --yc-spacing-9: var(--g-spacing-9);
    --yc-spacing-10: var(--g-spacing-10);
}
