@mixin variables {
    --yc-color-scroll-track: var(--g-color-scroll-track);
    --yc-color-scroll-handle: var(--g-color-scroll-handle);
    --yc-color-scroll-handle-hover: var(--g-color-scroll-handle-hover);
    --yc-color-scroll-corner: var(--g-color-scroll-corner);
}
