@mixin variables {
    --yc-color-text-primary: var(--g-color-text-primary);
    --yc-color-text-complementary: var(--g-color-text-complementary);
    --yc-color-text-secondary: var(--g-color-text-secondary);
    --yc-color-text-hint: var(--g-color-text-hint);

    --yc-color-text-info: var(--g-color-text-info);
    --yc-color-text-positive: var(--g-color-text-positive);
    --yc-color-text-warning: var(--g-color-text-warning);
    --yc-color-text-danger: var(--g-color-text-danger);
    --yc-color-text-utility: var(--g-color-text-utility);
    --yc-color-text-misc: var(--g-color-text-misc);

    --yc-color-text-info-heavy: var(--g-color-text-info-heavy);
    --yc-color-text-positive-heavy: var(--g-color-text-positive-heavy);
    --yc-color-text-warning-heavy: var(--g-color-text-warning-heavy);
    --yc-color-text-danger-heavy: var(--g-color-text-danger-heavy);
    --yc-color-text-utility-heavy: var(--g-color-text-utility-heavy);
    --yc-color-text-misc-heavy: var(--g-color-text-misc-heavy);

    --yc-color-text-special: var(--g-color-text-brand);
    --yc-color-text-link: var(--g-color-text-link);
    --yc-color-text-link-hover: var(--g-color-text-link-hover);
    --yc-color-text-link-visited: var(--g-color-text-link-visited);
    --yc-color-text-link-visited-hover: var(--g-color-text-link-visited-hover);
    // @deprecated No "--g" equivalent
    --yc-color-text-yandex-red: var(--g-color-private-red-550-solid);

    --yc-color-text-dark-primary: var(--g-color-text-dark-primary);
    --yc-color-text-dark-complementary: var(--g-color-text-dark-complementary);
    --yc-color-text-dark-secondary: var(--g-color-text-dark-secondary);

    --yc-color-text-light-primary: var(--g-color-text-light-primary);
    --yc-color-text-light-complementary: var(--g-color-text-light-complementary);
    --yc-color-text-light-secondary: var(--g-color-text-light-secondary);
    --yc-color-text-light-hint: var(--g-color-text-light-hint);

    --yc-color-text-inverted-primary: var(--g-color-text-inverted-primary);
    --yc-color-text-inverted-complementary: var(--g-color-text-inverted-complementary);
    --yc-color-text-inverted-secondary: var(--g-color-text-inverted-secondary);
    --yc-color-text-inverted-hint: var(--g-color-text-inverted-hint);
}
