@mixin variables {
    --yc-font-family-sans: var(--g-font-family-sans);
    --yc-font-family-monospace: var(--g-font-family-monospace);

    --yc-text-body-font-family: var(--g-text-body-font-family);
    --yc-text-code-font-family: var(--g-text-code-font-family);

    --yc-text-header-font-weight: var(--g-text-header-font-weight);
    --yc-text-subheader-font-weight: var(--g-text-subheader-font-weight);
    --yc-text-display-font-weight: var(--g-text-display-font-weight);
    --yc-text-code-font-weight: var(--g-text-code-font-weight);
    --yc-text-body-font-weight: var(--g-text-body-font-weight);
    --yc-text-caption-font-weight: var(--g-text-caption-font-weight);
    --yc-text-accent-font-weight: var(--g-text-accent-font-weight);

    --yc-text-body-1-font-size: var(--g-text-body-1-font-size);
    --yc-text-body-1-line-height: var(--g-text-body-1-line-height);

    --yc-text-body-2-font-size: var(--g-text-body-2-font-size);
    --yc-text-body-2-line-height: var(--g-text-body-2-line-height);

    --yc-text-body-3-font-size: var(--g-text-body-3-font-size);
    --yc-text-body-3-line-height: var(--g-text-body-3-line-height);

    --yc-text-body-short-font-size: var(--g-text-body-short-font-size);
    --yc-text-body-short-line-height: var(--g-text-body-short-line-height);

    --yc-text-caption-1-font-size: var(--g-text-caption-1-font-size);
    --yc-text-caption-1-line-height: var(--g-text-caption-1-line-height);

    --yc-text-caption-2-font-size: var(--g-text-caption-2-font-size);
    --yc-text-caption-2-line-height: var(--g-text-caption-2-line-height);

    --yc-text-header-1-font-size: var(--g-text-header-1-font-size);
    --yc-text-header-1-line-height: var(--g-text-header-1-line-height);

    --yc-text-header-2-font-size: var(--g-text-header-2-font-size);
    --yc-text-header-2-line-height: var(--g-text-header-2-line-height);

    --yc-text-subheader-1-font-size: var(--g-text-subheader-1-font-size);
    --yc-text-subheader-1-line-height: var(--g-text-subheader-1-line-height);

    --yc-text-subheader-2-font-size: var(--g-text-subheader-2-font-size);
    --yc-text-subheader-2-line-height: var(--g-text-subheader-2-line-height);

    --yc-text-subheader-3-font-size: var(--g-text-subheader-3-font-size);
    --yc-text-subheader-3-line-height: var(--g-text-subheader-3-line-height);

    --yc-text-display-1-font-size: var(--g-text-display-1-font-size);
    --yc-text-display-1-line-height: var(--g-text-display-1-line-height);

    --yc-text-display-2-font-size: var(--g-text-display-2-font-size);
    --yc-text-display-2-line-height: var(--g-text-display-2-line-height);

    --yc-text-display-3-font-size: var(--g-text-display-3-font-size);
    --yc-text-display-3-line-height: var(--g-text-display-3-line-height);

    --yc-text-display-4-font-size: var(--g-text-display-4-font-size);
    --yc-text-display-4-line-height: var(--g-text-display-4-line-height);

    --yc-text-code-1-font-size: var(--g-text-code-1-font-size);
    --yc-text-code-1-line-height: var(--g-text-code-1-line-height);

    --yc-text-code-2-font-size: var(--g-text-code-2-font-size);
    --yc-text-code-2-line-height: var(--g-text-code-2-line-height);

    --yc-text-code-3-font-size: var(--g-text-code-3-font-size);
    --yc-text-code-3-line-height: var(--g-text-code-3-line-height);

    --yc-text-code-inline-1-font-size: var(--g-text-code-inline-1-font-size);
    --yc-text-code-inline-1-line-height: var(--g-text-code-inline-1-line-height);

    --yc-text-code-inline-2-font-size: var(--g-text-code-inline-2-font-size);
    --yc-text-code-inline-2-line-height: var(--g-text-code-inline-2-line-height);

    --yc-text-code-inline-3-font-size: var(--g-text-code-inline-3-font-size);
    --yc-text-code-inline-3-line-height: var(--g-text-code-inline-3-line-height);
}
