@use '../variables';

$block: '.#{variables.$ns}sheet';

#{$block} {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100000;

    $SHEET_TOP_HEIGHT: 20px;

    &__veil {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: var(--g-color-sfx-veil);
        opacity: 0;
        will-change: opacity;

        &_with-transition {
            transition: opacity var(--yc-sheet-transition-duration) ease;
        }
    }

    &__sheet {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        max-height: 90%;
        will-change: transform;

        &_with-transition {
            transition: transform var(--yc-sheet-transition-duration) ease;
        }
    }

    &__sheet-swipe-area {
        position: absolute;
        top: -20px;
        left: 0;
        width: 100%;
        height: 40px;
        z-index: 1;
    }

    &__sheet-top {
        position: relative;
        height: $SHEET_TOP_HEIGHT;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        background-color: var(--g-color-base-float);
    }

    &__sheet-top-resizer {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: 40px;
        height: 4px;
        border-radius: 4px;
        background-color: var(--g-color-line-generic);
    }

    &__sheet-content {
        box-sizing: border-box;
        width: 100%;
        padding: var(--yc-sheet-content-paddings);
        max-height: calc(90% - #{$SHEET_TOP_HEIGHT});
        overflow-x: hidden;
        overflow-y: auto;
        overscroll-behavior-y: contain;
        background-color: var(--g-color-base-float);

        transition: height var(--yc-sheet-transition-duration) ease;

        &_without-scroll {
            overflow: hidden;
        }
    }

    &__sheet-content-title {
        padding-bottom: 8px;
        font-size: var(--g-text-body-2-font-size);
        line-height: 28px;
        text-align: center;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

.yc-root {
    --yc-sheet-content-paddings: 0 10px;
    --yc-sheet-transition-duration: 0.3s;
}
