/* stylelint-disable declaration-no-important */
@use '../../variables.scss';

// reset default class behavior if has size modification
// [class*='#{variables.$colClassName}_s_'] - syntax doesn't work here
/* stylelint-disable-next-line rule-empty-line-before */
*[class*='yc-col_s_'],
*[class*='yc-col_s-'] {
    box-sizing: border-box;
    flex: 0 0 auto;
}

// hide at different screen sizes
#{variables.$colClassName} {
    // by default col takes all available space
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;

    @each $size, $value in variables.$COL_SIZE {
        &_s_#{$size} {
            flex-basis: $value;
            max-width: $value;
        }

        @each $media, $mod in variables.$MEDIA_MOD_CONTAINER {
            @include variables.use-media($media) {
                &_s-#{$mod}_#{$size} {
                    flex-basis: $value !important;
                    max-width: $value !important;
                }
            }
        }
    }
}
