@use '../../variables.scss';

#{variables.$colClassName} {
    // by default col takes all available space
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;

    @each $size, $value in variables.$COL_SIZE {
        // col size
        &_s_#{$size} {
            box-sizing: border-box;
            flex-grow: 0;
            flex-basis: $value;
            max-width: $value;
        }
    }
}
