@use '../../../components/variables.scss';

$block: '.#{variables.$ns}color-generator';

#{$block} {
    &__color-items {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin-block-start: 20px;
    }
}
