@use '../../../styles/mixins';

@function transparent-color($desired-color, $background-color: #fff) {
    $r1: red($background-color);
    $g1: green($background-color);
    $b1: blue($background-color);

    $r2: red($desired-color);
    $g2: green($desired-color);
    $b2: blue($desired-color);

    $alpha: 0;
    $r: -1;
    $g: -1;
    $b: -1;

    @while $alpha < 1 and ($r < 0 or $g < 0 or $b < 0 or $r > 255 or $g > 255 or $b > 255) {
        $alpha: $alpha + 1 / 256;
        $inv: 1 / $alpha;
        $r: $r2 * $inv + $r1 * (1 - $inv);
        $g: $g2 * $inv + $g1 * (1 - $inv);
        $b: $b2 * $inv + $b1 * (1 - $inv);
    }

    @return rgba($r, $g, $b, round($alpha * 1000) / 1000);
}

@function opaque-color($desired-color, $background-color: #fff) {
    $r1: red($background-color);
    $g1: green($background-color);
    $b1: blue($background-color);

    $r2: red($desired-color);
    $g2: green($desired-color);
    $b2: blue($desired-color);
    $a2: alpha($desired-color);

    $r: round($r1 + ($r2 - $r1) * $a2);
    $g: round($g1 + ($g2 - $g1) * $a2);
    $b: round($b1 + ($b2 - $b1) * $a2);

    @return rgb($r, $g, $b);
}

.branding {
    &__section {
        &:not(:last-child) {
            margin-bottom: 60px;
        }

        &-header {
            @include mixins.text-display-1();
            margin-bottom: 20px;
        }
    }

    &__palette {
        display: inline-grid;
        grid-template-columns: repeat(15, 32px);
        grid-auto-rows: auto;
        align-items: center;
        gap: 6px;
        padding: 24px;
        border-radius: 12px;

        & + & {
            margin-top: 24px;
        }

        &-title {
            @include mixins.text-body-3();
            grid-column: span 4;
        }

        &-color {
            grid-area: span 1 / span 1;
            width: 32px;
            height: 32px;
            border-radius: 4px;
        }
    }

    &__components {
        display: grid;
        grid-template-columns: max-content auto;
        grid-auto-rows: auto;
        gap: 40px;

        &-title {
            @include mixins.text-body-3();
        }

        &-content {
            display: flex;
            align-items: center;

            & > *:not(:last-child) {
                margin-right: 24px;
            }
        }
    }
}

@mixin brand-vars($brand-color, $bg-color) {
    @for $i from 0 through 10 {
        $alpha: 1;

        @if $i == 10 {
            $alpha: 0.05;
        } @else {
            $alpha: 1 - 0.1 * $i;
        }

        $color: change-color($brand-color, $alpha: $alpha);
        $solid-color: opaque-color($color, $bg-color);

        --g-color-private-brand-#{$alpha * 1000}: #{$color};
        --g-color-private-brand-#{$alpha * 1000}-solid: #{$solid-color};
    }
}

.yc-root_brand_blue.yc-root {
    &_theme_light {
        @include brand-vars(#5282ff, #fff);

        --g-color-base-brand: var(--g-color-private-brand-800-solid);
        --g-color-base-brand-hover: var(--g-color-private-brand-900-solid);
        --g-color-base-selection: var(--g-color-private-brand-50);
        --g-color-base-selection-hover: var(--g-color-private-brand-100);
        --g-color-line-brand: var(--g-color-private-brand-800-solid);
        --g-color-text-brand: var(--g-color-base-brand);
        --g-color-text-link: var(--g-color-base-brand);
        --g-color-text-link-hover: var(--g-color-private-brand-1000-solid);
        --g-color-text-brand-contrast: var(--g-color-text-light-primary);
    }

    &_theme_dark {
        @include brand-vars(#577ed6, #2d2c33);

        --g-color-base-brand: var(--g-color-private-brand-700-solid);
        --g-color-base-brand-hover: var(--g-color-private-brand-800-solid);
        --g-color-base-selection: var(--g-color-private-brand-100);
        --g-color-base-selection-hover: var(--g-color-private-brand-200);
        --g-color-line-brand: var(--g-color-private-brand-700-solid);
        --g-color-text-brand: var(--g-color-base-brand);
        --g-color-text-link: var(--g-color-base-brand);
        --g-color-text-link-hover: var(--g-color-private-brand-1000-solid);
        --g-color-text-brand-contrast: var(--g-color-text-light-primary);
    }
}

.yc-root_brand_red.yc-root {
    &_theme_light {
        @include brand-vars(#f14b4b, #fff);

        --g-color-base-brand: var(--g-color-private-brand-800-solid);
        --g-color-base-brand-hover: var(--g-color-private-brand-900-solid);
        --g-color-base-selection: var(--g-color-private-brand-50);
        --g-color-base-selection-hover: var(--g-color-private-brand-100);
        --g-color-line-brand: var(--g-color-private-brand-800-solid);
        --g-color-text-brand: var(--g-color-base-brand);
        --g-color-text-link: var(--g-color-base-brand);
        --g-color-text-link-hover: var(--g-color-private-brand-1000-solid);
        --g-color-text-brand-contrast: var(--g-color-text-light-primary);
    }

    &_theme_dark {
        @include brand-vars(#f86b6b, #2d2c33);

        --g-color-base-brand: var(--g-color-private-brand-700-solid);
        --g-color-base-brand-hover: var(--g-color-private-brand-800-solid);
        --g-color-base-selection: var(--g-color-private-brand-100);
        --g-color-base-selection-hover: var(--g-color-private-brand-200);
        --g-color-line-brand: var(--g-color-private-brand-700-solid);
        --g-color-text-brand: var(--g-color-base-brand);
        --g-color-text-link: var(--g-color-base-brand);
        --g-color-text-link-hover: var(--g-color-private-brand-1000-solid);
        --g-color-text-brand-contrast: var(--g-color-text-light-primary);
    }
}

.yc-root_brand_yellow.yc-root {
    &_theme_light {
        @include brand-vars(#ffb800, #fff);

        --g-color-base-brand: var(--g-color-private-brand-800-solid);
        --g-color-base-brand-hover: var(--g-color-private-brand-900-solid);
        --g-color-base-selection: var(--g-color-private-brand-100);
        --g-color-base-selection-hover: var(--g-color-private-brand-200);
        --g-color-line-brand: var(--g-color-private-brand-800-solid);
        --g-color-text-brand: var(--g-color-private-brand-900-solid);
        --g-color-text-link: var(--g-color-private-brand-900-solid);
        --g-color-text-link-hover: var(--g-color-private-brand-1000-solid);
        --g-color-text-brand-contrast: var(--g-color-text-dark-primary);
    }

    &_theme_dark {
        @include brand-vars(#ffb800, #2d2c33);

        --g-color-base-brand: var(--g-color-private-brand-700-solid);
        --g-color-base-brand-hover: var(--g-color-private-brand-800-solid);
        --g-color-base-selection: var(--g-color-private-brand-100);
        --g-color-base-selection-hover: var(--g-color-private-brand-200);
        --g-color-line-brand: var(--g-color-private-brand-700-solid);
        --g-color-text-brand: var(--g-color-private-brand-900-solid);
        --g-color-text-link: var(--g-color-private-brand-900-solid);
        --g-color-text-link-hover: var(--g-color-private-brand-1000-solid);
        --g-color-text-brand-contrast: var(--g-color-text-dark-primary);
    }
}
