@use '../../../../../styles/mixins';
@use '../../../variables';

$block: '.#{variables.$ns}pagination-page';

#{$block} {
    &__simple {
        @include mixins.text-body-1;
        display: flex;
        align-items: center;

        &_size_s {
            padding: 0 8px;
        }

        &_size_m {
            padding: 0 13px;
        }

        &_size_l {
            padding: 0 18px;
        }

        &_size_xl {
            padding: 0 21px;
        }
    }
}
