@use '../variables.scss' as v;

#{v.$containerBlock} {
    margin-inline: auto;
    max-width: 100%;
    height: 100%;

    @each $media, $breakpoint-width in v.$MEDIA_TO_BREAKPOINT_WIDTH {
        &_mw_#{$media} {
            max-width: $breakpoint-width;
        }
    }

    @each $space, $value in v.$SPACE {
        // space row - space between Row components
        &_sr_#{$space} {
            & > #{v.$rowBlock}:not(:last-child) {
                margin-bottom: $value;
            }
        }
    }
}
