@use '../variables.scss' as v;

#{v.$containerBlock} {
    margin-inline: auto;
    max-inline-size: 100%;
    block-size: 100%;

    > #{v.$rowBlock} + #{v.$rowBlock} {
        margin-block-start: var(--g-container-row-gap, 0px);
    }
}
