@use '../variables.scss' as v;

#{v.$containerBlock} {
    margin-inline: auto;
    max-width: 100%;
    height: 100%;

    @each $space, $value in v.$SPACE {
        // space row - space between Row components
        &_sr_#{$space} {
            & > #{v.$rowBlock}:not(:last-child) {
                margin-block-end: $value;
            }
        }
    }
}
