@use '../variables';

$block: '.#{variables.$ns}tree-select';

#{$block} {
    max-width: 100%;

    &_width_max {
        width: 100%;
    }

    &__popup {
        padding: 4px 0;
        border-radius: 6px;
        overflow: hidden;
    }

    &__list {
        padding: 0 4px;
    }
}
