@use '../../../../styles/lib/animation';
@import '../../variables';
@import '../../../../styles/mixins';

$block: '.#{$ns}toast';

// Function to get animation that will trigger action in `onAnimationEnd` event handler
// It always should be at the end of animations list
@function get-trailing-keyframe($keyframe, $delay) {
    // Short animation duration to make sure that onAnimationEnd would be triggered
    @return $keyframe 0.0001s forwards animation.get-timing($delay);
}

#{$block} {
    $containerClass: #{&}__container;
    $iconClass: #{&}__icon;

    --yc-toaster-padding: 16px 16px 16px 48px;

    box-sizing: border-box;
    position: absolute;
    width: inherit;
    margin-bottom: 10px;
    padding: var(--yc-toaster-padding);
    font-size: 13px;
    border-radius: 8px;
    box-shadow: 0px 0px 15px var(--yc-color-sfx-shadow);
    background-color: var(--yc-color-base-background);
    overflow: hidden;
    z-index: 0;

    &_mobile {
        width: 100%;
    }

    &_appearing {
        opacity: 0;
        height: 0;
        margin-bottom: 0;
        padding: 0;
        transition: height animation.get-timing(0.35s) ease;
    }

    &_show-animation {
        $indents-duration: 0.35s;
        $move-duration: 0.25s;

        animation: toast-set-indents animation.get-timing($indents-duration) ease forwards,
            toast-move-left animation.get-timing($move-duration) ease forwards
                animation.get-timing($indents-duration),
            get-trailing-keyframe(toast-display-end, $indents-duration + $move-duration);
    }

    &_show-animation#{&}_default {
        $indents-duration: 0.35s;
        $move-duration: 0.25s;

        animation: toast-set-symmetrical-indents animation.get-timing($indents-duration) ease
                forwards,
            toast-move-left animation.get-timing($move-duration) ease forwards
                animation.get-timing($indents-duration),
            get-trailing-keyframe(toast-display-end, $indents-duration + $move-duration);
    }

    &_show-animation#{&}_mobile {
        animation: toast-set-indents animation.get-timing(0.35s) ease forwards,
            toast-move-top animation.get-timing(0.25s) ease forwards animation.get-timing(0.35s);
    }

    &_show-animation#{&}_mobile#{&}_default {
        animation: toast-set-symmetrical-indents animation.get-timing(0.35s) ease forwards,
            toast-move-top animation.get-timing(0.25s) ease forwards animation.get-timing(0.35s);
    }

    &_hide-animation {
        $move-duration: 0.25s;
        $remove-duration: 0.35s;

        animation: toast-move-right animation.get-timing($move-duration) ease forwards,
            toast-remove-height animation.get-timing($remove-duration) ease forwards
                animation.get-timing($move-duration),
            get-trailing-keyframe(toast-hide-end, $move-duration + $remove-duration);
    }

    &_hide-animation#{&}_mobile {
        $move-duration: 0.25s;
        $remove-duration: 0.35s;

        animation: toast-move-bottom animation.get-timing($move-duration) ease forwards,
            toast-remove-height animation.get-timing($remove-duration) ease forwards
                animation.get-timing($move-duration),
            get-trailing-keyframe(toast-hide-end, $move-duration + $remove-duration);
    }

    &_created {
        position: relative;
    }

    &_default {
        --yc-toaster-padding: 16px;

        background-color: var(--yc-color-base-float);
    }

    &_info {
        & #{$containerClass}:before {
            background-color: var(--yc-color-infographics-info-light);
        }

        & #{$iconClass} {
            color: var(--yc-color-infographics-info-heavy);
        }
    }

    &_success {
        & #{$containerClass}:before {
            background-color: var(--yc-color-infographics-positive-light);
        }

        & #{$iconClass} {
            color: var(--yc-color-infographics-positive-heavy);
        }
    }

    &_warning {
        & #{$containerClass}:before {
            background-color: var(--yc-color-base-warning);
        }

        & #{$iconClass} {
            color: var(--yc-color-infographics-warning-heavy);
        }
    }

    &_error {
        & #{$containerClass}:before {
            background-color: var(--yc-color-infographics-danger-light);
        }

        & #{$iconClass} {
            color: var(--yc-color-infographics-danger-heavy);
        }
    }

    #{$containerClass} {
        display: grid;
        row-gap: 8px;
        width: 100%;
        height: 100%;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            pointer-events: none;
            z-index: -1;
        }
    }

    &__title {
        @include text-subheader-2;
        margin: 0;
        padding-right: 28px;
    }

    &__title {
        line-height: 24px;
    }

    #{$iconClass} {
        position: absolute;
        top: 16px;
        left: 16px;
    }

    &__action {
        margin-right: 8px;
    }

    & &__btn-close {
        position: absolute;
        top: 14px;
        right: 14px;
    }
}

@keyframes toast-move-right {
    from {
        transform: translateX(0);
    }

    to {
        opacity: 0;
        transform: translateX(10px);
    }
}

@keyframes toast-move-left {
    from {
        opacity: 0;
        transform: translateX(10px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes toast-display-end {
}

@keyframes toast-move-top {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes toast-move-bottom {
    from {
        transform: translateX(0);
    }

    to {
        opacity: 0;
        transform: translateY(10px);
    }
}

@keyframes toast-remove-height {
    to {
        height: 0;
        margin-bottom: 0;
        padding: 0;
    }
}

@keyframes toast-hide-end {
}

// with extra space for icon placement
@keyframes toast-set-indents {
    to {
        margin-bottom: 10px;
        padding: var(--yc-toaster-padding);
    }
}

@keyframes toast-set-symmetrical-indents {
    to {
        margin-bottom: 10px;
        padding: 16px;
    }
}
