@import '../../variables';
@import '../../../../styles/mixins';

$block: '.#{$ns}toast';

#{$block} {
    $containerClass: #{&}__container;
    $iconClass: #{&}__icon;

    box-sizing: border-box;
    position: absolute;
    width: inherit;
    margin-bottom: 10px;
    padding: 16px 16px 16px 48px;
    font-size: 13px;
    border-radius: 8px;
    box-shadow: 0px 0px 15px var(--yc-color-sfx-shadow);
    background-color: var(--yc-color-base-background);
    overflow: hidden;

    &_mobile {
        width: 100%;
    }

    &_appearing {
        opacity: 0;
        height: 0;
        margin-bottom: 0;
        padding: 0;
        transition: height 0.35s ease;
    }

    &_show-animation {
        animation: toast-set-indents 0.35s ease forwards, toast-move-left 0.25s ease forwards 0.35s;
    }

    &_show-animation#{&}_default {
        animation: toast-set-symmetrical-indents 0.35s ease forwards,
            toast-move-left 0.25s ease forwards 0.35s;
    }

    &_show-animation#{&}_mobile {
        animation: toast-set-indents 0.35s ease forwards, toast-move-top 0.25s ease forwards 0.35s;
    }

    &_show-animation#{&}_mobile#{&}_default {
        animation: toast-set-symmetrical-indents 0.35s ease forwards,
            toast-move-top 0.25s ease forwards 0.35s;
    }

    &_hide-animation {
        animation: toast-move-right 0.25s ease forwards,
            toast-remove-height 0.35s ease forwards 0.25s;
    }

    &_hide-animation#{&}_mobile {
        animation: toast-move-bottom 0.25s ease forwards,
            toast-remove-height 0.35s ease forwards 0.25s;
    }

    &_created {
        position: relative;
    }

    &_default {
        padding: 16px;
        background-color: var(--yc-color-base-float);
    }

    &_info {
        & #{$containerClass}:before {
            background-color: var(--yc-color-infographics-info-light);
        }

        & #{$iconClass} {
            color: var(--yc-color-infographics-info-heavy);
        }
    }

    &_success {
        & #{$containerClass}:before {
            background-color: var(--yc-color-infographics-positive-light);
        }

        & #{$iconClass} {
            color: var(--yc-color-infographics-positive-heavy);
        }
    }

    &_warning {
        & #{$containerClass}:before {
            background-color: var(--yc-color-base-warning);
        }

        & #{$iconClass} {
            color: var(--yc-color-infographics-warning-heavy);
        }
    }

    &_error {
        & #{$containerClass}:before {
            background-color: var(--yc-color-infographics-danger-light);
        }

        & #{$iconClass} {
            color: var(--yc-color-infographics-danger-heavy);
        }
    }

    #{$containerClass} {
        display: grid;
        row-gap: 8px;
        width: 100%;
        height: 100%;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            pointer-events: none;
            z-index: -1;
        }
    }

    &__title {
        @include text-subheader-2;
        padding-right: 28px;
    }

    &__title,
    &__action {
        line-height: 24px;
    }

    #{$iconClass} {
        position: absolute;
        top: 16px;
        left: 16px;
    }

    &__action {
        margin-right: 8px;
        color: var(--yc-color-text-link);
    }

    & &__btn-close {
        position: absolute;
        top: 14px;
        right: 14px;
    }
}

@keyframes toast-move-right {
    from {
        transform: translateX(0);
    }

    to {
        opacity: 0;
        transform: translateX(10px);
    }
}

@keyframes toast-move-left {
    from {
        opacity: 0;
        transform: translateX(10px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes toast-move-top {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes toast-move-bottom {
    from {
        transform: translateX(0);
    }

    to {
        opacity: 0;
        transform: translateY(10px);
    }
}

@keyframes toast-remove-height {
    to {
        height: 0;
        margin-bottom: 0;
        padding: 0;
    }
}

// with extra space for icon placement
@keyframes toast-set-indents {
    to {
        margin-bottom: 10px;
        padding: 16px 16px 16px 48px;
    }
}

@keyframes toast-set-symmetrical-indents {
    to {
        margin-bottom: 10px;
        padding: 16px;
    }
}
