@use '../variables';

$block: '.#{variables.$ns}avatar';

#{$block} {
    --_--size: 32px;
    --_--background-color: var(--g-color-base-misc-light);
    --_--border-color: currentColor;
    --_--color: var(--g-color-text-misc);
    --_--font-size: var(--g-text-body-1-font-size);
    --_--line-height: var(--g-text-body-1-line-height);

    overflow: hidden;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: var(--g-avatar-size, var(--_--size));
    height: var(--g-avatar-size, var(--_--size));
    border-radius: 50%;
    background-color: var(--g-avatar-background-color, var(--_--background-color));

    &__image {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__icon {
        color: var(--g-avatar-color, var(--_--color));

        & > svg {
            display: block;
        }
    }

    &__text {
        color: var(--g-avatar-color, var(--_--color));
        font-size: var(--g-avatar-font-size, var(--_--font-size));
        line-height: var(--g-avatar-line-height, var(--_--line-height));
        font-weight: 500;
    }

    &_with-border,
    &_view_outlined {
        position: relative;

        &::before,
        &::after {
            content: '';
            z-index: 1;
            position: absolute;
            inset: 0;
            border-radius: 50%;
        }

        &::before {
            border: 3px solid var(--g-color-base-background);
        }

        &::after {
            border: 2px solid var(--g-avatar-border-color, var(--_--border-color));
        }
    }

    &_size {
        &_xs {
            --_--size: 24px;
        }

        &_s {
            --_--size: 28px;
        }

        &_m {
            --_--size: 32px;
        }

        &_l {
            --_--size: 42px;
        }

        &_xl {
            --_--size: 50px;
        }

        &_xs,
        &_s {
            --_--font-size: var(--g-text-caption-1-font-size);
            --_--line-height: var(--g-text-caption-1-line-height);
        }

        &_m,
        &_l {
            --_--font-size: var(--g-text-body-1-font-size);
            --_--line-height: var(--g-text-body-1-line-height);
        }

        &_xl {
            --_--font-size: var(--g-text-body-2-font-size);
            --_--line-height: var(--g-text-body-2-line-height);
        }
    }

    &_theme {
        &_normal {
            &#{$block}_view {
                &_filled {
                    --_--background-color: var(--g-color-base-misc-light);
                    --_--color: var(--g-color-text-misc);
                }

                &_outlined {
                    --_--background-color: var(--g-color-base-background);
                    --_--border-color: var(--g-color-text-misc);
                    --_--color: var(--g-color-text-misc);
                }
            }
        }

        &_brand {
            &#{$block}_view {
                &_filled {
                    --_--background-color: var(--g-color-base-brand);
                    --_--color: var(--g-color-text-brand-contrast);
                }

                &_outlined {
                    --_--background-color: var(--g-color-base-background);
                    --_--border-color: var(--g-color-text-brand);
                    --_--color: var(--g-color-text-brand);
                }
            }
        }
    }
}
