@use '../../variables';
@use '../../../../styles/mixins';

$block: '.#{variables.$ns}lab-list-item-view';

/* ListItemView CSS API */
#{$block} {
    /* Sizes */
    --_--g-list-item-view-height: var(--g-list-item-view-height, #{variables.$m-height});
    --_--g-list-item-view-border-radius: var(
        --g-list-item-view-border-radius,
        var(--g-border-radius-m)
    );
    --_--g-list-item-view-padding-inline: var(
        --g-list-item-view-padding-inline,
        var(--g-spacing-2)
    );
    --_--g-list-item-view-padding-block: var(--g-list-item-view-padding-block, var(--g-spacing-1));
    --_--g-list-item-view-line-height: var(--g-list-item-view-line-height, 18px);

    --_--g-list-item-view-controls-gap: var(--g-list-item-view-controls-gap, var(--g-spacing-1));
    --_--g-list-item-view-controls-size: var(
        --g-list-item-view-controls-size,
        #{variables.$s-height}
    );
    --_--g-list-item-view-controls-border-radius: var(
        --g-list-item-view-controls-border-radius,
        var(--g-border-radius-s)
    );
    --_--g-list-item-view-controls-icon-size: var(--g-list-item-view-controls-icon-size, 16px);
    --_--g-list-item-view-spacer-size: var(
        --g-list-item-view-spacer-size,
        var(--_--g-list-item-view-controls-size)
    );

    /* Colors */
    --_--g-list-item-view-background: var(--g-list-item-view-background, var(--g-color-base-fill));
    --_--g-list-item-view-background-hover: var(
        --g-list-item-view-background-hover,
        var(--g-color-base-simple-hover)
    );
    --_--g-list-item-view-background-disabled: var(
        --g-list-item-view-background-disabled,
        var(--g-color-base-fill)
    );
    --_--g-list-item-view-background-selected: var(
        --g-list-item-view-background-selected,
        var(--g-color-base-selection)
    );
    --_--g-list-item-view-background-selected-hover: var(
        --g-list-item-view-background-selected-hover,
        var(--g-color-base-selection-hover)
    );
    --_--g-list-item-view-focus-outline-width: var(--g-list-item-view-focus-outline-width, 2px);
    --_--g-list-item-view-focus-outline-style: var(--g-list-item-view-focus-outline-style, solid);
    --_--g-list-item-view-focus-outline-color: var(
        --g-list-item-view-focus-outline-color,
        var(--g-color-line-focus)
    );
    --_--g-list-item-view-focus-outline-offset: var(--g-list-item-view-focus-outline-offset, 0);
    --_--g-list-item-view-color: var(--g-list-item-view-color, var(--g-color-text-primary));
    --_--g-list-item-view-color-description: var(--g-color-text-secondary);
    --_--g-list-item-view-color-disabled: var(
        --g-list-item-view-color-disabled,
        var(--g-color-text-hint)
    );
    --_--g-list-item-view-nested-level: var(--g-list-item-view-nested-level, 0);
}

#{$block} {
    display: grid;
    box-sizing: border-box;
    grid-template:
        'drag-handle spacer collapsed-toggle checked start-content content     end-content' 1fr
        'drag-handle spacer collapsed-toggle checked start-content description end-content' auto
        / auto auto auto auto auto 1fr auto;
    align-items: center;
    min-height: calc(
        var(--_--g-list-item-view-height) + var(--_--g-list-item-view-description-height, 0px)
    );
    border-radius: var(--_--g-list-item-view-border-radius);
    background: var(--_--g-list-item-view-background);
    color: var(--_--g-list-item-view-color);

    padding-inline: var(--_--g-list-item-view-padding-inline);
    padding-block: var(--_--g-list-item-view-padding-block);
    outline: none;

    @include mixins.text-body-1;

    &:focus-visible {
        outline: var(--_--g-list-item-view-focus-outline-width)
            var(--_--g-list-item-view-focus-outline-style)
            var(--_--g-list-item-view-focus-outline-color);
        outline-offset: var(--_--g-list-item-view-focus-outline-offset);
        --_--g-list-item-view-background: var(--_--g-list-item-view-background-hover);
    }

    &_has-description {
        --_--g-list-item-view-description-height: 16px;
    }

    &__slot {
        &:not(&_name_spacer) + &:not(&_name_description, &_name_spacer),
        &:not(&_name_spacer) + & + &_name_description {
            margin-inline-start: var(--_--g-list-item-view-controls-gap);
        }

        display: flex;
        justify-content: center;
        align-items: center;
        gap: var(--_--g-list-item-view-controls-gap);
        margin-block: calc(-1 * var(--_--g-list-item-view-padding-block));

        &_name {
            &_drag-handle {
                grid-area: drag-handle;
                --g-button-height: var(--_--g-list-item-view-controls-size);
                --g-button-border-radius: var(--_--g-list-item-view-controls-border-radius);
                --g-button-background-color-hover: transparent;
            }

            &_spacer {
                grid-area: spacer;
                width: calc(
                    var(--_--g-list-item-view-spacer-size) * var(--_--g-list-item-view-nested-level)
                );
                height: var(--_--g-list-item-view-controls-size);
            }

            &_collapsed-toggle {
                grid-area: collapsed-toggle;
                --g-button-height: var(--_--g-list-item-view-controls-size);
                --g-button-border-radius: var(--_--g-list-item-view-controls-border-radius);
                --g-button-background-color-hover: transparent;
            }

            &_checked {
                grid-area: checked;
            }

            &_start-content {
                grid-area: start-content;
                height: 100%;
            }

            &_content {
                grid-area: content;
                justify-content: flex-start;
                overflow: hidden;
                min-width: 3ch;
                line-height: var(--_--g-list-item-view-line-height);
                margin-block: 0;
            }

            &_description {
                grid-area: description;
                justify-content: flex-start;
                overflow: hidden;
                min-width: 3ch;
                color: var(--_--g-list-item-view-color-description);
                line-height: var(--_--g-list-item-view-line-height);
                margin-block: 0;
            }

            &_end-content {
                grid-area: end-content;
                height: 100%;
            }

            &_container {
                grid-row: 1 / -1;
                grid-column: 1 / -1;
            }
        }
    }

    &_size {
        &_s {
            --_--g-list-item-view-height: #{variables.$s-height};
            --_--g-list-item-view-border-radius: var(--g-border-radius-s);
            --_--g-list-item-view-padding-inline: var(--g-spacing-2);
            --_--g-list-item-view-padding-block: var(--g-spacing-half);

            --_--g-list-item-view-controls-gap: var(--g-spacing-2);
            --_--g-list-item-view-controls-size: #{variables.$xs-height};
            --_--g-list-item-view-controls-border-radius: var(--g-border-radius-xs);
            --_--g-list-item-view-controls-icon-size: 12px;
        }

        &_m {
            --_--g-list-item-view-height: #{variables.$m-height};
            --_--g-list-item-view-border-radius: var(--g-border-radius-m);
            --_--g-list-item-view-padding-inline: var(--g-spacing-2);
            --_--g-list-item-view-padding-block: var(--g-spacing-1);

            --_--g-list-item-view-controls-gap: var(--g-spacing-2);
            --_--g-list-item-view-controls-size: #{variables.$s-height};
            --_--g-list-item-view-controls-border-radius: var(--g-border-radius-s);
            --_--g-list-item-view-controls-icon-size: 16px;
        }

        &_l {
            --_--g-list-item-view-height: #{variables.$l-height};
            --_--g-list-item-view-border-radius: var(--g-border-radius-l);
            --_--g-list-item-view-padding-inline: var(--g-spacing-2);
            --_--g-list-item-view-padding-block: var(--g-spacing-2)
                --_--g-list-item-view-controls-gap: var(--g-spacing-2);
            --_--g-list-item-view-controls-size: #{variables.$m-height};
            --_--g-list-item-view-controls-border-radius: var(--g-border-radius-m);
            --_--g-list-item-view-controls-icon-size: 16px;
        }

        &_xl {
            --_--g-list-item-view-height: #{variables.$xl-height};
            --_--g-list-item-view-border-radius: var(--g-border-radius-xl);
            --_--g-list-item-view-padding-inline: var(--g-spacing-2);
            --_--g-list-item-view-padding-block: var(--g-spacing-3);

            --_--g-list-item-view-controls-gap: var(--g-spacing-2);
            --_--g-list-item-view-controls-size: #{variables.$l-height};
            --_--g-list-item-view-controls-border-radius: var(--g-border-radius-l);
            --_--g-list-item-view-controls-icon-size: 16px;

            @include mixins.text-body-2;
        }
    }

    &_is-container {
        --_--g-list-item-view-padding-inline: 0;
        --_--g-list-item-view-padding-block: 0;
    }

    &:hover {
        --_--g-list-item-view-background: var(--_--g-list-item-view-background-hover);
    }

    &_selected {
        --_--g-list-item-view-background: var(--_--g-list-item-view-background-selected);
        --_--g-list-item-view-background-hover: var(
            --_--g-list-item-view-background-selected-hover
        );
    }

    &_active {
        --_--g-list-item-view-background: var(--_--g-list-item-view-background-hover);
    }

    &_disabled {
        &,
        &:hover,
        &:focus {
            --_--g-list-item-view-background: var(--_--g-list-item-view-background-disabled);
            --_--g-list-item-view-color: var(--_--g-list-item-view-color-disabled);
            --_--g-list-item-view-color-description: var(--_--g-list-item-view-color-disabled);
            outline: none;
        }
    }

    &__arrow {
        &_direction {
            &_bottom {
                transform: rotate(0);
            }
            &_top {
                transform: rotate(-180deg);
            }
        }
    }

    &__checked {
        display: flex;
        justify-content: center;
        align-items: center;

        width: var(--_--g-list-item-view-controls-size);
        height: var(--_--g-list-item-view-controls-size);
        color: var(--g-color-base-brand);
    }

    &__icon {
        width: var(--_--g-list-item-view-controls-icon-size);
        height: var(--_--g-list-item-view-controls-icon-size);
    }
}
