@use '../variables';

$block: '.#{variables.$ns}breadcrumbs';

#{$block} {
    &__inner {
        display: inline-flex;
        align-items: center;
        width: 100%;
        min-height: 24px;
        overflow: hidden;
    }

    &__item {
        flex-shrink: 1;
        padding: 4px 8px;
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        &_current {
            padding: 0 8px;
        }

        &_more {
            vertical-align: top;
            cursor: pointer;
        }
    }

    &_calculated_no {
        #{$block}__item {
            overflow: visible;
        }
    }

    &__divider {
        display: flex;
        align-items: center;
        color: var(--g-color-text-secondary);
    }

    &__popup_staircase {
        $menu: '.#{variables.$ns}menu';
        $staircaseLength: 10;
        #{$menu} {
            #{$menu}__list-item {
                #{$menu}__item {
                    /* stylelint-disable declaration-no-important */
                    padding-left: 8px * $staircaseLength !important;
                    /* stylelint-enable declaration-no-important */
                }
            }

            @for $i from 0 through $staircaseLength {
                #{$menu}__list-item:nth-child(#{$i}) {
                    #{$menu}__item {
                        /* stylelint-disable declaration-no-important */
                        padding-left: 8px * $i !important;
                        /* stylelint-enable declaration-no-important */
                    }
                }
            }
        }
    }
}
