@use '../../../../../styles/mixins';
@use '../../../variables';

$block: '.#{variables.$ns}outer-additional-content';

#{$block} {
    display: flex;
    justify-content: space-between;
    vertical-align: top;

    &__note,
    &__error {
        @include mixins.text-body-1();
        margin-block-start: 2px;
    }

    &__error {
        color: var(--g-color-text-danger);

        &:not(:last-child) {
            margin-inline-end: var(--g-spacing-2);
        }
    }

    &__note {
        margin-inline-start: auto;
    }
}
