@use '../variables';

$block: '.#{variables.$ns}tooltip';

#{$block} {
    &__popup-content {
        // prevent glitch between two nearby tooltip refs
        pointer-events: none;

        // [class] for increasing specificity
        &[class] {
            --yc-popup-border-width: 0;
            --yc-popup-background-color: var(--g-color-base-float-heavy);
        }
    }

    &__content {
        padding: 6px 12px;
        color: var(--g-color-text-light-primary);
    }
}
