@use '../variables';

$block: '.#{variables.$ns}tooltip';

#{$block} {
    // [class] for increasing specificity
    &[class] {
        --g-popup-border-width: 0;
        --g-popup-background-color: var(--g-color-base-float);

        > div {
            padding: 4px 8px;
            max-width: 360px;
            box-sizing: border-box;
            box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.15);
        }
    }

    &__popup-content {
        // prevent glitch between two nearby tooltip refs
        pointer-events: none;
    }

    &__content {
        // -webkit-line-clamp will not work without display: -webkit-box;
        /* stylelint-disable-next-line */
        display: -webkit-box;

        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        -ms-box-orient: vertical;

        -webkit-line-clamp: 20;
        -moz-line-clamp: 20;
        -ms-line-clamp: 20;

        overflow: hidden;
        text-overflow: ellipsis;

        color: var(--g-color-text-complementary);
    }
}
