@use '../variables.scss' as v;

#{v.$colBlock} {
    // Unsized columns occupy a full row.
    grid-column: span 12;
    min-inline-size: 0;

    @for $size from 1 through 12 {
        &_size_#{$size} {
            grid-column: span #{$size};
        }
    }
}
