@use '../variables.scss' as v;

#{v.$colBlock} {
    // by default col takes all available space
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;

    @each $media, $_ in v.$MEDIA_TO_BREAKPOINT_WIDTH {
        @each $size, $value in v.$COL_SIZE {
            @include v.use-media($media) {
                &_s-#{$media}_#{$size} {
                    box-sizing: border-box;
                    flex-grow: 0;
                    flex-basis: $value;
                    max-width: $value;
                }
            }
        }
    }
}
