@use '../variables';

$block: '.#{variables.$ns}changelog-dialog';
$width: 732px;
$maxItemsHeight: 70vh;

#{$block} {
    width: $width;

    &__full-list-link-icon {
        margin-inline-start: 4px;
        vertical-align: middle;
    }

    &__items-container {
        max-height: $maxItemsHeight;
        overflow-y: auto;
        margin-bottom: 20px;

        #{$block}__item:last-child {
            margin-bottom: 0;
        }
    }

    &__item {
        margin-bottom: 32px;
    }

    &__empty-placeholder {
        color: var(--yc-color-text-secondary);
        text-align: center;
    }
}
