@font-face {
    font-family: 'YS Display';
    src: url('https://yastatic.net/s3/home/fonts/ys/1/display-thin.woff2') format('woff2'),
        url('https://yastatic.net/s3/home/fonts/ys/1/display-thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'YS Display';
    src: url('https://yastatic.net/s3/home/fonts/ys/1/display-light.woff2') format('woff2'),
        url('https://yastatic.net/s3/home/fonts/ys/1/display-light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'YS Display';
    src: url('https://yastatic.net/s3/home/fonts/ys/1/display-regular.woff2') format('woff2'),
        url('https://yastatic.net/s3/home/fonts/ys/1/display-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'YS Display';
    src: url('https://yastatic.net/s3/home/fonts/ys/1/display-medium.woff2') format('woff2'),
        url('https://yastatic.net/s3/home/fonts/ys/1/display-medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'YS Display';
    src: url('https://yastatic.net/s3/home/fonts/ys/1/display-bold.woff2') format('woff2'),
        url('https://yastatic.net/s3/home/fonts/ys/1/display-bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'YS Display';
    src: url('https://yastatic.net/s3/home/fonts/ys/1/display-heavy.woff2') format('woff2'),
        url('https://yastatic.net/s3/home/fonts/ys/1/display-heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'YS Text';
    src: url('https://yastatic.net/s3/home/fonts/ys/1/text-light.woff2') format('woff2'),
        url('https://yastatic.net/s3/home/fonts/ys/1/text-light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'YS Text';
    src: url('https://yastatic.net/s3/home/fonts/ys/1/text-light-italic.woff2') format('woff2'),
        url('https://yastatic.net/s3/home/fonts/ys/1/text-light-italic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'YS Text';
    src: url('https://yastatic.net/s3/home/fonts/ys/1/text-regular.woff2') format('woff2'),
        url('https://yastatic.net/s3/home/fonts/ys/1/text-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'YS Text';
    src: url('https://yastatic.net/s3/home/fonts/ys/1/text-regular-italic.woff2') format('woff2'),
        url('https://yastatic.net/s3/home/fonts/ys/1/text-regular-italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'YS Text';
    src: url('https://yastatic.net/s3/home/fonts/ys/1/text-medium.woff2') format('woff2'),
        url('https://yastatic.net/s3/home/fonts/ys/1/text-medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'YS Text';
    src: url('https://yastatic.net/s3/home/fonts/ys/1/text-medium-italic.woff2') format('woff2'),
        url('https://yastatic.net/s3/home/fonts/ys/1/text-medium-italic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'YS Text';
    src: url('https://yastatic.net/s3/home/fonts/ys/1/text-bold.woff2') format('woff2'),
        url('https://yastatic.net/s3/home/fonts/ys/1/text-bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'YS Text';
    src: url('https://yastatic.net/s3/home/fonts/ys/1/text-bold-italic.woff2') format('woff2'),
        url('https://yastatic.net/s3/home/fonts/ys/1/text-bold-italic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}
