@import './themes';

.yc-root {
    background: var(--yc-color-base-background);
    color: var(--yc-color-text-primary);

    &_theme_light {
        @include g-theme-light;
    }

    &_theme_dark {
        @include g-theme-dark;
    }

    &_theme_light-hc {
        @include g-theme-light-hc;
    }

    &_theme_dark-hc {
        @include g-theme-dark-hc;
    }
}

body.yc-root:not(.yc-root_mobile):not(.yc-root_native-scrollbar) {
    &::-webkit-scrollbar,
    *::-webkit-scrollbar {
        width: var(--yc-scrollbar-width);
        height: var(--yc-scrollbar-width);
        background: var(--yc-color-scroll-track);
    }

    &::-webkit-scrollbar-track,
    *::-webkit-scrollbar-track {
        background: var(--yc-color-scroll-track);
    }

    &::-webkit-scrollbar-corner,
    *::-webkit-scrollbar-corner {
        background: var(--yc-color-scroll-corner);
    }

    &::-webkit-scrollbar-thumb,
    *::-webkit-scrollbar-thumb {
        background: var(--yc-color-scroll-handle);
    }

    &::-webkit-scrollbar-thumb:hover,
    *::-webkit-scrollbar-thumb:hover {
        background: var(--yc-color-scroll-handle-hover);
    }

    // stylelint-disable-next-line property-no-unknown
    scrollbar-width: var(--yc-scrollbar-width);
    // stylelint-disable-next-line property-no-unknown
    scrollbar-color: var(--yc-color-scroll-handle) var(--yc-color-scroll-track);
}

@keyframes yc-loading-animation {
    from {
        background-position: -12px 0;
    }
    to {
        background-position: 0 0;
    }
}
