@import './colors/private/dark.scss';
@import './colors/private/light.scss';
@import './colors/text/dark.scss';
@import './colors/text/light.scss';
@import './colors/base/dark.scss';
@import './colors/base/light.scss';
@import './colors/line/dark.scss';
@import './colors/line/light.scss';
@import './colors/infographics/dark.scss';
@import './colors/infographics/light.scss';
@import './colors/sfx/dark.scss';
@import './colors/sfx/light.scss';
@import './colors/promo/dark.scss';
@import './colors/promo/light.scss';
@import './colors/social.scss';
@import './colors/system.scss';

.yc-root {
    --yc-font-family: 'YS Text', 'Helvetica Neue', 'Arial', 'Helvetica', sans-serif;
    --yc-font-family-monospace: 'SF Mono', 'Menlo', 'Monaco', 'Consolas', 'Ubuntu Mono',
        'Liberation Mono', 'DejaVu Sans Mono', 'Courier New', 'Courier', monospace;
    --yc-font-family-sans: var(--yc-font-family);

    --yc-text-body-font-size: 13px;
    --yc-text-body-line-height: 16px;

    --yc-text-body2-font-size: 15px;
    --yc-text-body2-line-height: 20px;

    --yc-text-body3-font-size: 17px;
    --yc-text-body3-line-height: 24px;

    // deprecated
    --yc-text-lead-font-size: 18px;
    --yc-text-lead-line-height: 24px;

    --yc-text-header-font-size: 20px;
    --yc-text-header-line-height: 24px;

    --yc-text-title-font-size: 24px;
    --yc-text-title-line-height: 28px;

    --yc-text-display1-font-size: 28px;
    --yc-text-display1-line-height: 36px;

    --yc-text-display2-font-size: 32px;
    --yc-text-display2-line-height: 40px;

    --yc-text-display3-font-size: 40px;
    --yc-text-display3-line-height: 48px;

    --yc-text-code-font-family: var(--yc-font-family-monospace);
    --yc-text-code-font-weight: 400;

    --yc-text-code-3-font-size: 16px;
    --yc-text-code-3-line-height: 24px;

    --yc-text-code-2-font-size: 14px;
    --yc-text-code-2-line-height: 20px;

    --yc-text-code-1-font-size: 12px;
    --yc-text-code-1-line-height: 18px;

    --yc-text-code-3-inline-font-size: 16px;
    --yc-text-code-3-inline-line-height: 20px;

    --yc-text-code-2-inline-font-size: 14px;
    --yc-text-code-2-inline-line-height: 16px;

    --yc-text-code-1-inline-font-size: 12px;
    --yc-text-code-1-inline-line-height: 14px;

    // deprecated
    --yc-text-code-font-size: 13px;
    --yc-text-code-line-height: 18px;

    --yc-scrollbar-width: 12px;

    font-family: var(--yc-font-family);
    font-size: var(--yc-text-body-font-size);
    line-height: var(--yc-text-body-line-height);

    @include yc-colors-social;

    &_theme_light {
        @include yc-colors-private-light;
        @include yc-colors-text-light;
        @include yc-colors-base-light;
        @include yc-colors-line-light;
        @include yc-colors-infographics-light;
        @include yc-colors-sfx-light;
        @include yc-colors-promo-light;
        @include yc-colors-system-light;

        background: var(--yc-color-base-background);
        color: var(--yc-color-text-primary);
    }

    &_theme_dark {
        @include yc-colors-private-dark;
        @include yc-colors-text-dark;
        @include yc-colors-base-dark;
        @include yc-colors-line-dark;
        @include yc-colors-infographics-dark;
        @include yc-colors-sfx-dark;
        @include yc-colors-promo-dark;
        @include yc-colors-system-dark;

        background: var(--yc-color-base-background);
        color: var(--yc-color-text-primary);
    }
}

body.yc-root {
    &::-webkit-scrollbar,
    *::-webkit-scrollbar {
        width: var(--yc-scrollbar-width);
        height: var(--yc-scrollbar-width);
        background: var(--yc-color-scroll-track);
    }

    &::-webkit-scrollbar-track,
    *::-webkit-scrollbar-track {
        background: var(--yc-color-scroll-track);
    }

    &::-webkit-scrollbar-corner,
    *::-webkit-scrollbar-corner {
        background: var(--yc-color-scroll-corner);
    }

    &::-webkit-scrollbar-thumb,
    *::-webkit-scrollbar-thumb {
        background: var(--yc-color-scroll-handle);
    }

    &::-webkit-scrollbar-thumb:hover,
    *::-webkit-scrollbar-thumb:hover {
        background: var(--yc-color-scroll-handle-hover);
    }

    // stylelint-disable-next-line property-no-unknown
    scrollbar-width: var(--yc-scrollbar-width);
    // stylelint-disable-next-line property-no-unknown
    scrollbar-color: var(--yc-color-scroll-handle) var(--yc-color-scroll-track);
}
