@use '../../variables';

$block: '.#{variables.$ns}popover-demo';

#{$block} {
    height: 100%;

    &__content {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        flex-direction: column;
    }

    &__example-content {
        border: 4px solid var(--yc-color-promo-text-tomato);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 320px;
        padding: 15px;

        &-title {
            color: var(--yc-color-promo-text-tomato);
            margin: 0;
        }

        &-text {
            margin: 0;
        }

        &-title + &-text {
            margin-top: 15px;
        }
    }

    &__content-class {
        outline: 1px solid var(--yc-color-promo-text-sky);
    }
}
