@use '../variables';
@use '../../../styles/mixins';

$block: '.#{variables.$ns}accordion';

#{$block} {
    box-sizing: border-box;
    border: 1px solid var(--g-color-line-generic);
    height: fit-content;

    &_size_m {
        border-radius: var(--g-border-radius-m);
    }

    &_size_l {
        border-radius: var(--g-border-radius-l);
    }

    &_size_xl {
        border-radius: var(--g-border-radius-xl);
    }

    &_view_top-bottom {
        border-radius: 0;
        border-inline-start: 0;
        border-inline-end: 0;
    }
}
