@use '../variables';
@use '../../../styles/mixins';

$block: '.#{variables.$ns}link';

#{$block} {
    text-decoration: none;
    touch-action: manipulation;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    border-radius: 2px;

    &:focus {
        outline: 2px solid var(--g-color-line-focus);
    }

    &:focus:not(:focus-visible) {
        outline: 0;
    }

    &_view_normal,
    &_view_normal-visitable {
        color: var(--g-color-text-link);
    }

    &_view_primary {
        color: var(--g-color-text-primary);
    }

    &_view_secondary {
        color: var(--g-color-text-secondary);
    }

    &_view_normal,
    &_view_primary,
    &_view_secondary {
        &:hover {
            color: var(--g-color-text-link-hover);
        }
    }

    &_visitable,
    &_view_normal-visitable {
        &:visited {
            color: var(--g-color-text-link-visited);
        }

        &:visited:hover {
            color: var(--g-color-text-link-visited-hover);
        }
    }
}
