@mixin g-colors-infographics-dark-hc {
    --yc-color-infographics-info-light: var(--g-color-private-blue-150);
    --yc-color-infographics-positive-light: var(--g-color-private-green-150);
    --yc-color-infographics-warning-light: var(--g-color-private-orange-150);
    --yc-color-infographics-danger-light: var(--g-color-private-red-150);
    --yc-color-infographics-misc-light: var(--g-color-private-cool-grey-150);
    --yc-color-infographics-neutral-light: var(--g-color-private-white-150);

    --yc-color-infographics-info-medium: var(--g-color-private-blue-300);
    --yc-color-infographics-positive-medium: var(--g-color-private-green-300);
    --yc-color-infographics-warning-medium: var(--g-color-private-orange-300);
    --yc-color-infographics-danger-medium: var(--g-color-private-red-300);
    --yc-color-infographics-misc-medium: var(--g-color-private-cool-grey-300);
    --yc-color-infographics-neutral-medium: var(--g-color-private-white-150);

    --yc-color-infographics-info-heavy: var(--g-color-private-blue-550-solid);
    --yc-color-infographics-positive-heavy: var(--g-color-private-green-550);
    --yc-color-infographics-warning-heavy: var(--g-color-private-yellow-550);
    --yc-color-infographics-danger-heavy: var(--g-color-private-red-550);
    --yc-color-infographics-misc-heavy: var(--g-color-private-cool-grey-550);
    --yc-color-infographics-neutral-heavy: var(--g-color-private-white-300);

    --yc-color-infographics-axis: var(--g-color-private-white-150-solid);

    --yc-color-infographics-tooltip-bg: var(--g-color-private-white-opaque-150);
}
