@mixin g-colors-line-dark-hc {
    --g-color-line-generic: var(--g-color-private-white-150);
    --g-color-line-generic-hover: var(--g-color-private-white-250);
    --g-color-line-generic-active: var(--g-color-private-white-600);
    --g-color-line-generic-accent: var(--g-color-private-white-350);
    --g-color-line-generic-accent-hover: var(--g-color-private-white-800);
    --g-color-line-generic-solid: var(--g-color-private-white-150-solid);

    --g-color-line-brand: var(--g-color-private-yellow-600-solid);
    --g-color-line-focus: var(--g-color-private-cool-grey-550-solid);
    --g-color-line-light: var(--g-color-private-white-500);

    --g-color-line-info: var(--g-color-private-blue-550-solid);
    --g-color-line-positive: var(--g-color-private-green-550-solid);
    --g-color-line-warning: var(--g-color-private-yellow-550-solid);
    --g-color-line-danger: var(--g-color-private-red-550-solid);
    --g-color-line-utility: var(--g-color-private-purple-550-solid);
    --g-color-line-misc: var(--g-color-private-cool-grey-550-solid);
}
