@mixin yc-colors-line-dark-hc {
    --g-color-line-generic: var(--yc-color-private-white-150);
    --g-color-line-generic-hover: var(--yc-color-private-white-250);
    --g-color-line-generic-active: var(--yc-color-private-white-600);
    --g-color-line-generic-accent: var(--yc-color-private-white-350);
    --g-color-line-generic-accent-hover: var(--yc-color-private-white-800);

    --g-color-line-solid: var(--yc-color-private-white-150-solid);
    --g-color-line-selection-hover: var(--yc-color-brand-light);
    --g-color-line-selection-active: var(--yc-color-brand-normal);
    --g-color-line-link: var(--yc-color-brand-normal);
    --g-color-line-info: var(--yc-color-private-blue-550);
    --g-color-line-positive: var(--yc-color-private-green-550);
    --g-color-line-warning: var(--yc-color-private-yellow-100);
    --g-color-line-danger: var(--yc-color-private-red-550);
    --g-color-line-misc: var(--yc-color-private-cool-grey-550);
    --g-color-line-hint: var(--yc-color-private-blue-550);
    --g-color-line-light: var(--yc-color-private-white-500);
}
