@mixin g-colors-private-dark-hc {
    --g-color-private-white-50: rgba(255, 255, 255, 0.05);
    --g-color-private-white-70: rgba(255, 255, 255, 0.07);
    --g-color-private-white-100: rgba(255, 255, 255, 0.1);
    --g-color-private-white-150: rgba(255, 255, 255, 0.15);
    --g-color-private-white-200: rgba(255, 255, 255, 0.2);
    --g-color-private-white-250: rgba(255, 255, 255, 0.25);
    --g-color-private-white-300: rgba(255, 255, 255, 0.3);
    --g-color-private-white-350: rgba(255, 255, 255, 0.35);
    --g-color-private-white-400: rgba(255, 255, 255, 0.4);
    --g-color-private-white-450: rgba(255, 255, 255, 0.45);
    --g-color-private-white-500: rgba(255, 255, 255, 0.5);
    --g-color-private-white-550: rgba(255, 255, 255, 0.55);
    --g-color-private-white-600: rgba(255, 255, 255, 0.6);
    --g-color-private-white-650: rgba(255, 255, 255, 0.65);
    --g-color-private-white-700: rgba(255, 255, 255, 0.7);
    --g-color-private-white-750: rgba(255, 255, 255, 0.75);
    --g-color-private-white-800: rgba(255, 255, 255, 0.8);
    --g-color-private-white-850: rgba(255, 255, 255, 0.85);
    --g-color-private-white-900: rgba(255, 255, 255, 0.9);
    --g-color-private-white-950: rgba(255, 255, 255, 0.95);

    /*————————— To review opaque —————————*/
    --g-color-private-white-opaque-150: rgba(56, 57, 60, 0.97);

    --g-color-private-black-20: rgba(0, 0, 0, 0.02);
    --g-color-private-black-50: rgba(0, 0, 0, 0.05);
    --g-color-private-black-100: rgba(0, 0, 0, 0.1);
    --g-color-private-black-150: rgba(0, 0, 0, 0.15);
    --g-color-private-black-200: rgba(0, 0, 0, 0.2);
    --g-color-private-black-250: rgba(0, 0, 0, 0.25);
    --g-color-private-black-300: rgba(0, 0, 0, 0.3);
    --g-color-private-black-350: rgba(0, 0, 0, 0.35);
    --g-color-private-black-400: rgba(0, 0, 0, 0.4);
    --g-color-private-black-450: rgba(0, 0, 0, 0.45);
    --g-color-private-black-500: rgba(0, 0, 0, 0.5);
    --g-color-private-black-550: rgba(0, 0, 0, 0.55);
    --g-color-private-black-600: rgba(0, 0, 0, 0.6);
    --g-color-private-black-650: rgba(0, 0, 0, 0.65);
    --g-color-private-black-700: rgba(0, 0, 0, 0.7);
    --g-color-private-black-750: rgba(0, 0, 0, 0.75);
    --g-color-private-black-800: rgba(0, 0, 0, 0.8);
    --g-color-private-black-850: rgba(0, 0, 0, 0.85);
    --g-color-private-black-900: rgba(0, 0, 0, 0.9);
    --g-color-private-black-950: rgba(0, 0, 0, 0.95);
    --g-color-private-black-1000: rgba(0, 0, 0, 1);

    --g-color-private-black-rock-850: #2d2c33;
    --g-color-private-black-rock-950: rgba(34, 35, 38, 1);

    /*————————— To review 20-solid  —> should be deleted  —————————*/
    --g-color-private-white-20-solid: rgba(38, 39, 42, 1);

    --g-color-private-white-50-solid: rgba(45, 46, 49, 1);
    --g-color-private-white-100-solid: rgba(56, 57, 60, 1);
    --g-color-private-white-150-solid: rgba(67, 68, 71, 1);
    --g-color-private-white-200-solid: rgba(78, 79, 81, 1);
    --g-color-private-white-250-solid: rgba(89, 90, 92, 1);
    --g-color-private-white-300-solid: rgba(100, 101, 103, 1);
    --g-color-private-white-350-solid: rgba(111, 112, 114, 1);
    --g-color-private-white-400-solid: rgba(122, 123, 125, 1);
    --g-color-private-white-450-solid: rgba(133, 134, 136, 1);
    --g-color-private-white-500-solid: rgba(144, 145, 147, 1);
    --g-color-private-white-550-solid: rgba(156, 156, 157, 1);
    --g-color-private-white-600-solid: rgba(167, 167, 168, 1);
    --g-color-private-white-650-solid: rgba(178, 178, 179, 1);
    --g-color-private-white-700-solid: rgba(189, 189, 190, 1);
    --g-color-private-white-750-solid: rgba(200, 200, 201, 1);
    --g-color-private-white-800-solid: rgba(211, 211, 212, 1);
    --g-color-private-white-850-solid: rgba(222, 222, 223, 1);
    --g-color-private-white-900-solid: rgba(233, 233, 233, 1);
    --g-color-private-white-950-solid: rgba(244, 244, 244, 1);
    --g-color-private-white-1000-solid: rgba(255, 255, 255, 1);

    --g-color-private-blue-50: rgba(98, 146, 255, 0.05);
    --g-color-private-blue-100: rgba(98, 146, 255, 0.1);
    --g-color-private-blue-150: rgba(98, 146, 255, 0.2);
    --g-color-private-blue-200: rgba(98, 146, 255, 0.3);
    --g-color-private-blue-250: rgba(98, 146, 255, 0.5);
    --g-color-private-blue-300: rgba(98, 146, 255, 0.5);
    --g-color-private-blue-350: rgba(98, 146, 255, 0.6);
    --g-color-private-blue-400: rgba(98, 146, 255, 0.7);
    --g-color-private-blue-450: rgba(98, 146, 255, 0.8);
    --g-color-private-blue-500: rgba(98, 146, 255, 0.9);
    --g-color-private-blue-550: rgba(98, 146, 255, 1);
    --g-color-private-blue-700: rgba(145, 179, 255, 1);
    --g-color-private-blue-850: rgba(192, 211, 255, 1);

    --g-color-private-blue-50-solid: rgba(37, 41, 49, 1);
    --g-color-private-blue-100-solid: rgba(40, 46, 60, 1);
    --g-color-private-blue-150-solid: rgba(47, 57, 81, 1);
    --g-color-private-blue-200-solid: rgba(53, 68, 103, 1);
    --g-color-private-blue-250-solid: rgba(60, 79, 125, 1);
    --g-color-private-blue-300-solid: rgba(66, 91, 147, 1);
    --g-color-private-blue-350-solid: rgba(72, 102, 168, 1);
    --g-color-private-blue-400-solid: rgba(79, 113, 190, 1);
    --g-color-private-blue-450-solid: rgba(85, 124, 212, 1);
    --g-color-private-blue-500-solid: rgba(92, 135, 233, 1);
    --g-color-private-blue-550-solid: rgba(98, 146, 255, 1);
    --g-color-private-blue-600-solid: rgba(114, 157, 255, 1);
    --g-color-private-blue-650-solid: rgba(129, 168, 255, 1);
    --g-color-private-blue-700-solid: rgba(145, 179, 255, 1);
    --g-color-private-blue-750-solid: rgba(161, 190, 255, 1);
    --g-color-private-blue-800-solid: rgba(177, 200, 255, 1);
    --g-color-private-blue-850-solid: rgba(192, 211, 255, 1);
    --g-color-private-blue-900-solid: rgba(208, 222, 255, 1);
    --g-color-private-blue-950-solid: rgba(223, 233, 255, 1);
    --g-color-private-blue-1000-solid: rgba(239, 244, 255, 1);

    --g-color-private-green-50: rgba(91, 181, 87, 0.05);
    --g-color-private-green-100: rgba(91, 181, 87, 0.1);
    --g-color-private-green-150: rgba(91, 181, 87, 0.2);
    --g-color-private-green-200: rgba(91, 181, 87, 0.3);
    --g-color-private-green-250: rgba(91, 181, 87, 0.4);
    --g-color-private-green-300: rgba(91, 181, 87, 0.5);
    --g-color-private-green-350: rgba(91, 181, 87, 0.6);
    --g-color-private-green-400: rgba(91, 181, 87, 0.7);
    --g-color-private-green-450: rgba(91, 181, 87, 0.8);
    --g-color-private-green-500: rgba(91, 181, 87, 0.9);
    --g-color-private-green-550: rgba(91, 181, 87, 1);

    --g-color-private-green-50-solid: rgba(37, 42, 40, 1);
    --g-color-private-green-100-solid: rgba(40, 50, 43, 1);
    --g-color-private-green-150-solid: rgba(45, 64, 48, 1);
    --g-color-private-green-200-solid: rgba(51, 79, 53, 1);
    --g-color-private-green-250-solid: rgba(57, 93, 58, 1);
    --g-color-private-green-300-solid: rgba(63, 108, 63, 1);
    --g-color-private-green-350-solid: rgba(68, 123, 67, 1);
    --g-color-private-green-400-solid: rgba(74, 137, 72, 1);
    --g-color-private-green-450-solid: rgba(80, 152, 77, 1);
    --g-color-private-green-500-solid: rgba(85, 166, 82, 1);
    --g-color-private-green-550-solid: rgba(91, 181, 87, 1);
    --g-color-private-green-600-solid: rgba(107, 188, 104, 1);
    --g-color-private-green-650-solid: rgba(124, 196, 121, 1);
    --g-color-private-green-700-solid: rgba(140, 203, 137, 1);
    --g-color-private-green-750-solid: rgba(157, 211, 154, 1);
    --g-color-private-green-800-solid: rgba(173, 218, 171, 1);
    --g-color-private-green-850-solid: rgba(189, 225, 188, 1);
    --g-color-private-green-900-solid: rgba(206, 233, 205, 1);
    --g-color-private-green-950-solid: rgba(222, 240, 221, 1);
    --g-color-private-green-1000-solid: rgba(239, 248, 238, 1);

    /*—————————  should be deleted and changed with -solid  —————————*/
    --g-color-private-yellow-700: #e0bd34;

    --g-color-private-yellow-50: rgba(255, 203, 0, 0.05);
    --g-color-private-yellow-100: rgba(255, 203, 0, 0.1);
    --g-color-private-yellow-150: rgba(255, 203, 0, 0.2);
    --g-color-private-yellow-200: rgba(255, 203, 0, 0.3);
    --g-color-private-yellow-250: rgba(255, 203, 0, 0.4);
    --g-color-private-yellow-300: rgba(255, 203, 0, 0.5);
    --g-color-private-yellow-350: rgba(255, 203, 0, 0.6);
    --g-color-private-yellow-400: rgba(255, 203, 0, 0.7);
    --g-color-private-yellow-450: rgba(255, 203, 0, 0.8);
    --g-color-private-yellow-500: rgba(255, 203, 0, 0.9);
    --g-color-private-yellow-550: rgba(255, 203, 0, 1);

    --g-color-private-yellow-50-solid: rgba(45, 43, 36, 1);
    --g-color-private-yellow-100-solid: rgba(56, 52, 34, 1);
    --g-color-private-yellow-150-solid: rgba(78, 69, 30, 1);
    --g-color-private-yellow-200-solid: rgba(100, 85, 27, 1);
    --g-color-private-yellow-250-solid: rgba(122, 102, 23, 1);
    --g-color-private-yellow-300-solid: rgba(144, 119, 19, 1);
    --g-color-private-yellow-350-solid: rgba(167, 136, 15, 1);
    --g-color-private-yellow-400-solid: rgba(189, 153, 11, 1);
    --g-color-private-yellow-450-solid: rgba(211, 169, 8, 1);
    --g-color-private-yellow-500-solid: rgba(233, 186, 4, 1);
    --g-color-private-yellow-550-solid: rgba(255, 203, 0, 1);
    --g-color-private-yellow-600-solid: rgba(255, 208, 26, 1);
    --g-color-private-yellow-650-solid: rgba(255, 213, 51, 1);
    --g-color-private-yellow-700-solid: rgba(255, 219, 76, 1);
    --g-color-private-yellow-750-solid: rgba(255, 224, 102, 1);
    --g-color-private-yellow-800-solid: rgba(255, 229, 128, 1);
    --g-color-private-yellow-850-solid: rgba(255, 234, 153, 1);
    --g-color-private-yellow-900-solid: rgba(255, 239, 179, 1);
    --g-color-private-yellow-950-solid: rgba(255, 245, 204, 1);
    --g-color-private-yellow-1000-solid: rgba(255, 250, 229, 1);

    --g-color-private-red-50: rgba(232, 73, 69, 0.05);
    --g-color-private-red-100: rgba(232, 73, 69, 0.1);
    --g-color-private-red-150: rgba(232, 73, 69, 0.2);
    --g-color-private-red-200: rgba(232, 73, 69, 0.3);
    --g-color-private-red-250: rgba(232, 73, 69, 0.4);
    --g-color-private-red-300: rgba(232, 73, 69, 0.5);
    --g-color-private-red-350: rgba(232, 73, 69, 0.6);
    --g-color-private-red-400: rgba(232, 73, 69, 0.7);
    --g-color-private-red-450: rgba(232, 73, 69, 0.8);
    --g-color-private-red-500: rgba(232, 73, 69, 0.9);
    --g-color-private-red-550: rgba(232, 73, 69, 1);

    --g-color-private-red-50-solid: rgba(44, 37, 40, 1);
    --g-color-private-red-100-solid: rgba(54, 39, 41, 1);
    --g-color-private-red-150-solid: rgba(74, 43, 44, 1);
    --g-color-private-red-200-solid: rgba(93, 46, 47, 1);
    --g-color-private-red-250-solid: rgba(113, 50, 51, 1);
    --g-color-private-red-300-solid: rgba(133, 54, 54, 1);
    --g-color-private-red-350-solid: rgba(153, 58, 57, 1);
    --g-color-private-red-400-solid: rgba(172, 61, 60, 1);
    --g-color-private-red-450-solid: rgba(192, 65, 63, 1);
    --g-color-private-red-500-solid: rgba(212, 69, 66, 1);
    --g-color-private-red-550-solid: rgba(232, 73, 69, 1);
    --g-color-private-red-600-solid: rgba(234, 91, 88, 1);
    --g-color-private-red-650-solid: rgba(236, 109, 107, 1);
    --g-color-private-red-700-solid: rgba(239, 127, 125, 1);
    --g-color-private-red-750-solid: rgba(241, 146, 144, 1);
    --g-color-private-red-800-solid: rgba(243, 164, 162, 1);
    --g-color-private-red-850-solid: rgba(246, 182, 181, 1);
    --g-color-private-red-900-solid: rgba(248, 200, 199, 1);
    --g-color-private-red-950-solid: rgba(250, 219, 218, 1);
    --g-color-private-red-1000-solid: rgba(253, 237, 236, 1);

    --g-color-private-purple-50: rgba(223, 46, 243, 0.05);
    --g-color-private-purple-100: rgba(223, 46, 243, 0.1);
    --g-color-private-purple-150: rgba(223, 46, 243, 0.2);
    --g-color-private-purple-200: rgba(223, 46, 243, 0.3);
    --g-color-private-purple-250: rgba(223, 46, 243, 0.4);
    --g-color-private-purple-300: rgba(223, 46, 243, 0.5);
    --g-color-private-purple-350: rgba(223, 46, 243, 0.6);
    --g-color-private-purple-400: rgba(223, 46, 243, 0.7);
    --g-color-private-purple-450: rgba(223, 46, 243, 0.8);
    --g-color-private-purple-500: rgba(223, 46, 243, 0.9);
    --g-color-private-purple-550: rgba(223, 46, 243, 1);

    --g-color-private-purple-50-solid: rgba(43, 36, 48, 1);
    --g-color-private-purple-100-solid: rgba(53, 36, 59, 1);
    --g-color-private-purple-150-solid: rgba(72, 37, 79, 1);
    --g-color-private-purple-200-solid: rgba(91, 38, 100, 1);
    --g-color-private-purple-250-solid: rgba(110, 39, 120, 1);
    --g-color-private-purple-300-solid: rgba(128, 40, 141, 1);
    --g-color-private-purple-350-solid: rgba(147, 41, 161, 1);
    --g-color-private-purple-400-solid: rgba(166, 42, 182, 1);
    --g-color-private-purple-450-solid: rgba(185, 43, 202, 1);
    --g-color-private-purple-500-solid: rgba(204, 45, 223, 1);
    --g-color-private-purple-550-solid: rgba(223, 46, 243, 1);
    --g-color-private-purple-600-solid: rgba(226, 67, 245, 1);
    --g-color-private-purple-650-solid: rgba(229, 88, 246, 1);
    --g-color-private-purple-700-solid: rgba(232, 108, 247, 1);
    --g-color-private-purple-750-solid: rgba(236, 129, 248, 1);
    --g-color-private-purple-800-solid: rgba(239, 150, 249, 1);
    --g-color-private-purple-850-solid: rgba(242, 171, 250, 1);
    --g-color-private-purple-900-solid: rgba(245, 192, 252, 1);
    --g-color-private-purple-950-solid: rgba(249, 213, 253, 1);
    --g-color-private-purple-1000-solid: rgba(252, 234, 254, 1);

    --g-color-private-cool-grey-50: rgba(96, 128, 156, 0.05);
    --g-color-private-cool-grey-100: rgba(96, 128, 156, 0.1);
    --g-color-private-cool-grey-150: rgba(96, 128, 156, 0.2);
    --g-color-private-cool-grey-200: rgba(96, 128, 156, 0.3);
    --g-color-private-cool-grey-250: rgba(96, 128, 156, 0.4);
    --g-color-private-cool-grey-300: rgba(96, 128, 156, 0.5);
    --g-color-private-cool-grey-350: rgba(96, 128, 156, 0.6);
    --g-color-private-cool-grey-400: rgba(96, 128, 156, 0.7);
    --g-color-private-cool-grey-450: rgba(96, 128, 156, 0.8);
    --g-color-private-cool-grey-500: rgba(96, 128, 156, 0.9);
    --g-color-private-cool-grey-550: rgba(96, 128, 156, 1);

    --g-color-private-cool-grey-50-solid: rgba(37, 40, 44, 1);
    --g-color-private-cool-grey-100-solid: rgba(40, 44, 50, 1);
    --g-color-private-cool-grey-150-solid: rgba(46, 54, 62, 1);
    --g-color-private-cool-grey-200-solid: rgba(53, 63, 73, 1);
    --g-color-private-cool-grey-250-solid: rgba(59, 72, 85, 1);
    --g-color-private-cool-grey-300-solid: rgba(65, 81, 97, 1);
    --g-color-private-cool-grey-350-solid: rgba(71, 91, 109, 1);
    --g-color-private-cool-grey-400-solid: rgba(77, 100, 121, 1);
    --g-color-private-cool-grey-450-solid: rgba(84, 109, 132, 1);
    --g-color-private-cool-grey-500-solid: rgba(90, 119, 144, 1);
    --g-color-private-cool-grey-550-solid: rgba(96, 128, 156, 1);
    --g-color-private-cool-grey-600-solid: rgba(112, 141, 166, 1);
    --g-color-private-cool-grey-650-solid: rgba(128, 153, 176, 1);
    --g-color-private-cool-grey-700-solid: rgba(144, 166, 186, 1);
    --g-color-private-cool-grey-750-solid: rgba(160, 179, 195, 1);
    --g-color-private-cool-grey-800-solid: rgba(176, 191, 205, 1);
    --g-color-private-cool-grey-850-solid: rgba(191, 204, 215, 1);
    --g-color-private-cool-grey-900-solid: rgba(207, 217, 225, 1);
    --g-color-private-cool-grey-950-solid: rgba(223, 230, 235, 1);
    --g-color-private-cool-grey-1000-solid: rgba(239, 242, 245, 1);

    --g-color-private-orange-50: rgba(200, 99, 12, 0.05);
    --g-color-private-orange-100: rgba(200, 99, 12, 0.1);
    --g-color-private-orange-150: rgba(200, 99, 12, 0.2);
    --g-color-private-orange-200: rgba(200, 99, 12, 0.3);
    --g-color-private-orange-250: rgba(200, 99, 12, 0.4);
    --g-color-private-orange-300: rgba(200, 99, 12, 0.5);
    --g-color-private-orange-350: rgba(200, 99, 12, 0.6);
    --g-color-private-orange-400: rgba(200, 99, 12, 0.7);
    --g-color-private-orange-450: rgba(200, 99, 12, 0.8);
    --g-color-private-orange-500: rgba(200, 99, 12, 0.9);
    --g-color-private-orange-550: rgba(200, 99, 12, 1);

    --g-color-private-orange-50-solid: rgba(42, 38, 37, 1);
    --g-color-private-orange-100-solid: rgba(51, 41, 35, 1);
    --g-color-private-orange-150-solid: rgba(67, 48, 33, 1);
    --g-color-private-orange-200-solid: rgba(84, 54, 30, 1);
    --g-color-private-orange-250-solid: rgba(100, 61, 28, 1);
    --g-color-private-orange-300-solid: rgba(117, 67, 25, 1);
    --g-color-private-orange-350-solid: rgba(134, 73, 22, 1);
    --g-color-private-orange-400-solid: rgba(150, 80, 20, 1);
    --g-color-private-orange-450-solid: rgba(167, 86, 17, 1);
    --g-color-private-orange-500-solid: rgba(183, 93, 15, 1);
    --g-color-private-orange-550-solid: rgba(200, 99, 12, 1);
    --g-color-private-orange-600-solid: rgba(206, 115, 36, 1);
    --g-color-private-orange-650-solid: rgba(211, 130, 61, 1);
    --g-color-private-orange-700-solid: rgba(216, 146, 85, 1);
    --g-color-private-orange-750-solid: rgba(222, 161, 109, 1);
    --g-color-private-orange-800-solid: rgba(227, 177, 133, 1);
    --g-color-private-orange-850-solid: rgba(233, 193, 158, 1);
    --g-color-private-orange-900-solid: rgba(239, 208, 182, 1);
    --g-color-private-orange-950-solid: rgba(244, 224, 206, 1);
    --g-color-private-orange-1000-solid: rgba(250, 239, 231, 1);
}
