@use '../../variables';

$block: '.#{variables.$ns}select-showcase';
$blockSelectClear: '.#{variables.$ns-new}select-clear';

.select-width-50 {
    width: 50px;
}

.select-width-300 {
    width: 300px;
}

#{$block} {
    display: flex;
    flex-direction: column;
    row-gap: 2px;

    & h3 {
        margin: 5px 0;
    }

    & pre {
        position: relative;
        padding: 10px;
        border-radius: 4px;
        background-color: var(--g-color-base-float-hover);
    }

    &__example-item {
        margin-bottom: 15px;
    }

    &__example-item-radio {
        margin-left: 10px;
    }

    &__copy-button {
        position: absolute;
        top: 6px;
        right: 6px;
        z-index: 1;
    }

    &__user-control {
        display: inline-flex;

        #{$block}_has-clear #{$block}__text {
            vertical-align: top;
        }
    }

    &__user-control-placement {
        display: inline-flex;

        margin: 0 100px;
    }

    &__user-clear-icon {
        margin-left: 6px;
    }

    &__custom-popup {
        margin-top: 10px;
        border-radius: 12px;

        .yc-list__item {
            margin: 4px;
            border-radius: 12px;
        }
    }
}
