@import '../../variables';

$block: '.#{$ns}select-showcase';

#{$block} {
    &__container {
        width: 50%;
        padding: 10px 0;
        border: 2px dashed green;
    }

    &__value-controls {
        display: flex;
        align-items: center;
        column-gap: 10px;
        margin-bottom: 5px;
    }
}
