$slider-color: var(--g-color-base-brand);
$slider-error-color: var(--g-color-base-danger-heavy);
$slider-disabled-color: var(--g-color-base-generic-accent); // --g-color-misc-axis in figma
$handle-center-color: var(--g-color-base-background);

$slider-tooltip-offset: 6px;
