name: CI

on:
  push:
    branches: [main, next]
  pull_request:
    branches: [main, next]

jobs:
  verify_files:
    name: Verify Files
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Setup Node
      uses: actions/setup-node@v2
      with:
        node-version: '14.x'
        cache: 'npm'
    - name: Install Packages
      run: npm ci
    - name: Lint Files
      run: npm run lint
    - name: Typecheck
      run: npm run typecheck
    - name: Typecheck (React 18)
      run: |
        npm i --no-save @types/react@18 @types/react-dom@18
        npm run typecheck

  tests:
    name: Tests
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Setup Node
      uses: actions/setup-node@v2
      with:
        node-version: '14.x'
        cache: 'npm'
    - name: Install Packages
      run: npm ci
    - name: Unit Tests
      run: npm run test

