name: Main Preview

on:
  push:
    branches: [main]

jobs:
  main:
    name: Build and Deploy
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Setup Node
      uses: actions/setup-node@v2
      with:
        node-version: 14
    - name: Install Packages
      run: npm ci
      shell: bash
    - name: Build Storybook
      run: npx build-storybook
      shell: bash
      env:
        TS_NODE_PROJECT: .storybook/tsconfig.json
    - name: Upload to S3
      uses: gravity-ui/preview-upload-to-s3-action@v1
      with:
        src-path: storybook-static
        dest-path: /gravity-ui-base/main/
        s3-key-id: ${{ secrets.STORYBOOK_S3_KEY_ID }}
        s3-secret-key: ${{ secrets.STORYBOOK_S3_SECRET_KEY }}
