name: Release

on:
  push:
    branches:
      - main
      - release/v*

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Release from ${{ github.ref_name }}
        uses: gravity-ui/release-action@v1
        with:
          github-token: ${{ secrets.GRAVITY_UI_BOT_GITHUB_TOKEN }}
          npm-token: ${{ secrets.GRAVITY_UI_BOT_NPM_TOKEN }}
          node-version: 20
          default-branch: ${{ github.ref_name != 'main' && github.ref_name || null }}
          npm-dist-tag: ${{ github.ref_name != 'main' && 'untagged' || 'latest' }}
